@model IEnumerable<DocuPath.DataLayer.EXTERNAL_REVIEW_CASE>
@{ ViewBag.Title = "All"; ViewBag.GenericHAPTICLocator = "AllGeneric"; ViewBag.SpecificHAPTICLocator = "AllERCSpecific"; ViewBag.PageInfoLocator = "AllERC"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("External Review Cases", "All") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-erc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">ALL EXTERNAL REVIEW CASES</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-five">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/ExternalReviewCase/Add" style="margin-top: 2px">
                    @* TODO: Link form action to ADD ERC *@
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-add btn-mdl2icon" type="submit" data-toggle="tooltip" title="ADD EXTERNAL CASE"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnDensityToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-density btn-mdl2icon" data-toggle="tooltip" title="TOGGLE TABLE DENSITY"></button>
                </form>
            </div>
            <div grid-area="btn4">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn5">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>

@* ASPTABLE WITH ALL FORENSIC CASES: *@
<table id="allERC" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-id="identifier" data-column-id="ERCID" data-visible="false" data-identifier="true" data-converter="numeric" class="colour-dpred">
                @Html.DisplayNameFor(model => model.ExternalReviewCaseID)
            </th>
            <th data-column-id="addedBy" class="colour-dpred">
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th data-column-id="status" class="colour-dpred">
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th data-column-id="ERCDR" data-cssClass="table-large-identifier" data-formatter="drnumbers" class="colour-dpred">
                @Html.DisplayNameFor(model => model.ExternalDRNumber)
            </th>
            <th data-column-id="briefDesc" class="colour-dpred">
                @Html.DisplayNameFor(model => model.ERCBriefDescription)
            </th>
            <th data-column-id="dateAdded" data-converter="dpdate" data-order="desc" class="colour-dpred">
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false" class="colour-dpred">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.STATUS.StatusValue != "Archived")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExternalReviewCaseID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USER.FirstName) @Html.DisplayFor(modelItem => item.USER.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS.StatusValue)
                    </td>
                    <td class="table-large-identifier">
                        @Html.DisplayFor(modelItem => item.ExternalDRNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ERCBriefDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@* NOTIFICATION/WARNING MODALS: *@
@foreach (var erc in Model)
{
    if (erc.STATUS.StatusValue != "Pending" || erc.STATUS.StatusValue != "Locked")
    {
        <div id="del-modal-@erc.ExternalReviewCaseID" class="modal-background hidden">
            <div class="modalbox">
                <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
                <div class="modalbox-message-text">
                    Are you sure you want to <idntwarn>DELETE</idntwarn> External Review Case <idntwarn>@erc.ExternalDRNumber</idntwarn>?
                </div>
                @* HELP/INFO *@
                <div class="panel-group" id="delete-modal-help-@erc.ExternalReviewCaseID">
                    <div class="modal-help-panel">
                        <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#delete-modal-helpbody-@erc.ExternalReviewCaseID" data-parent="#delete-modal-help-@erc.ExternalReviewCaseID">More Information</div>
                        <div id="delete-modal-helpbody-@erc.ExternalReviewCaseID" class="panel-collapse collapse modalbox-help-panel-text">
                            <p style="margin-bottom: 0px; font-weight: bold">Code: W001</p>
                            <hr class="modal-help-hr-warning" />
                            <ul style="margin-bottom: 0">
                                <li>This action cannot be reverted.</li>
                                <li>This action requires authorisation by a Superuser.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @* BUTTONS *@
                <div class="modalbox-button-bar col-md-12 modal-btn-col">
                    @*<div class="">*@
                    <input type="button" id="del-yes-@erc.ExternalReviewCaseID" href="~/ExternalReviewCase/Delete/@erc.ExternalReviewCaseID" value="Yes" class="btn btn-modal-generic" />
                    <input type="submit" id="del-no-@erc.ExternalReviewCaseID" onclick="$('#del-modal-'+@erc.ExternalReviewCaseID).addClass('hidden')" value="No" class="btn btn-modal-generic" />
                    @*</div>*@
                </div>
            </div>
        </div>
    }

    if (erc.STATUS.StatusValue == "Active")
    {
        <div id="lock-modal-@erc.ExternalReviewCaseID" class="modal-background hidden">
            <div class="modalbox">
                <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
                <div class="modalbox-message-text">
                    Are you sure you want to <idntwarn>LOCK</idntwarn> External Review Case <idntwarn>@erc.ExternalDRNumber</idntwarn>?
                </div>
                @* HELP/INFO *@
                @*<div class="panel-group" id="lock-modal-help-@fc.ForensicCaseID">
                        <div class="modal-help-panel">
                            <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#lock-modal-helpbody-@fc.ForensicCaseID" data-parent="#lock-modal-help-@fc.ForensicCaseID">More Information</div>
                            <div id="lock-modal-helpbody-@fc.ForensicCaseID" class="panel-collapse collapse modalbox-help-panel-text">
                                <p style="margin-bottom: 0px; font-weight: bold">Code: W003</p>
                                <hr class="modal-help-hr-warning" />
                                <ul style="margin-bottom: 0">
                                    <li>This action will result in a status change of the Forensic Case on the system.</li>
                                    <li>This action requires authorisation by a Superuser.</li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
                @* BUTTONS *@
                <div class="modalbox-button-bar col-md-12 modal-btn-col">
                    @*<div class="">*@
                    <input type="button" id="lock-yes-@erc.ExternalReviewCaseID" href="~/ExternalReviewCase/Lock/@erc.ExternalReviewCaseID" value="Yes" class="btn btn-modal-generic" />
                    <input type="submit" id="lock-no-@erc.ExternalReviewCaseID" onclick="$('#lock-modal-'+@erc.ExternalReviewCaseID).addClass('hidden')" value="No" class="btn btn-modal-generic" />
                    @*</div>*@
                </div>
            </div>
        </div>
    }

    if (erc.STATUS.StatusValue == "Locked")
    {
        <div id="unlock-modal-@erc.ExternalReviewCaseID" class="modal-background hidden">
            <div class="modalbox">
                <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
                <div class="modalbox-message-text">
                    Are you sure you want to <idntwarn>UNLOCK</idntwarn> External Review Case <idntwarn>@erc.ExternalDRNumber</idntwarn>?
                </div>
                @* HELP/INFO *@
                <div class="panel-group" id="unlock-modal-help-@erc.ExternalReviewCaseID">
                    <div class="modal-help-panel">
                        <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#unlock-modal-helpbody-@erc.ExternalReviewCaseID" data-parent="#unlock-modal-help-@erc.ExternalReviewCaseID">More Information</div>
                        <div id="unlock-modal-helpbody-@erc.ExternalReviewCaseID" class="panel-collapse collapse modalbox-help-panel-text">
                            <p style="margin-bottom: 0px; font-weight: bold">Code: W002</p>
                            <hr class="modal-help-hr-warning" />
                            <ul style="margin-bottom: 0">
                                <li>This action requires a motivation/reason.</li>
                                <li>This action requires authorisation by a Superuser.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @* BUTTONS *@
                <div class="modalbox-button-bar col-md-12 modal-btn-col">
                    <input type="button" id="unlock-yes-@erc.ExternalReviewCaseID" onclick="$('#unlock-yes-'+@erc.ExternalReviewCaseID).addClass('hidden'); $('#unlock-no-'+@erc.ExternalReviewCaseID).addClass('hidden'); $('#reason-'+@erc.ExternalReviewCaseID).removeClass('hidden'); $('#finalize-'+@erc.ExternalReviewCaseID).removeClass('hidden'); " value="Yes" class="btn btn-modal-generic" />
                    <input type="submit" id="unlock-no-@erc.ExternalReviewCaseID" onclick="$('#unlock-modal-'+@erc.ExternalReviewCaseID).addClass('hidden')" value="No" class="btn btn-modal-generic" />
                    <div class="input-group pull-right">
                        <input type="text" placeholder="Please provide a reason..." id="reason-@erc.ExternalReviewCaseID" onfocus="this.select()" onmouseup="return false;" class="form-control hidden txt-motivation" />
                        <input type="button" id="finalize-@erc.ExternalReviewCaseID" href="~/ExternalReviewCase/Unlock/@erc.ExternalReviewCaseID" value="Finalize" class="btn btn-modal-generic hidden" />
                    </div>
                </div>
            </div>
        </div>
    }
}



@section Scripts {
    @Scripts.Render("~/bundles/bootgrid")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/materialdatetime")

    <script id="loadBootgrid" type="text/javascript">
        var grid = $("#allERC").bootgrid({
            caseSensitive: false,
            converters: {
                dpdate: {
                    from: function (value) { return moment(value); },
                    to: function (value) { return value.format("ddd D MMM YYYY"); }
                }
            },
            formatters: {
                // INSERTS APPROPRIATE ACTION BUTTONS FOR EACH LINE IN THE ASPTABLE:
                "commands": function (column, row) {
                    var checkStatus = row.status.trim().toUpperCase();
                    //return checkStatus.toUpperCase();

                    switch (checkStatus) {
                        case "LOCKED":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                        "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-unlock\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"UNLOCK\" data-placement=\"top\"><span class=\"mdl2icon mdl2-unlock\"></span></button>";
                        case "ACTIVE":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"EDIT\" data-placement=\"top\"><span class=\"mdl2icon mdl2-edit\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"DELETE\" data-placement=\"top\" data-target=\"#del-modal-" + row.ERCID + "\"><span class=\"mdl2icon mdl2-delete\"></span></button> " +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-lock\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"LOCK\" data-placement=\"top\"><span class=\"mdl2icon mdl2-lock\"></span></button>";
                        case "PENDING":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>";
                        default:
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"EDIT\" data-placement=\"top\"><span class=\"mdl2icon mdl2-edit\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"DELETE\" data-placement=\"top\" data-target=\"#del-modal-" + row.ERCID + "\"><span class=\"mdl2icon mdl2-delete\"></span></button> " +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-lock\" data-row-id=\"" + row.ERCID + "\" data-toggle=\"tooltip\" title=\"LOCK\" data-placement=\"top\"><span class=\"mdl2icon mdl2-lock\"></span></button>";
                    }
                 },
                "drnumbers": function (column, row) { /* APPLY LARGE IDENTIFIER CLASS TO ALL DR NUMBERS: */
                    return "<span class=\"table-large-identifier\">"+ row.ERCDR + "</span>";
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".cmd-delete").on("click", function (e) { this.blur(); $('#del-modal-' + $(this).data("row-id")).removeClass('hidden'); }).tooltip().end()
                .find(".cmd-lock").on("click", function (e) { this.blur(); $('#lock-modal-' + $(this).data("row-id")).removeClass('hidden'); }).tooltip().end()
                .find(".cmd-unlock").on("click", function (e) { this.blur(); $('#unlock-modal-' + $(this).data("row-id")).removeClass('hidden'); }).tooltip().end()
                .find(".cmd-edit").on("click", function (e) { this.blur(); window.location = "/ExternalReviewCase/Edit/" + $(this).data("row-id"); }).tooltip().end()
                .find(".cmd-view").on("click", function (e) { this.blur(); window.location = "/ExternalReviewCase/Details/" + $(this).data("row-id"); }).tooltip().end()                
                .find(".pagination").tooltip().end()
                .find(".infos").tooltip().end()
        });
    </script>

    <script id="onDomReady" type="text/javascript">
        // Enable tooltips:
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // Toggle Table Density:
        $("#btnDensityToggle").click(function () {
            var $target = $("#allERC");
            var $condensed = "table-condensed";
            var $minimal = "table-minimal"
            if ($target.hasClass($condensed) === false && $target.hasClass($minimal) === false) { $target.addClass($condensed); }
            else if ($target.hasClass($condensed)) { $target.removeClass($condensed); $target.addClass($minimal); }
            else if ($target.hasClass($minimal)) { $target.removeClass($minimal); }
            $("#btnDensityToggle").blur()
        });
    </script>
}
