@model DocuPath.DataLayer.EXTERNAL_REVIEW_CASE
@using DocuPath.Models
@{ ViewBag.Title = "Details"; ViewBag.GenericHAPTICLocator = "ViewGeneric"; ViewBag.SpecificHAPTICLocator = "ViewERCSpecific"; ViewBag.PageInfoLocator = "ViewERC"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li>@Html.ActionLink("External Review Cases", "All", "ExternalReviewCase") </li>
    <li class="active">@Html.ActionLink("View External Review Case", "Details") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-erc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">VIEW EXTERNAL REVIEW CASE</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-three">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/ExternalReviewCase/All" method="post" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-backprevious btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="BACK TO LIST"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* DETAILS OF SELECTED EXTERNAL REVIEW CASE: *@
<div class="form-horizontal border-generic form-generic grid erc-view-grid" style="padding-bottom: 0">
    <div class="panel panel-default nomarg" grid-area="details">
        <div class="panel-heading">
            <span class="mdl2icon mdl2-erc panel-mdl2icon"></span>
            <span>EXTERNAL REVIEW CASE DETAILS</span>
        </div>
        <div id="ERCPanel" class="panel-collapse collapse in">
            <div class="panel-body" style="text-align: left">
                <dl class="dl-horizontal-small">
                    <dt style="padding-top: 5.2px">
                        @Html.DisplayNameFor(model => model.ExternalDRNumber)
                    </dt>

                    <dd class="large-identifier">
                        @Html.DisplayFor(model => model.ExternalDRNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ERCBriefDescription)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ERCBriefDescription)
                    </dd>
                    <hr class="details-hr" />
                    <dt>
                        @Html.DisplayNameFor(model => model.UserID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.USER.FirstName) @Html.DisplayFor(model => model.USER.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateAdded)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateAdded)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateClosed)
                    </dt>
                    @if (Model.DateClosed == null || Model.DateClosed.Value.Year == 9999)
                    {
                        <dd class="status-inactive">Active Case</dd>
                    }
                    else
                    {
                        <dd>
                            @ViewBag.DateClosed
                        </dd>                        
                    }


                    @*<dt>
                            @Html.DisplayNameFor(model => model.CoverLetterLocation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CoverLetterLocation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ExtCaseReportLocation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ExtCaseReportLocation)
                        </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.STATUS.StatusValue)
                    </dt>
                    @if (Model.STATUS.StatusValue == "Active")
                    {
                        <dd class="status-ok">Active</dd>
                    }
                    else if (Model.STATUS.StatusValue == "Pending")
                    {
                        <dd class="status-warning">Pending</dd>
                    }
                    else if (Model.STATUS.StatusValue == "Locked")
                    {
                        <dd class="status-danger">Locked</dd>
                    }
                    @*<dd>
                        @Html.DisplayFor(model => model.STATUS.StatusValue)
                    </dd>*@
                </dl>
            </div>
        </div>
    </div>
    <div class="panel panel-default nomarg" grid-area="cover">
        <div class="panel-heading params-panel-heading-grid" @*data-toggle="collapse" data-parent="#LCDetailsAccordion" href="#LCDocsPanel" style="cursor: pointer"*@>
            @if (Model.CoverLetterLocation == null)
            {
                <span class="mdl2icon mdl2-file panel-mdl2icon" grid-area="parm_hdr_ico"></span>
                <span grid-area="parm_hdr_txt">COVER LETTER</span>
            }
            else if (Model.CoverLetterLocation != null)
            {
                <span class="mdl2icon mdl2-file panel-mdl2icon" grid-area="parm_hdr_ico"></span>
                <span grid-area="parm_hdr_txt">COVER LETTER</span>
                <button id="btnViewCover" type="button" class="btn btn-default btn-generic btn-page-action btn-param-action mdl2icon mdl2-view btn-mdl2icon" grid-area="parm_hdr_btn" data-toggle="tooltip" title="VIEW" data-placement="bottom"></button>
            }
        </div>
        <div id="CoverLetterPanel" class="panel-collapse collapse in">
            <div class="panel-body text-center apad5" style="padding-top: 25px">
                @if (Model.CoverLetterLocation == null)
                {
                    @Html.Raw(@VERTEBRAE.GetFileTypeThumbnail("", false))
                    <p class="filetype-thumbnail-filename">NO FILE UPLOADED</p>
                }
                else if (Model.CoverLetterLocation != null)
                {
                    @Html.Raw(@VERTEBRAE.GetFileTypeThumbnail(Path.GetExtension(Model.CoverLetterLocation).Replace(".", ""), false))
                    <p class="filetype-thumbnail-filename">@Path.GetFileName(Model.CoverLetterLocation)</p>

                @*<img src="@VERTEBRAE.GetThumbUrl(Model.CoverLetterLocation)" class='media-thumb thumbsize-normal'/>*@
                @*<img src="~/Content/Resources/ERCCoverLetterPreview.png" style="max-width: 57%" />*@

                <div class="modal fade" id="coverPreview" role="dialog">
                    <div class="modal-dialog" style="width:1200px;height:auto;max-height:600px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="grid hdr-grid">
                                    <div class="page-hdr">
                                        <div class="page-header-subgrid">
                                            <div class="icon-circle mdl2icon mdl2-file"></div>
                                            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
                                            <div class="page-header-text">VIEW EXTERNAL REVIEW CASE COVER LETTER</div>
                                        </div>
                                    </div>
                                    <div class="page-btns">
                                        <div class="page-buttons-subgrid buttons-one">
                                            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
                                            <div></div>
                                            <div grid-area="btn1">
                                                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                                                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-cancel btn-mdl2icon" onclick="this.blur()" data-dismiss="modal" type="submit" data-toggle="tooltip" title="CLOSE" data-placement="right"></button>
                                                </form>
                                            </div>
                                            <div></div>
                                            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                @*<iframe class="frame1" src="~/@VERTEBRAE.GetUrl(item.AdditionalEvidenceLocation)" height="650" width="1165"></iframe>*@
                                <embed src="~/@VERTEBRAE.GetUrl(Model.CoverLetterLocation)" height="650" width="1165" type="text/pdf" />
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-default nomarg" grid-area="report">
        <div class="panel-heading params-panel-heading-grid" @*data-toggle="collapse" data-parent="#LCDetailsAccordion" href="#LCDocsPanel" style="cursor: pointer"*@>
            @if (Model.ExtCaseReportLocation == null)
            {
                <span class="mdl2icon mdl2-file panel-mdl2icon" grid-area="parm_hdr_ico"></span>
                <span grid-area="parm_hdr_txt">CASE REPORT</span>
            }
            else if (Model.ExtCaseReportLocation != null)
            {
                <span class="mdl2icon mdl2-file panel-mdl2icon" grid-area="parm_hdr_ico"></span>
                <span grid-area="parm_hdr_txt">CASE REPORT</span>
                <button id="btnViewReport" type="button" class="btn btn-default btn-generic btn-page-action btn-param-action mdl2icon mdl2-view btn-mdl2icon" onclick="this.blur()" grid-area="parm_hdr_btn" data-toggle="tooltip" title="VIEW" data-placement="bottom"></button>
            }
        </div>        
        <div id="ERCReportPanel" class="panel-collapse collapse in">
            <div class="panel-body text-center apad5" style="padding-top: 25px">
                @if (Model.ExtCaseReportLocation == null)
                {
                    @Html.Raw(@VERTEBRAE.GetFileTypeThumbnail("", false))
                    <p class="filetype-thumbnail-filename">NO FILE UPLOADED</p>
                }
                else if (Model.ExtCaseReportLocation != null)
                {
                    @Html.Raw(@VERTEBRAE.GetFileTypeThumbnail(Path.GetExtension(Model.ExtCaseReportLocation).Replace(".", ""), false))
                    <p class="filetype-thumbnail-filename">@Path.GetFileName(Model.ExtCaseReportLocation)</p>

                @*<img src="~/Content/Resources/NoERCCaseReport.png" style="max-width: 57%" />*@

                <div class="modal fade" id="reportPreview" role="dialog">
                    <div class="modal-dialog" style="width:1200px;height:auto;max-height:600px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="grid hdr-grid">
                                    <div class="page-hdr">
                                        <div class="page-header-subgrid">
                                            <div class="icon-circle mdl2icon mdl2-file"></div>
                                            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
                                            <div class="page-header-text">VIEW EXTERNAL REVIEW CASE REPORT</div>
                                        </div>
                                    </div>
                                    <div class="page-btns">
                                        <div class="page-buttons-subgrid buttons-one">
                                            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
                                            <div></div>
                                            <div grid-area="btn1">
                                                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                                                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-cancel btn-mdl2icon" onclick="this.blur()" data-dismiss="modal" type="submit" data-toggle="tooltip" title="CLOSE" data-placement="right"></button>
                                                </form>
                                            </div>
                                            <div></div>
                                            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                @*<iframe class="frame1" src="~/@VERTEBRAE.GetUrl(item.AdditionalEvidenceLocation)" height="650" width="1165"></iframe>*@
                                <embed src="~/@VERTEBRAE.GetUrl(Model.ExtCaseReportLocation)" height="650" width="1165" type="text/pdf" />
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script id="onDomReady" type="text/javascript">
        // Enable tooltips:
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $('#btnViewCover').click(function () {
            //alert('view cover clicked');
            $('#coverPreview').modal('show');
        });

        $('#btnViewReport').click(function () {
            //alert('view report clicked');
            $('#reportPreview').modal('show');
        });
    </script>
}