@model DocuPath.DataLayer.EXTERNAL_REVIEW_CASE
@using DocuPath.Models
@{ ViewBag.Title = "Update"; ViewBag.GenericHAPTICLocator = "UpdateGeneric"; ViewBag.SpecificHAPTICLocator = "UpdateERCSpecific"; ViewBag.PageInfoLocator = "UpdateERC"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li>@Html.ActionLink("External Review Cases", "All", "ExternalReviewCase") </li>
    <li class="active">@Html.ActionLink("Update External Review Case", "Edit") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-erc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">UPDATE EXTERNAL REVIEW CASE</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-four">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/ExternalReviewCase/All" method="post" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-backprevious btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="BACK TO LIST"></button>
                </form>
            </div><div grid-area="btn2">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnSave"class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-save btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="SAVE & EXIT"></button>
                </form>
            </div>
            <div grid-area="btn3">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn4">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
            @* POST FORM *@
            <form action="~/ExternalReviewCase/Edit/@Model.ExternalReviewCaseID" method="post"><input id="btnPOST" class="hidden" type="submit" /></form>
@* DETAILS OF SELECTED EXTERNAL REVIEW CASE: *@
<div class="form-horizontal border-generic form-generic">
    <ul class="nav nav-tabs">
        <li class="active"><a class="dynamic-tab-heading" data-toggle="tab" href="#DETAILS">EXTERNAL REVIEW CASE DETAILS</a></li>
        <li><a class="dynamic-tab-heading" data-toggle="tab" href="#DOCS" style="margin-left: 5px">EXTERNAL REVIEW CASE DOCUMENTS</a></li>
    </ul>
    <div class="tab-content">
        @* DETAILS *@
        <div id="DETAILS" class="tab-pane fade in active nomarg" style="padding-top: 5px">
            <div class="panel panel-default nomarg">
                <div class="panel-heading" @*data-toggle="collapse" data-parent="#LCDetailsAccordion" href="#LCDetailsPanel" style="cursor: pointer"*@>
                    <span class="mdl2icon mdl2-erc panel-mdl2icon"></span>
                    <span>EXTERNAL REVIEW CASE DETAILS</span>
                </div>
                <div id="ERCDetailsPanel" class="panel-default">
                    @*@Html.HiddenFor(m => m.legacyCase.LegacyCaseID)*@
                    <div class="panel-body">
                        <dl class="dl-horizontal-small">
                            <dt style="padding-top: 5.2px">
                                @Html.DisplayNameFor(model => model.ExternalDRNumber)
                            </dt>

                            <dd>
                                @Html.EditorFor(model => model.ExternalDRNumber, new { htmlAttributes = new { @id="ecdr",@class = "form-control large-identifier" } })
                            </dd>

                            <dt style="padding-top: 5.2px">
                                @Html.DisplayNameFor(model => model.ERCBriefDescription)
                            </dt>

                            <dd>
                                @Html.EditorFor(model => model.ERCBriefDescription, new { htmlAttributes = new { @class = "form-control" } })
                            </dd>
                            <hr class="details-hr" />
                            <dt>
                                @Html.DisplayNameFor(model => model.UserID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USER.FirstName) @Html.DisplayFor(model => model.USER.LastName)
                            </dd>
                            <hr class="details-hr" />

                            <dt>
                                @Html.DisplayNameFor(model => model.DateAdded)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateAdded)
                            </dd>

                            <dt style="padding-top: 5.2px">
                                @Html.DisplayNameFor(model => model.DateClosed)
                            </dt>

                            <dd>
                                @Html.EditorFor(model => model.DateClosed, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                            </dd>
                            <hr class="details-hr" />
                            <dt>
                                @Html.DisplayNameFor(model => model.STATUS.StatusValue)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.STATUS.StatusValue)
                            </dd>
                        </dl>

                    </div>
                </div>
            </div>
        </div>
        @* DOCS *@
        <div id="DOCS" class="tab-pane fade" style="padding-top: 5px">
            <div class="grid erc-update-grid">
                @* COVER PREVIEW *@
                <div class="panel panel-default nomarg" grid-area="cover">
                    <div class="panel-heading">
                        <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
                        <span>COVER LETTER</span>
                    </div>
                    <div id="CoverLetterPanel" class="panel-collapse collapse in">
                        <div class="panel-body text-center apad5" style="padding-top: 105px">
                            @if (Model.CoverLetterLocation == null)
                            {
                                @Html.Raw(@VERTEBRAE.GetFileTypeThumbnail("",false))
                                <p class="filetype-thumbnail-filename">NO FILE UPLOADED</p>
                            }
                            else if (Model.CoverLetterLocation != null)
                            {
                                @Html.Raw(@VERTEBRAE.GetFileTypeThumbnail(Path.GetExtension(Model.CoverLetterLocation).Replace(".",""), false))
                                <p class="filetype-thumbnail-filename">@Path.GetFileName(Model.CoverLetterLocation)</p>
                            }

                            @*<img src="@VERTEBRAE.GetThumbUrl(Model.CoverLetterLocation)" class='media-thumb thumbsize-normal' />*@
                            @*<img src="~/Content/Resources/ERCCoverLetterPreview.png" style="max-width: 57%" />*@
                        </div>
                    </div>
                </div>
                @* COVER FILEUPLOAD *@
                <div class="panel panel-default nomarg" id="pnlCoverFile" grid-area="coverUpload">
                    <div class="panel-heading">
                        <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
                        <span>SELECT COVER LETTER TO UPLOAD</span>
                    </div>
                    <div class="panel-body apad5">
                        <div class="row">
                            @*@Html.Label("Upload Files", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })*@
                            <div class="col-md-12 file-input theme-fa file-input-ajax-new">
                                <input id="ercCover" name="ercCover" type="file" @*class="file-loading"*@ />
                                @*<input id="input-fa" name="inputfa[]" type="file" multiple class="file-loading">*@
                                @*@Html.Editor("Upload", new { htmlAttributes = new { @type = "file", @class = "form-control", @multiple = "true", @id = "ofdLegacyCase", @style = "width: 100%" } })*@
                            </div>
                        </div>
                    </div>
                </div>
                @* REPORT PREVIEW *@
                <div class="panel panel-default nomarg" grid-area="report">
                    <div class="panel-heading">
                        <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
                        <span>Case Report</span>
                    </div>
                    <div id="ERCReportPanel" class="panel-collapse collapse in">
                        <div class="panel-body text-center apad5" style="padding-top: 105px">
                            @if (Model.CoverLetterLocation == null)
                            {
                                @Html.Raw(@VERTEBRAE.GetFileTypeThumbnail("", false))
                                <p class="filetype-thumbnail-filename">NO FILE UPLOADED</p>
                            }
                            else if (Model.CoverLetterLocation != null)
                            {
                                @Html.Raw(@VERTEBRAE.GetFileTypeThumbnail(Path.GetExtension(Model.ExtCaseReportLocation).Replace(".", ""), false))
                                <p class="filetype-thumbnail-filename">@Path.GetFileName(Model.ExtCaseReportLocation)</p>
                            }

                            @*<img src="~/Content/Resources/NoERCCaseReport.png" style="max-width: 57%" />*@
                        </div>
                    </div>
                </div>
                @* REPORT UPLOAD *@
                <div class="panel panel-default nomarg" id="pnlReportFile" grid-area="reportUpload">
                    <div class="panel-heading">
                        <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
                        <span>SELECT REPORT TO UPLOAD</span>
                    </div>
                    <div class="panel-body apad5">
                        <div class="row">
                            @*@Html.Label("Upload Files", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })*@
                            <div class="col-md-12 file-input theme-fa file-input-ajax-new">
                                <input id="ercReport" name="ercReport" type="file" @*class="file-loading"*@ />
                                @*<input id="input-fa" name="inputfa[]" type="file" multiple class="file-loading">*@
                                @*@Html.Editor("Upload", new { htmlAttributes = new { @type = "file", @class = "form-control", @multiple = "true", @id = "ofdLegacyCase", @style = "width: 100%" } })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fileinput")

    <script>
        $(document).ready(function () {
            // ERC Cover FileUpload:
            $("#ercCover").fileinput({
                theme: "fa",
                uploadUrl: "/ForensicCase/UploadAdditionalEvidenceItems/", // TODO: URL HERE
                fileActionSettings: {
                    showUpload: false
                },
                previewZoomButtonIcons: {
                    close: ''
                },
                previewZoomButtonClasses: {
                    prev: 'btn btn-navigate',
                    next: 'btn btn-navigate',
                    toggleheader: 'btn btn-kv btn-default btn-outline-secondary hidden',
                    fullscreen: 'btn btn-kv btn-default btn-outline-secondary hidden',
                    borderless: 'btn btn-kv btn-default btn-outline-secondary hidden',
                    close: 'btn btn-default btn-generic btn-page-action mdl2icon mdl2-cancel btn-mdl2icon'
                },
                allowedFileExtensions: ['doc', 'dot', 'docx', 'dotx', 'xls', 'xlt', 'xlsx', 'xltx', 'ppt', 'pot', 'pptx', 'potx', 'pdf', 'txt'],
                maxFileCount: 1
            });

            // ERC Report FileUpload:
            $("#ercReport").fileinput({
                theme: "fa",
                uploadUrl: "/ForensicCase/UploadAdditionalEvidenceItems/", // TODO: URL HERE
                fileActionSettings: {
                    showUpload: false
                },
                previewZoomButtonIcons: {
                    close: ''
                },
                previewZoomButtonClasses: {
                    prev: 'btn btn-navigate',
                    next: 'btn btn-navigate',
                    toggleheader: 'btn btn-kv btn-default btn-outline-secondary hidden',
                    fullscreen: 'btn btn-kv btn-default btn-outline-secondary hidden',
                    borderless: 'btn btn-kv btn-default btn-outline-secondary hidden',
                    close: 'btn btn-default btn-generic btn-page-action mdl2icon mdl2-cancel btn-mdl2icon'
                },
                allowedFileExtensions: ['doc', 'dot', 'docx', 'dotx', 'xls', 'xlt', 'xlsx', 'xltx', 'ppt', 'pot', 'pptx', 'potx', 'pdf', 'txt'],
                maxFileCount: 1
            });


            $('#btnSave').click(function () {
                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {
                    var cover = $("#ercCover").fileinput('getFileStack');
                    var report = $("#ercReport").fileinput('getFileStack');

                    // Create FormData object
                    var coverData = new FormData();
                    coverData.append('ECDR', document.getElementById("ecdr").value);
                    coverData.append('instr','cover' );
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < cover.length; i++) {
                        coverData.append(cover[i].name, cover[i]);
                    }
                    gdata = coverData;

                    // Adding one more key to FormData object
                    // none needed here
                    //fileData.append('LCDR', document.getElementById("drnum").value);
                    if (cover.length > 0) {
               // alert()

                        $.ajax({
                            url: '/ExternalReviewCase/UpdateCLFiles/',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: coverData,
                            success: function (result) {
                                alert(result); //Throw Success Modal 404
                                //document.getElementById("btnPOST").click();
                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    }


                    // Create FormData object
                    var reportData = new FormData();
                    reportData.append('ECDR', document.getElementById("ecdr").value);
                    reportData.append('instr', 'report');
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < report.length; i++) {
                        reportData.append(report[i].name, report[i]);
                    }
                    gdata = reportData;

                    // Adding one more key to FormData object
                    // none needed here
                    //fileData.append('LCDR', document.getElementById("drnum").value);
                    if (report.length > 0) {

                        $.ajax({
                            url: '/ExternalReviewCase/UpdateERFiles/',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: reportData,
                            success: function (result) {
                                alert(result); //Throw Success Modal 404
                                //document.getElementById("btnPOST").click();
                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    }
                    
                } else {
                     alert("FormData is not supported.");
                }

                document.getElementById("btnPOST").click();

            });
        });
    </script>
}