@model DocuPath.DataLayer.EXTERNAL_REVIEW_CASE
@using DocuPath.Models
@{ ViewBag.Title = "Details"; ViewBag.GenericHAPTICLocator = "ViewGeneric"; ViewBag.SpecificHAPTICLocator = "ViewERCSpecific"; ViewBag.PageInfoLocator = "ViewERC"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li>@Html.ActionLink("External Review Cases", "All", "ExternalReviewCase") </li>
    <li class="active">@Html.ActionLink("Update External Review Case", "Details") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-erc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">UPDATE EXTERNAL REVIEW CASE</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-four">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/ExternalReviewCase/All" method="post" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-backprevious btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="BACK TO LIST"></button>
                </form>
            </div><div grid-area="btn2">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-save btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="SAVE & EXIT"></button>
                </form>
            </div>
            <div grid-area="btn3">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn4">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* DETAILS OF SELECTED EXTERNAL REVIEW CASE: *@
<div class="form-horizontal border-generic form-generic grid erc-view-grid">
    <div class="panel panel-default nomarg" grid-area="details">
        <div class="panel-heading">
            <span class="mdl2icon mdl2-erc panel-mdl2icon"></span>
            <span>EXTERNAL REVIEW CASE DETAILS</span>
        </div>
        <div id="ERCPanel" class="panel-collapse collapse in">
            <div class="panel-body">
                <dl class="dl-horizontal-small">
                    <dt style="padding-top: 5.2px">
                        @Html.DisplayNameFor(model => model.ExternalDRNumber)
                    </dt>

                    <dd class="large-identifier">
                        @Html.EditorFor(model => model.ExternalDRNumber, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ERCBriefDescription)
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.ERCBriefDescription, new { htmlAttributes = new { @class = "form-control" } })
                    </dd>
                    <hr class="details-hr" />
                    <dt>
                        @Html.DisplayNameFor(model => model.UserID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.USER.FirstName) @Html.DisplayFor(model => model.USER.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateAdded)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateAdded)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateClosed)
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.DateClosed, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    </dd>

                    @*<dt>
                            @Html.DisplayNameFor(model => model.CoverLetterLocation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CoverLetterLocation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ExtCaseReportLocation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ExtCaseReportLocation)
                        </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.STATUS.StatusValue)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.STATUS.StatusValue)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="panel panel-default nomarg" grid-area="cover">
        <div class="panel-heading">
            <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
            <span>Cover Letter</span>
        </div>
        <div id="CoverLetterPanel" class="panel-collapse collapse in">
            <div class="panel-body text-center apad5">
                <img src="@VERTEBRAE.GetThumbUrl(Model.CoverLetterLocation)" class='media-thumb thumbsize-normal' />
                @*<img src="~/Content/Resources/ERCCoverLetterPreview.png" style="max-width: 57%" />*@
            </div>
        </div>
    </div>
    <div class="panel panel-default nomarg" grid-area="report">
        <div class="panel-heading">
            <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
            <span>Case Report</span>
        </div>
        <div id="ERCReportPanel" class="panel-collapse collapse in">
            <div class="panel-body text-center apad5">
                <img src="~/Content/Resources/NoERCCaseReport.png" style="max-width: 57%" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script id="onDomReady" type="text/javascript">
        // Enable tooltips:
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}