@using Microsoft.AspNet.Identity
@using DocuPath.Models
@using DocuPath.DataLayer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DocuPath</title>
    @*<script type="text/javascript">CKEDITOR_BASEPATH = "@Url.Content("~/Content/ckeditor/")";</script>*@
    <script src="jquery.js" type="text/javascript"></script>
    <style type="text/css">
        .js #NEURONsidenav, #HAPTICsidenav {
            display: none;
        }
    </style>
    <script type="text/javascript"> document.documentElement.className = 'js'; </script>
    @if (Request.IsAuthenticated)
    {
        ViewBag.Neurons = VERTEBRAE.GetUnhandledNeurons();
        var currentUser = VERTEBRAE.getCurrentUser();
        // TODO: Reference proper light/dark CSS versions
        if (currentUser.DarkUIPref == true)
        { @Styles.Render("~/Content/css") }
        else
        { @Styles.Render("~/Content/css") }
    }
    else
    { @Styles.Render("~/Content/css") }
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="grid main-page-grid">
    @* MODAL OVERLAY: *@
    <div id="divModalOverlay" class="dna-modal-overlay">
        <div class="dna">
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
            <div class="ele"></div>
        </div>
        <p id="loadingText" class="loading-text">LOADING...</p>
    </div>
    <div id="divHomeNavWarning" class="modal-background hidden">
        <div class="modalbox">
            @* TITLE *@
            <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
            @* MESSAGE *@
            <div class="modalbox-message-text">
                Are you sure you want to leave this page and return to the DocuPath Home Page? Any unsaved changes will be lost.
            </div>
            @* HELP/INFO *@
            <div class="panel-group" id="homenav_helpaccordion">
                <div class="modal-help-panel">
                    <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#homenav_helpbody" data-parent="#homenav_helpaccordion">More Information</div>
                    <div id="homenav_helpbody" class="panel-collapse collapse modalbox-help-panel-text">
                        <p style="margin-bottom: 0px; font-weight: bold">Code: W004</p>
                        <hr class="modal-help-hr-warning" />
                        <ul class="haptic-ul">
                            <li>This is a generic system warning for navigating to the DocuPath Home Page via the keyboard <kbd>Ctrl + Home</kbd> shortcut.</li>
                            <li>If any data has been added/changed/amended, navigating away from this page will result in a loss of modified data.</li>
                            <li class="colour-dpred">Please make sure that navigation away from this page is the desired action.</li>
                            <li>To prevent data loss and remain on the current page, click the <kbd>No</kbd> button.</li>
                            <li>To discard changes and return to the DocuPath Home Page, click the <kbd>Yes</kbd> button.</li>
                        </ul>
                    </div>
                </div>
            </div>
            @* BUTTONS *@
            <div class="modalbox-button-bar">
                <div class="col-md-3 modal-btn-col"></div><div class="col-md-3 modal-btn-col"></div>
                <div class="col-md-3 modal-btn-col"></div>
                <div class="col-md-3 modal-btn-col">
                    <input type="button" id="btnHomeYes" value="Yes" class="btn btn-modal-generic" onclick="window.location.href(@Url.Action("Index","Home"))" />
                    <input type="button" id="btnHomeNo" value="No" class="btn btn-modal-generic btn-negate" />
                </div>
            </div>
        </div>
    </div>

    @* HAPTIC SIDENAV: *@
    @if (Request.IsAuthenticated)
            {
        <div id="HAPTICsidenav" class="haptic-sidenav grid sidenav-grid" grid-area="haptic">
            <div class="grid sidenav-hdr-subgrid sidenav-heading" grid-area="neuron_hdr">
                <div class="align-vc-hc" grid-area="icon">
                    <span class="mdl2icon mdl2-help" style="font-size: 22px; color: #cccccc"></span>
                </div>
                <div class="align-vc-hc" grid-area="hdrtext">
                    <p class="fullwidth" style="font-size: 29px; margin: 0; padding: 0 0 0 5px">HAPTIC HELP CENTRE</p>
                </div>
                <div class="align-vc-hc" grid-area="closebtn">
                    <a href="javascript:void(0)" class="closebtn mdl2icon mdl2-cancel" data-toggle="tooltip" title="CLOSE" data-placement="bottom" onclick="closeHapticNav()"></a>
                </div>
            </div>
            <div id="sidenavbody" class="haptic-sidenav-body" grid-area="neuron_body">
                <div class="panel-group" id="HapticAccordionSidenav">
                    @* ON THIS PAGE *@
                    @if (ViewBag.PageInfoLocator != "HapticHelpCentre")
                {
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#HapticAccordionSidenav" href="#OnThisPageSidenav" style="cursor: pointer">
                                    <span class="mdl2icon mdl2-info panel-mdl2icon"></span>
                                    <span>ON THIS PAGE</span>
                                </div>
                                <div id="OnThisPageSidenav" class="panel-collapse collapse">
                                    <div class="panel-body apad5">
                                        @Html.Raw(VERTEBRAE.GetOnThisPageInfo(@ViewBag.PageInfoLocator))
                                        @Html.Raw(VERTEBRAE.GetAcceptedFileTypeMinis("powerpoint,word,image,text,compressed,audio", true))
                                    </div>
                                </div>
                            </div>
                }
                else
                {
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#HapticAccordionSidenav" href="#OnThisPageSidenav" style="cursor: pointer">
                                    <span class="mdl2icon mdl2-info panel-mdl2icon"></span>
                                    <span>ON THIS PAGE</span>
                                </div>
                                <div id="OnThisPageSidenav" class="panel-collapse collapse in">
                                    <div class="panel-body apad5">
                                        @Html.Raw(@VERTEBRAE.GetOnThisPageInfo(@ViewBag.PageInfoLocator))
                                    </div>
                                </div>
                            </div>
                }
                    @* FREQUENTLY ASKED QUESTIONS *@
                    @if (ViewBag.PageInfoLocator != "HapticHelpCentre")
                {
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#HapticAccordionSidenav" href="#FAQsSidenav" style="cursor: pointer">
                                    <span class="mdl2icon mdl2-help panel-mdl2icon"></span>
                                    <span>FREQUENTLY ASKED QUESTIONS</span>
                                </div>
                                <div id="FAQsSidenav" class="panel-collapse collapse in">
                                    <div id="FAQBody" class="panel-body apad5">
                                        <form class="navbar-form" action="javascript:void(0)" style="border-top: 1px solid rgba(174,31,31,1); border-bottom: 1px solid rgba(174,31,31,1); margin: 0 0 5px 0; padding: 15px">
                                            <input type="text" class="form-control nomarg haptic-query" onfocus="this.select()" onclick="this.select()" onmouseup="return false;" placeholder="Enter a keyword/phrase...">
                                        </form>
                                        <label>I want to...</label>
                                        @Html.Raw(VERTEBRAE.GetHelp(ViewBag.GenericHapticLocator))
                                        @Html.Raw(VERTEBRAE.GetHelp(ViewBag.SpecificHAPTICLocator))
                                    </div>
                                </div>
                            </div>
                }
                            @* TEMPORARY PLACEHOLDER *@
                            @*<div class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading" data-toggle="collapse" data-parent="#HapticAccordionSidenav" href="#LayoutSidenav" style="cursor: pointer">
                                        <span class="mdl2icon mdl2-layout panel-mdl2icon"></span>
                                        <span>SCREEN LAYOUT</span>
                                    </div>
                                    <div id="LayoutSidenav" class="panel-collapse collapse">
                                        <div class="panel-body apad5 text-center">
                                            <p class="text-left">The layout of this screen is as follows:</p>
                                            <img class="img-thumbnail" src="~/Content/Resources/Screen Layouts/1.7A - Search Forensic Case.png" style="margin: auto; height: 500px" />
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
    }
    @* PAGE CONTENT: *@
    <div id="content" class="grid content-subgrid" grid-area="main">
        @* TOP NAVBAR: *@
        @if (Request.IsAuthenticated)
        {
            <div id="topNav" class="navbar navbar-inverse navbar-fixed-top" grid-area="hdr" role="navigation">
                <div class="container container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href='@Url.Action("Index", "Home")' data-toggle="tooltip" title="GO HOME" data-placement="left">
                            <img src='@Url.Content("~/Content/Resources/DPCircularLogoWhiteBG.png")' class="navbar-circular-logo" />
                            <img src='@Url.Content("~/Content/Resources/DPTextLogoLightGrey.png")' class="navbar-text-logo" />
                            <img src='@Url.Content("~/Content/Resources/SlantedDivider.png")' class="navbar-divider" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <!--CORTEX-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="this.blur()">CORTEX<i class="mdl2icon mdl2-down inline-mdl2icon" style="padding-right: 0px"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-header">Case Management</li>
                                    <li>@Html.ActionLink("Forensic Cases", "All", "ForensicCase", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li>@Html.ActionLink("External Review Cases", "All", "ExternalReviewCase", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li>@Html.ActionLink("Legacy Cases", "All", "LegacyCase", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                </ul>
                            </li>
                            <!--CORNEA-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="this.blur()">CORNEA<i class="mdl2icon mdl2-down inline-mdl2icon" style="padding-right: 0px"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-header">Media Management</li>
                                    <li>@Html.ActionLink("Media Repository", "All", "Media", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li class="dropdown-header">Reporting</li>
                                    <li>@Html.ActionLink("INSIGHT Reporting", "INSIGHT", "Reporting", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li>@Html.ActionLink("VISION Dashboard", "VISION", "Reporting", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                </ul>
                            </li>
                            <!--PULSE-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="this.blur()">PULSE<i class="mdl2icon mdl2-down inline-mdl2icon" style="padding-right: 0px"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">External Interactions</li>
                                    <li>@Html.ActionLink("Service Providers", "All", "ServiceProvider", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li>@Html.ActionLink("Service Requests", "All", "ServiceRequest", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li class="dropdown-header">Scheduling &amp; Calendar</li>
                                    <li>@Html.ActionLink("Personal Schedule", "Calendar", "Scheduling", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li>@Html.ActionLink("Monthly Duty Roster", "MonthlyDutyRoster", "Scheduling", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li>@Html.ActionLink("Daily Autopsy Schedule", "DailyAutopsySchedule", "Scheduling", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li class="dropdown-header">System Management</li>
                                    <li>@Html.ActionLink("Content Tags", "All", "ContentTag", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li>@Html.ActionLink("System Parameters", "Maintain", "SystemParameters", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li class="dropdown-header">User Management</li>
                                    <li>@Html.ActionLink("Users", "All", "User", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li>@Html.ActionLink("Access Levels", "All", "AccessLevel", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li class="dropdown-header">Accountability Management</li>
                                    <li>@Html.ActionLink("Audit Trail", "All", "AuditTrail", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                </ul>
                            </li>
                            @*<li href='@Url.Action("Index", "Home")'>
                                    <img src='@Url.Content("~/Content/Resources/SlantedDivider.png")' class="navbar-divider" />
                                </li>*@
                            <!--HAPTIC-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="this.blur()">HAPTIC<i class="mdl2icon mdl2-down inline-mdl2icon" style="padding-right: 0px"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-header">INTERACTIVE ASSISTANCE</li>
                                    <li class="dropdown-toggle disabled text-center" style="font-size: 8pt">Scan this QR Code with the DocuPath Mobile App to access an interactive help tutorial!</li>
                                    <li class="text-center"><img src="~/Content/Resources/QR Code to Video.jpg" style="height: 190px; width: 190px; margin: 5px 0 5px 0" /></li>
                                    <li class="dropdown-header">GET HELP ONLINE</li>
                                    <li>@Html.ActionLink("HAPTIC Help Centre", "HapticHelp", "Home", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li class="dropdown-header">INFORMATION</li>
                                    <li>@Html.ActionLink("About The Developers", "About", "Home", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    <li class="dropdown-header">CONTACT US</li>
                                    <li>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void('0')" class="dropdown-toggle neuron" onclick="openNav()" style="padding: 11px"><span id="neuronicon" class="mdl2icon mdl2-neuronnew inline-mdl2icon" style="font-size: 18pt; font-weight: normal; color: white"></span><span class="badge active" id="neuronBadge" style="margin-left: -6px">@ViewBag.Neurons.Count</span></a>
                            </li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        }
        else
        {
            <div id="topNav" class="navbar navbar-inverse navbar-fixed-top" grid-area="hdr" role="navigation">
                <div class="container container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href='@Url.Action("Index", "Home")' data-toggle="tooltip" title="GO HOME" data-placement="left">
                            <img src='@Url.Content("~/Content/Resources/DPCircularLogoWhiteBG.png")' class="navbar-circular-logo" />
                            <img src='@Url.Content("~/Content/Resources/DPTextLogoLightGrey.png")' class="navbar-text-logo" />
                            <img src='@Url.Content("~/Content/Resources/SlantedDivider.png")' class="navbar-divider" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <!--ABOUT-->
                            <li class="dropdown">
                                <a href="~/Home/About" class="dropdown-toggle">ABOUT THE DEVELOPERS</a>
                                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT<i class="mdl2icon mdl2-down inline-mdl2icon" style="padding-right: 0px"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("About The Developers", "About", "Home", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    </ul>*@
                            </li>
                            <!--CONTACT-->
                            <li class="dropdown">
                                <a href="~/Home/Contact" class="dropdown-toggle">CONTACT US</a>
                                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">CONTACT<i class="mdl2icon mdl2-down inline-mdl2icon" style="padding-right: 0px"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "dropdown-toggle", @datatoggle = "dropdown" })</li>
                                    </ul>*@
                            </li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        }
        @* FOOTER: *@
        <div id="bottomNav" class="grid navbar-fixed-bottom ftr-grid footer-text" grid-area="ftr">
            <div class="ftr-pad-left">
                <p class="align-vc-hc par-fit-container" data-toggle="tooltip" title="COPYRIGHT INFORMATION" data-placement="top">&copy; @DateTime.Now.Year - CLDRM DocuPath@*<span class="proto-warn-text">   INTERNAL</span>*@</p>
            </div>
            <div>
                <a href='@Url.Action("Index", "Home")' data-toggle="tooltip" title="GO HOME" data-placement="top" class="align-vc-hc par-fit-container">
                    <img class="hricon" src="~/Content/Resources/DPHorizontalLogoWhiteBG.png" />
                </a>
            </div>
            <div class="ftr-pad-right">
                <p class="align-vc-hc par-fit-container" data-toggle="tooltip" title="CURRENT DATE & TIME" data-placement="top">
                    @*<span class="proto-warn-text">     v0.5.5</span>*@
                    <span class="mdl2icon mdl2-date inline-mdl2icon"></span>
                    <span>@DateTime.Now.ToString("ddd dd MMM yyyy")</span>
                    <span class="mdl2icon mdl2-time inline-mdl2icon"></span>
                    <span id="time">@DateTime.Now.ToString("HH:mm")</span>
                </p>
            </div>
        </div>

        <a href="#" class="back-to-top">
            <i class="mdl2icon mdl2-up" style="color: #fff"></i>
            <span>TOP</span>
        </a>
        @* PAGE CONTENT: *@
        <div id="page-body" class="container container-fluid body-content" grid-area="content" style="margin: 0 auto 15px auto; left: auto; right: auto; width: 100%">
            @RenderBody()
        </div>
    </div>
    @* NEURON SIDENAV: *@
    @if (Request.IsAuthenticated)
            {
        <div id="NEURONsidenav" class="neuron-sidenav grid sidenav-grid" grid-area="neuron">
            <div class="grid sidenav-hdr-subgrid sidenav-heading" grid-area="neuron_hdr">
                <div class="align-vc-hc" grid-area="icon">
                    <span id="noNotificationsToggle" class="mdl2icon mdl2-neuronnew" style="font-size: 22px; color: #cccccc"></span>
                </div>
                <div class="align-vc-hc" grid-area="hdrtext">
                    <p class="fullwidth" style="font-size: 29px; margin: 0; padding: 0 0 0 5px">NEURON NOTIFICATION CENTRE</p>
                </div>
                <div class="align-vc-hc" grid-area="closebtn">
                    <a href="javascript:void(0)" class="closebtn mdl2icon mdl2-cancel" data-toggle="tooltip" title="CLOSE" data-placement="bottom" onclick="closeNav()"></a>
                </div>
            </div>
            <div id="sidenavbody" class="neuron-sidenav-body" grid-area="neuron_body">
                @* RSS BROADCAST BAR: *@
                <form class="navbar-form" action="javascript:void(0)" style="border-top: 1px solid rgba(174,31,31,1); border-bottom: 1px solid rgba(174,31,31,1); margin: 0 0 5px 0; padding: 15px">
                    <div class="input-group">
                        <input type="text" class="form-control" onclick="this.select()" onfocus="this.select()" placeholder="Type Your RSS Broadcast Message Here..." name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" id="rss" type="submit" data-toggle="tooltip" title="SEND" data-placement="bottom"><i class="mdl2icon mdl2-send"></i></button>
                        </div>
                    </div>
                </form>
                <div id="noNotifications" class="sidenav-notification border-generic sidenav-nonotifications">
                    <p style="margin: auto">NO NEURON<br />NOTIFICATIONS</p>
                </div>
                @* NOTIFICATION CSS GRID LAYOUT: *@
                @if (Request.IsAuthenticated)
                {
                    foreach (var neuron in ViewBag.Neurons)
                    {
                        if (neuron.HandledDateTimeStamp == null && neuron.UserID == User.Identity.GetUserId<int>())
                        {
                            <div id="n_@neuron.NotificationID" class="grid sidenav-notification-grid sidenav-notification border-generic">
                                <div grid-area="titlebar" class="grid sidenav-notification-title-subgrid">
                                    @if (@neuron.NotificationTitle.ToLower().Contains("forensic"))
                                    { <div><span class="mdl2icon mdl2-fc neuron-mdl2icon"></span></div> }
                                    else if (@neuron.NotificationTitle.ToLower().Contains("roster"))
                                    { <div><span class="mdl2icon mdl2-datetime neuron-mdl2icon"></span></div> }
                                    else if (@neuron.NotificationTitle.ToLower().Contains("authorisation"))
                                    { <div><span class="mdl2icon mdl2-approvedeny neuron-mdl2icon"></span></div> }
                                    else if (@neuron.NotificationTitle.ToLower().Contains("auto-archive"))
                                    { <div><span class="mdl2icon mdl2-history neuron-mdl2icon"></span></div> }

                                    <div grid-area="title" class="sidenav-notification-title">@neuron.NotificationTitle</div>
                                    <div grid-area="timestamp" class="sidenav-notification-timestamp"><span class="mdl2icon mdl2-time" style="font-size: 8pt"></span>@neuron.DateID.ToString("dd MMM HH:mm")</div>
                                </div>
                                <div grid-area="summary" class="sidenav-notification-summary">@neuron.NotificationSummary</div>
                                <div grid-area="detail" class="panel-group" id="n_pnl_@neuron.NotificationID">
                                    <div class="modal-help-panel">
                                        <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#n_detail_@neuron.NotificationID" data-parent="#n_pnl_@neuron.NotificationID">
                                            View Details &amp; Actions
                                        </div>
                                        <div id="n_detail_@neuron.NotificationID" class="panel-collapse collapse sidenav-notification-detail">
                                            <p style="margin-bottom: 0px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px">@Html.Raw(@neuron.NotificationDetails)</p>
                                            <div class="panel-footer" data-parent="#n_detail_@neuron.NotificationID">
                                                <div class="sidenav-button-bar">
                                                    @if (neuron.NotificationTypeID == 1)
                                                    {
                                                        <input type="submit" id="n_btnOK_@neuron.NotificationID" value="OK" class="btn btn-neuron btn-neuron-dark btn-xs pull-right" />
                                                    }
                                                    else if (neuron.NotificationTypeID == 2)
                                                    {
                                                        <input type="submit" id="n_btnRjct_@neuron.NotificationID" value="Reject" class="btn btn-neuron btn-neuron-red btn-xs pull-right" />
                                                        <input type="submit" id="n_btnAcpt_@neuron.NotificationID" value="Accept" class="btn btn-neuron btn-neuron-green btn-xs pull-right" />
                                                    }
                                                    else if (neuron.NotificationTypeID == 3)
                                                    {
                                                        <input type="submit" id="n_btnDeny_@neuron.NotificationID" value="Deny" class="btn btn-neuron btn-neuron-red btn-xs pull-right" />
                                                        <input type="submit" id="n_btnAprv_@neuron.NotificationID" value="Approve" class="btn btn-neuron btn-neuron-green btn-xs pull-right" />
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/materialdatetime")
    @Scripts.Render("~/bundles/ckeditor")

    <script src="~/Scripts/typeahead.mvc.model.js"></script>
    @RenderSection("scripts", required: false)

    @* LOADING/NOTIFICATION MODALS: *@
    <script>
        $('input').on('focus', function () {
            $(this).select();
        });
        $('[data-toggle="tooltip"]').tooltip();
        $('[rel="popover"]').popover();
        $('button').click(function () { this.blur(); });
        $('.btn').click(function () { this.blur(); });
        $('[data-toggle="modal"]').click(function () { this.blur(); });

        $(function () {
            $('.modal.fade').on('hidden.bs.modal', function (e) {
                $('[data-toggle="modal"]').toggleClass('btn-no-highlight');
            });

            $('#.modal.fade').on('shown.bs.modal', function (e) {
                $('[data-toggle="modal"]').toggleClass('btn-no-highlight');
            });
        });

        $(document).ready(function () {
            document.getElementById("divModalOverlay").style.display = "none";
            document.getElementById("NEURONsidenav").style.width = "0";
            document.getElementById("HAPTICsidenav").style.width = "0";
        });
    </script>

    <script>
        // Toggle Table Density:
        $("#btnDensityToggle").click(function () {
            var $target = $("table");
            var $condensed = "table-condensed";
            var $minimal = "table-minimal"
            if ($target.hasClass($condensed) === false && $target.hasClass($minimal) === false) { $target.addClass($condensed); }
            else if ($target.hasClass($condensed)) { $target.removeClass($condensed); $target.addClass($minimal); }
            else if ($target.hasClass($minimal)) { $target.removeClass($minimal); }
            $("#btnDensityToggle").blur()
        });
    </script>

    @* HAPTIC: *@
    <script type="text/javascript">
        var hapticOpen = false;
        $("#btnHapticToggle").click(function () { openHapticNav(); });
        shortcut.add("F1", function () { if (hapticOpen) { closeHapticNav(); } else { openHapticNav(); } });

        function openHapticNav() {
            document.getElementById("HAPTICsidenav").style.display = "initial";
            document.getElementById("HAPTICsidenav").style.width = "400px";
            document.getElementById("content").style.paddingLeft = "400px";
            document.getElementById("topNav").style.paddingLeft = "400px";
            $("#btnHapticToggle").blur();
            hapticOpen = true;
            closeNav();
        }

        function closeHapticNav() {
            document.getElementById("HAPTICsidenav").style.width = "0";
            document.getElementById("content").style.paddingLeft = "0";
            document.getElementById("topNav").style.paddingLeft = "0";
            $("#btnHelpToggle").blur();
            hapticOpen = false;
        }

        // FILTER ON TYPING:
        $('.haptic-query').keyup(function (e) {
            var query = $.trim($('.haptic-query').val()).toLowerCase();
            $('.haptic-topic-container').each(function () {
                var $this = $(this);

                if ($this.text().toLowerCase().indexOf(query) === -1) {
                    $this.closest('div.haptic-topic-container').slideUp("fast");
                } else {
                    $('#FAQBody').removeHighlight();
                    $this.closest('div.haptic-topic-container').slideDown("fast");
                    $('#FAQBody').highlight(query);
                }
            });
        });
    </script>

    @* NEURON: *@
    <script type="text/javascript">
        var neuronOpen = false;
        shortcut.add("F2", function () { if (neuronOpen) { closeNav(); } else { openNav(); } });

        function openNav() {
            document.getElementById("NEURONsidenav").style.display = "initial";
            document.getElementById("NEURONsidenav").style.width = "400px";
            document.getElementById("content").style.paddingRight = "400px";
            document.getElementById("topNav").style.paddingRight = "400px";
            closeHapticNav();
            neuronOpen = true;
        }

        function closeNav() {
            document.getElementById("NEURONsidenav").style.width = "0";
            document.getElementById("content").style.paddingRight = "0";
            document.getElementById("topNav").style.paddingRight = "0";
            neuronOpen = false;
        }
    </script>

    @* NOTIFICATION HANDLING: *@
    <script type="text/javascript">
        $(document).ready(function () {
            var $badge = $("#neuronBadge"),
            count = parseInt($badge.text()),
            active = $("#neuronBadge").hasClass('active');

            if (!$badge.hasClass("active")) {
                $("#noNotifications").show("slow")
            }

            if ($badge.text() == "0") {
                $badge.hide("slow"),
                $("#neuronicon").removeClass("mdl2-neuronnew"),
                $("#neuronicon").addClass("mdl2-neuron")
            } else {
                $badge.show("slow")
            }

            // TODO: jQuery to handle each individual notification, loop-style...
            $("#noNotifications").hide();
            //$("#N1").show();
            //$("#N2").show();
            //$("#N3").show();
            //$("#N4").show();
            //$("#N5").show();
            //$("#N6").show();

            $('#noNotificationsToggle').click(function () { $('#noNotifications').show("slow"); });

            $('#repopulateNEURON').click(function () {
                $("#noNotifications").hide();
                $("#neuronBadge").show();
                $("#neuronBadge").text("4");
                //$("#N1").show();
                //$("#N2").show();
                //$("#N3").show();
                //$("#N4").show();
                //$("#N5").show();
                //$("#N6").show();
                $("#neuronicon").removeClass("mdl2-neuron");
                $("#neuronicon").addClass("mdl2-neuronnew");


            });

            $('#noNotifications').click(function () { $('#noNotifications').hide("slow"); });
            $('#n_btnOK_1').click(function () { $('#n_1').hide("slow") });
            $('#n_btnAprv_3').click(function () { $('#n_3').hide("slow") });
            $('#n_btnDeny_3').click(function () { $('#n_3').hide("slow") });
            $('#n_btnAcpt_2').click(function () { $('#n_2').hide("slow"); });
            $('#n_btnRjct_2').click(function () { $('#n_2').hide("slow") });
            $('#n_btnOK_4').click(function () { $('#n_4').hide("slow") });
            //$('#N5Approve').click(function () { $('#N5').hide("slow") });
            //$('#N5Deny').click(function () { $('#N5').hide("slow") });
            //$('#N6Approve').click(function () { $('#N6').hide("slow") });
            //$('#N6Deny').click(function () { $('#N6').hide("slow") });
        });
    </script>

    @* BADGE COUNTER HANDLING: *@
    <script type="text/javascript">
        // TODO: jQuery to properly decrement NEURON badge counter on notification handled...
        $(document).on("click", ".btn-neuron", function (e) {
            e.preventDefault();

            var $badge = $("#neuronBadge"),
                count = parseInt($badge.text()),
                active = $("#neuronBadge").hasClass('active');

            $badge.text(active ? count - 1 : count + 1);
            if ($badge.text() == "0") {
                $badge.hide("slow"),
                $("#neuronicon").removeClass("mdl2-neuronnew"),
                $("#neuronicon").addClass("mdl2-neuron")
            } else {
                $badge.show("slow")
            }
        });
    </script>

    @* BACK TO TOP: *@
    <script>
        jQuery(document).ready(function () {
            //$('.back-to-top').css({ "display": "none" });
            var offset = 250;
            var duration = 300;
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > offset) {
                    jQuery('.back-to-top').fadeIn(duration);
                } else {
                    jQuery('.back-to-top').fadeOut(duration);
                }
            });

            jQuery('.back-to-top').click(function (event) {
                event.preventDefault();
                jQuery('html, body').animate({ scrollTop: 0 }, duration);
                return false;
            })
        });
    </script>

    @* NAVIGATION: *@
    <script>
        shortcut.add("1", function () { document.getElementById('CORTEXheading').click(); });
        shortcut.add("2", function () { document.getElementById('CORNEAheading').click(); });
        shortcut.add("3", function () { document.getElementById('PULSEheading').click(); });
        shortcut.add("F5", function (e) { e.preventDefault(); });
        shortcut.add("Esc", function (e) { e.preventDefault(); document.elementFromPoint(1, 1).click(); $('.modal-background').addClass('hidden'); });


        shortcut.add("Ctrl+Home", function () { if (document.title.indexOf('Home', 0) != 0) { $('#divHomeNavWarning').removeClass("hidden"); } });
        $('#btnHomeYes').click(function (target) { window.location.href = "@Url.Action("Index", "Home")"; });
        $('#btnHomeNo').click(function () { $('#divHomeNavWarning').addClass("hidden"); });
    </script>

    @* RSS BLASTER: *@
    <script>
        $('#rss').click(function (request, response) {
            var rssData = document.getElementById("srch-term").value
            $.ajax({
                url: '/Home/SendRSS/',
                data: "{ 'rssData': '" + rssData + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(result); //Throw Success Modal 404
                    document.getElementById("srch-term").text() = "";
                },
            });
            rssData.value == "";
        });
    </script>

    <script>
        //function updateClock() {
        //    var now = new Date(), // current date
        //        //months = ['January', 'February', '...']; // you get the idea
        //    time = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds(); // again, you get the idea

        //    // a cleaner way than string concatenation
        //    //date = [now.getDate(),
        //    //        months[now.getMonth()],
        //    //        now.getFullYear()].join(' ');

        //    // set the content of the element with the ID time to the formatted string
        //    document.getElementById('time').innerHTML = time;
        //        //[date, time].join(' / ');

        //    // call this function again in 1000ms
        //    setInterval(updateClock, 1000);
        //}
        //updateClock(); // initial call
    </script>
    @* NEURON *@
  
    <script>
        @{
            List<NOTIFICATION> neurons = ViewBag.Neurons;
            if (Request.IsAuthenticated)
            {
                foreach (NOTIFICATION notification in neurons.Where(x => x.HandledDateTimeStamp == null))
                {
                    int id = notification.NotificationID;
                    if (notification.NotificationTypeID == 2)
                    {
                        @Html.Raw("$('#n_btnAcpt_" + id + "').click(function () {var nData = new FormData();nData.append('instruction','ACCEPT');$.ajax({url: '/Home/HandleNeuron/" + id +  "',type: \"POST\",contentType: false, processData: false, data: nData,success: function (result) {alert(result); },error: function (err) {alert(err.statusText);}});});");
                        //@Html.Raw("$('#n_btnAcpt_" + id + "').click(function () {var nData = new FormData();nData.append('instruction','APPROVE');alert(nData)});");
                        @Html.Raw("$('#n_btnRjct_" + id + "').click(function () {var nData = new FormData();nData.append('instruction','REJECT');$.ajax({url: '/Home/HandleNeuron/" + id + "',type: \"POST\",contentType: false, processData: false, data: nData,success: function (result) {alert(result); },error: function (err) {alert(err.statusText);}});});");
                        //@Html.Raw("$('#n_btnRjct_" + id + "').click(function () {alert()});");
                    }
                    else if (notification.NotificationTypeID == 3)
                    {
                        @Html.Raw("$('#n_btnAprv_" + id + "').click(function () {var nData = new FormData();nData.append('instruction','APPROVE');$.ajax({url: '/Home/HandleNeuron/"+id + "',type: \"POST\",contentType: false, processData: false, data: nData,success: function (result) {alert(result); },error: function (err) {alert(err.statusText);}});});");
                        //@Html.Raw("$('#n_btnAprv_" + id + "').click(function () {alert()});");
                        @Html.Raw("$('#n_btnDeny_" + id + "').click(function () {var nData = new FormData();nData.append('instruction','DENY');$.ajax({url: '/Home/HandleNeuron/" + id + "',type: \"POST\",contentType: false, processData: false, data: nData,success: function (result) {alert(result); },error: function (err) {alert(err.statusText);}});});");
                        //@Html.Raw("$('#n_btnDeny_" + id + "').click(function () {alert()});");
                    }
                    else
                    {
                        @Html.Raw("$('#n_btnOK_" + id + "').click(function () {var nData = new FormData();nData.append('instruction','OK');$.ajax({url: '/Home/HandleNeuron/" + id + "',type: \"POST\",contentType: false, processData: false, data: nData,success: function (result) {alert(result); },error: function (err) {alert(err.statusText);}});});");
                        //@Html.Raw("$('#n_btnOK_" + id + "').click(function () {alert()});");

                    }

                }
            }
            }

    </script>
</body>
</html>