@using DocuPath.Models
@{ ViewBag.Title = "Haptic Help Centre"; ViewBag.GenericHAPTICLocator = "HapticGeneric"; ViewBag.SpecificHAPTICLocator = "HapticSpecific"; ViewBag.PageInfoLocator = "HapticHelpCentre"; }


@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("HAPTIC Help Centre", "HapticHelp") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-help"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">HAPTIC HELP CENTRE</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-three">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnExpandCollapse" accordion-id="#FCHapticTopics" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-view btn-mdl2icon toggle-accordion" data-toggle="tooltip" title="TOGGLE PANEL EXPAND/COLLAPSE"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* HAPTIC HELP CENTRE CONTENT: *@
<div class="form-horizontal border-generic form-generic">
    <div class="panel-group" id="FCHapticTopics">
        <form class="navbar-form" action="javascript:void(0)" style="border-top: 1px solid rgba(174,31,31,1); border-bottom: 1px solid rgba(174,31,31,1); margin: 0 0 5px 0; padding: 15px">
            <input id="HapticSearchBar" type="text" class="form-control" onfocus="this.select()" onclick="this.select()" onmouseup="return false;" placeholder="Enter a keyword/phrase...">
        </form>
        @* ALL FC *@
        <div id="AllFC" class="haptic-subheading">
            <span class="mdl2icon mdl2-fc haptic-subheading-mdl2icon"></span>
            <span>ALL FORENSIC CASES</span>
        </div>        
        @Html.Raw(VERTEBRAE.GetHelp("AllGeneric"))
        @Html.Raw(VERTEBRAE.GetHelp("AllFCSpecific"))
        @* ADD FC *@
        <div id="AddFC"  class="haptic-subheading">
            <span class="mdl2icon mdl2-add haptic-subheading-mdl2icon"></span>
            <span>ADD FORENSIC CASE</span>
        </div>
        @Html.Raw(VERTEBRAE.GetHelp("AddGeneric"))
        @Html.Raw(VERTEBRAE.GetHelp("AddFCSpecific"))
        @* UPDATE FC *@
        <div id="UpdatetFC" class="haptic-subheading">
            <span class="mdl2icon mdl2-edit haptic-subheading-mdl2icon"></span>
            <span>UPDATE FORENSIC CASE</span>
        </div>
        @Html.Raw(VERTEBRAE.GetHelp("UpdateGeneric"))
        @Html.Raw(VERTEBRAE.GetHelp("UpdateFCSpecific"))
        @* ARCHIVE FC *@
        <div id="ArchiveFC" class="haptic-subheading">
            <span class="mdl2icon mdl2-delete haptic-subheading-mdl2icon"></span>
            <span>DELETE FORENSIC CASE</span>
        </div>
        <div class="haptic-topic-container">
            <div class="grid haptic-catchphrase-grid" style="margin-bottom: 0"> <i class="mdl2icon mdl2-topic haptic-mdl2icon" grid-area="icon"></i> <p class="haptic-catchphrase" grid-area="catchphrase">For information on how to delete a Forensic Case, <strong class="catchphrase-highlight">Refer</strong> to <kbd>All Forensic Cases</kbd> above.</p> </div>
        </div>
        @* LOCK FC *@
        <div class="haptic-subheading">
            <span class="mdl2icon mdl2-lock haptic-subheading-mdl2icon"></span>
            <span>LOCK FORENSIC CASE</span>
        </div>
        <div class="haptic-topic-container">
            <div class="grid haptic-catchphrase-grid" style="margin-bottom: 0"> <i class="mdl2icon mdl2-topic haptic-mdl2icon" grid-area="icon"></i> <p class="haptic-catchphrase" grid-area="catchphrase">For information on how to lock a Forensic Case, <strong class="catchphrase-highlight">Refer</strong> to <kbd>All Forensic Cases</kbd> above.</p> </div>
        </div>
        @* UNLOCK FC *@
        <div class="haptic-subheading">
            <span class="mdl2icon mdl2-unlock haptic-subheading-mdl2icon"></span>
            <span>UNLOCK FORENSIC CASE</span>
        </div>
        <div class="haptic-topic-container">
            <div class="grid haptic-catchphrase-grid" style="margin-bottom: 0"> <i class="mdl2icon mdl2-topic haptic-mdl2icon" grid-area="icon"></i> <p class="haptic-catchphrase" grid-area="catchphrase">For information on how to unlock a Forensic Case, <strong class="catchphrase-highlight">Refer</strong> to <kbd>All Forensic Cases</kbd> above.</p> </div>
        </div>
        @* MIGRATE FC *@
        <div class="haptic-subheading">
            <span class="mdl2icon mdl2-migrate haptic-subheading-mdl2icon"></span>
            <span>MIGRATE FORENSIC CASE</span>
        </div>
        <div class="haptic-topic-container">
            <div class="grid haptic-catchphrase-grid" style="margin-bottom: 0"> <i class="mdl2icon mdl2-topic haptic-mdl2icon" grid-area="icon"></i> <p class="haptic-catchphrase" grid-area="catchphrase">For information on how to migrate a Forensic Case, <strong class="catchphrase-highlight">Refer</strong> to <kbd>All Forensic Cases</kbd> above.</p> </div>
        </div>
    </div>
</div>

@section Scripts{
<script id="onDomReady" type="text/javascript">
        $(document).ready(function () {
            // Enable tooltips:
            $('[data-toggle="tooltip"]').tooltip();

            // Expand/Collapse All Panels:
            $(".toggle-accordion").on("click", function () {
                var accordionId = $(this).attr("accordion-id"),
                    numPanelOpen = $(accordionId + ' .collapse.in').length;

                $(this).toggleClass("active");

                if (numPanelOpen == 0) {
                    openAllPanels(accordionId);
                } else {
                    closeAllPanels(accordionId);
                }
                $("#btnExpandCollapse").blur()
            })

            openAllPanels = function (aId) {
                console.log("setAllPanelOpen");
                $(aId + ' .panel-collapse:not(".in")').collapse('show');
            }
            closeAllPanels = function (aId) {
                console.log("setAllPanelclose");
                $(aId + ' .panel-collapse.in').collapse('hide');
            }
        });

        // FILTER ON TYPING:
        $('#HapticSearchBar').keyup(function (e) {
            var query = $.trim($('#HapticSearchBar').val()).toLowerCase();
            $('.haptic-topic-container').each(function () {
                var $this = $(this);

                if ($this.text().toLowerCase().indexOf(query) === -1) {
                    $this.closest('div.haptic-topic-container').slideUp("fast");
                    $this.closest('ul.haptic-ol').slideUp("fast");
                } else {
                    $('.form-generic').removeHighlight();
                    $this.closest('div.haptic-topic-container').slideDown("fast");
                    $this.closest('ul.haptic-ol').slideDown("fast");
                    $('.form-generic').highlight(query);
                }
            });
        });
</script>
}