@model IEnumerable<DocuPath.DataLayer.SERVICE_REQUEST>
@using DocuPath.DataLayer
@using DocuPath.Models;
@{ ViewBag.Title = "All"; ViewBag.GenericHAPTICLocator = "AllGeneric"; ViewBag.SpecificHAPTICLocator = "AllSRSpecific"; ViewBag.PageInfoLocator = "AllSR"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("Service Requests", "All") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-servicerequest"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">ALL SERVICE REQUESTS</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-three">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            @*<div grid-area="btn1">
                <form class="minimalform" action="~/ServiceRequest/Add" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-add btn-mdl2icon" type="submit" onclick="this.blur()" data-toggle="tooltip" title="ADD SERVICE REQUEST"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>*@
            <div grid-area="btn1">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnDensityToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-density btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="TOGGLE TABLE DENSITY"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@foreach (var sr in Model)
{
    if (!sr.IsCancelled)
    {
        <div id="del-modal-@sr.ServiceRequestID" class="modal-background hidden">
            <div class="modalbox">
                <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
                <div class="modalbox-message-text">
                    Are you sure you want to <idntwarn>CANCEL</idntwarn> Service Request with Serial Number <idntwarn>@sr.SPECIMEN.FirstOrDefault().SpecimenSerialNumber</idntwarn>?
                </div>
                @* HELP/INFO *@
                <div class="panel-group" id="delete-modal-help-@sr.ServiceRequestID">
                    <div class="modal-help-panel">
                        <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#delete-modal-helpbody-@sr.ServiceRequestID" data-parent="#delete-modal-help-@sr.ServiceRequestID">More Information</div>
                        <div id="delete-modal-helpbody-@sr.ServiceRequestID" class="panel-collapse collapse modalbox-help-panel-text">
                            <p style="margin-bottom: 0px; font-weight: bold">Code: W001</p>
                            <hr class="modal-help-hr-warning" />
                            <ul style="margin-bottom: 0">
                                <li>This action cannot be reverted.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @* BUTTONS *@
                <div class="modalbox-button-bar col-md-12 modal-btn-col">
                    @*<div class="">*@
                    <input type="button" id="del-yes-@sr.ServiceRequestID" href="~/ServiceProvider/Delete/@sr.ServiceRequestID" value="Yes" class="btn btn-modal-generic" />
                    <input type="submit" id="del-no-@sr.ServiceRequestID" onclick="$('#del-modal-'+@sr.ServiceRequestID).addClass('hidden')" value="No" class="btn btn-modal-generic btn-negate" />
                    @*</div>*@
                </div>
            </div>
        </div>
    }
}


@* ASPTABLE WITH ALL SERVICE REQUESTS: *@
<table id="allSR" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-id="identifier" data-column-id="SRID" data-visible="false" data-identifier="true" data-converter="numeric" class="colour-dpred">
                @Html.DisplayNameFor(model => model.ServiceRequestID)
            </th>
            <th data-column-id="serviceProvider" class="colour-dpred">
                @Html.DisplayNameFor(model => model.SERVICE_PROVIDER.CompanyName)
            </th>
            <th data-column-id="status" class="colour-dpred">
                @Html.DisplayName("Status")
            </th>
            <th data-column-id="requestType" class="colour-dpred">
                @Html.DisplayNameFor(model => model.RequestTypeID)
            </th>
            <th data-column-id="serialNum" data-formatter="serial" class="colour-dpred">
                @*@Html.DisplayNameFor(model => model.RequestNote)*@
                @Html.DisplayName("Raw Serial/Seal Number")
            </th>
            <th data-column-id="relCase" data-formatter="drnum" class="colour-dpred">
                @*@Html.DisplayNameFor(model => model.RequestNote)*@
                @Html.DisplayName("Related Forensic Case")
            </th>
            @*<th data-column-id="specimenID" class="colour-dpred">
                @Html.DisplayName("Specimen Serial Number")
            </th>*@
            <th data-column-id="dateAdded" data-converter="dpdate" data-order="desc" class="colour-dpred">
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false" class="colour-dpred">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ DocuPathEntities db = new DocuPathEntities(); }
        @foreach (var item in Model)
        {
            if (item.SPECIMEN.FirstOrDefault().EXTERNAL_REPORT == null)
            {
                <tr class="row-faded">
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceRequestID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SERVICE_PROVIDER.CompanyName)
                    </td>
                    <td>
                        Active
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REQUEST_TYPE.RequestTypeValue)
                        @*@Html.DisplayFor(modelItem => item.RequestNote)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.RequestNote)*@
                        @*Specimen with serial number <kbd>@VERTEBRAE.ChunkString((item.SPECIMEN.FirstOrDefault().SpecimenSerialNumber), 5, " ")</kbd> submitted with request note <kbd>@item.RequestNote</kbd>)*@
                        @*<span>(@VERTEBRAE.ChunkString((item.SPECIMEN.FirstOrDefault().SpecimenSerialNumber), 5, " "))<br />@item.RequestNote</span>*@
                        @*@Html.DisplayFor(modelItem => item.SPECIMEN.FirstOrDefault().SpecimenSerialNumber)
                        <br />
                        @Html.DisplayFor(modelItem => item.RequestNote)*@
                        @*@VERTEBRAE.ChunkString(item.SPECIMEN.FirstOrDefault().SpecimenSerialNumber,5," ")*@
                        @Html.DisplayFor(modelItem => item.SPECIMEN.FirstOrDefault().SpecimenSerialNumber)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelitem => item.SPECIMEN.FirstOrDefault().SpecimenSerialNumber)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.FORENSIC_CASE.ForensicDRNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                </tr>
            }
            else if (item.SPECIMEN.FirstOrDefault().EXTERNAL_REPORT != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceRequestID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SERVICE_PROVIDER.CompanyName)
                    </td>
                    <td>
                        Closed
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REQUEST_TYPE.RequestTypeValue)
                        @*@Html.DisplayFor(modelItem => item.RequestNote)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.RequestNote)*@
                        @*@VERTEBRAE.ChunkString(item.SPECIMEN.FirstOrDefault().SpecimenSerialNumber, 5, " ")*@
                        @Html.DisplayFor(modelItem => item.SPECIMEN.FirstOrDefault().SpecimenSerialNumber)
                    </td>
                    <td>
                        @item.FORENSIC_CASE.ForensicDRNumber
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelitem => item.SPECIMEN.FirstOrDefault().SpecimenSerialNumber)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/bootgrid")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/materialdatetime")

    <script id="loadBootgrid" type="text/javascript">
        var grid = $("#allSR").bootgrid({
            caseSensitive: false,
            converters: {
                dpdate: {
                    from: function (value) { return moment(value); },
                    to: function (value) { return value.format("ddd D MMM YYYY"); }
                }
            },
            formatters: {
                // INSERTS APPROPRIATE ACTION BUTTONS FOR EACH LINE IN THE ASPTABLE:
                "commands": function (column, row) {
                    var checkStatus = row.status.trim().toUpperCase();
                    //return checkStatus.toUpperCase();

                    switch (checkStatus) {
                        case "CLOSED":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.SRID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>";
                        case "ACTIVE":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.SRID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.SRID + "\" data-toggle=\"tooltip\" title=\"LINK\" data-placement=\"top\"><span class=\"mdl2icon mdl2-link\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.SRID + "\" data-toggle=\"tooltip\" title=\"CANCEL\" data-placement=\"top\" data-target=\"#del-modal-" + row.SRID + "\"><span class=\"mdl2icon mdl2-cancel\"></span></button> ";
                        default:
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.SRID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.SRID + "\" data-toggle=\"tooltip\" title=\"LINK\" data-placement=\"top\"><span class=\"mdl2icon mdl2-link\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.SRID + "\" data-toggle=\"tooltip\" title=\"CANCEL\" data-placement=\"top\" data-target=\"#del-modal-" + row.SRID + "\"><span class=\"mdl2icon mdl2-cancel\"></span></button> ";
                    }
                 },
                "serial": function (column, row) { /* APPLY LARGE IDENTIFIER CLASS TO ALL DR NUMBERS: */
                    return "<span class=\"table-large-identifier\">"+ row.serialNum + "</span>";
                },
                "drnum": function (column, row) { /* APPLY LARGE IDENTIFIER CLASS TO ALL DR NUMBERS: */
                    return "<span class=\"table-large-identifier\">" + row.relCase + "</span>";
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".cmd-delete").on("click", function (e) { this.blur(); $('#del-modal-' + $(this).data("row-id")).removeClass('hidden'); }).tooltip().end()
                .find(".cmd-edit").on("click", function (e) { this.blur(); window.location = "/ServiceRequest/LinkExternalReport/" + $(this).data("row-id"); }).tooltip().end()
                .find(".cmd-view").on("click", function (e) { this.blur(); window.location = "/ServiceRequest/Details/" + $(this).data("row-id"); }).tooltip().end()
                .find(".pagination").tooltip().end()
                .find(".infos").tooltip().end()
        });
    </script>

    <script id="onDomReady" type="text/javascript">
        // Enable tooltips:
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // Toggle Table Density:
        $("#btnDensityToggle").click(function () {
            var $target = $("#allSR");
            var $condensed = "table-condensed";
            var $minimal = "table-minimal"
            if ($target.hasClass($condensed) === false && $target.hasClass($minimal) === false) { $target.addClass($condensed); }
            else if ($target.hasClass($condensed)) { $target.removeClass($condensed); $target.addClass($minimal); }
            else if ($target.hasClass($minimal)) { $target.removeClass($minimal); }
            $("#btnDensityToggle").blur()
        });
    </script>
}