<link rel="stylesheet" href="~/Content/bootstrap-material-datetimepicker.css" type="text/css" />
@model DocuPath.Models.DPViewModels.LinkERToSRViewModel
@{ ViewBag.Title = "Link External Report"; ViewBag.GenericHAPTICLocator = "UploadGeneric"; ViewBag.SpecificHAPTICLocator = "LinkReportSpecific"; ViewBag.PageInfoLocator = "LinkReport"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li>@Html.ActionLink("Service Requests", "All", "Service Request") </li>
    <li class="active">@Html.ActionLink("Link External Report", "LinkExternalReport") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-link"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">LINK EXTERNAL REPORT</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-four">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/ServiceRequest/All" style="margin-top: 2px">
                    @* TODO: Code to clear out folder if cancelled after modal confirmation  *@
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-cancel btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="CANCEL LINK"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnSave" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-link btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="LINK & EXIT"></button>
                </form>
            </div>
            <div grid-area="btn3">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn4">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@using (Html.BeginForm("LinkExternalReport","ServiceRequest",FormMethod.Post, new { @id = "myform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.targetSR.ServiceRequestID,new { @id="srid"})
    <input type="submit" class="hidden" id="btnPOST">
    <div class="form-horizontal border-generic form-generic">
        <ul class="nav nav-tabs">
            <li class="active"><a class="dynamic-tab-heading" data-toggle="tab" href="#NEW">LINK NEW EXTERNAL REPORT</a></li>
            <li><a class="dynamic-tab-heading" data-toggle="tab" href="#EXISTING" style="margin-left: 5px">LINK EXISTING EXTERNAL REPORT</a></li>
        </ul>
        <div class="tab-content">
            @* NEW REPORT *@
            <div id="NEW" class="tab-pane fade in active nomarg" style="padding: 5px 0 0 0">
                @* DETAILS *@
                <div class="panel panel-default nomarg" style="margin-bottom: 5px !important">
                    <div class="panel-heading">
                        <span class="mdl2icon mdl2-datetime panel-mdl2icon"></span>
                        <span>CAPTURE NEW EXTERNAL REPORT DATE INFORMATION</span>
                    </div>
                    <div id="NewReportPanel" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.targetER.DateReceived, htmlAttributes: new {@id="date", @class = "control-label col-md-4" })
                                <div class="col-md-4">
                                    @*<div class="input-group date">
                                            <input type="text" class="form-control" id="ReceptionDate" />
                                            <span class="input-group-addon" onclick="receptionDTP()"><span class="mdl2icon mdl2-datetime"></span></span>
                                        </div>*@
                                    @Html.EditorFor(model => model.targetER.DateReceived, new { htmlAttributes = new { @id="received",@type = "date", @class = "form-control", @style = "width: 100%; margin-bottom: 5px" } })
                                    @Html.ValidationMessageFor(model => model.targetER.DateReceived, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.targetER.DateCaptured, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.targetER.DateCaptured, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%; margin-bottom: 0px", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.targetER.DateCaptured, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.Label("Upload Report", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-4" style="padding-right: 5px">
                                        @Html.Editor("Upload", new { htmlAttributes = new { @type = "file", @class = "form-control", @multiple = "false", @id = "ofdDailyAutopsySchedule", @style = "width: 352px" } })
                                    </div>
                                    <div class="col-md-2" style="padding-left: 0px; margin-left: -5px">
                                        <button class="btn btn-default btn-generic" type="submit" style="width: auto; height: 34px"><i class="mdl2icon mdl2-upload"></i> Upload &amp; Link</button>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
                @* FILEUPLOAD *@
                <div class="panel panel-default nomarg" id="pnlFile" style="min-height: 250px">
                    <div class="panel-heading">
                        <span class="mdl2icon mdl2-upload panel-mdl2icon"></span>
                        <span>SELECT NEW EXTERNAL REPORT TO UPLOAD</span>
                    </div>
                    <div class="panel-body apad5">
                        <div class="row">
                            @*@Html.Label("Upload Files", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })*@
                            <div class="col-md-12 file-input theme-fa file-input-ajax-new">
                                <input id="ExtReport" name="ExtReport" type="file" @*class="file-loading"*@ />
                                @*<input id="input-fa" name="inputfa[]" type="file" multiple class="file-loading">*@
                                @*@Html.Editor("Upload", new { htmlAttributes = new { @type = "file", @class = "form-control", @multiple = "true", @id = "ofdLegacyCase", @style = "width: 100%" } })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* EXISTING REPORT *@
            <div id="EXISTING" class="tab-pane fade" style="padding: 5px 0 0 0">

                @* REPORT SELECTOR *@
                <div class="panel panel-default nomarg">
                    <div class="panel-heading" data-toggle="collapse" data-target="#ExistingReportPanel" data-parent="#LinkExternalReportAccordion" style="cursor: pointer">
                        <span class="mdl2icon mdl2-link panel-mdl2icon"></span>
                        <span>SELECT EXISTING EXTERNAL REPORT TO LINK</span>
                    </div>
                    <div id="ExistingReportPanel" class="panel-default">
                        <div class="panel-body" style="padding: 5px">
                            <div class="form-group" style="margin-top: 25px; margin-bottom: 25px !important">
                                @Html.Label("Select Existing Report", htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align: right; margin-left: -10px" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.targetER.ExternalReportID, new SelectList(Model.existingERList, "reportID", "reportPhrase", -1), "Select a report...", htmlAttributes: new { @id = "existingID", @class = "form-control valignore", @style = "padding-left: 0px; width: 100%" })
                                    
                                </div>
                                @*<div class="col-md-2" style="padding-left: 0px">
                                        <button class="btn btn-default btn-generic" type="submit" style="width: auto; height: 34px"><i class="mdl2icon mdl2-done"></i> Select &amp; Link</button>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fileinput")

    <script>

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $("#ExtReport").fileinput({
                theme: "fa",
                uploadUrl: "/ServiceRequest/UploadFiles", // TODO URL
                fileActionSettings: {
                    showUpload: false
                },
            });

            $('#btnSave').click(function () {

                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {
                    //var fileUpload = $("#LCDocs").fileinput({ theme: "fa", uploadUrl: "/LegacyCase/UploadFiles" });                    
                    //var fileUpload = $("#LCDocs").get(0);
                    //var files = fileUpload.files;
                    var files = $("#ExtReport").fileinput('getFileStack');
                    //alert($("#existingID option:selected").val() + '*' )
                    if ($("#existingID option:selected").val() > 0) {
                        //alert(files.length)
                        if (files.length < 1)
                        {
                            document.getElementById("btnPOST").click();
                        }
                        else alert("Please only select an exisiting report or upload a file. We cannot accept both.")
                    }
                    else {
                        


                            if (files.length > 0) {


                                // Create FormData object
                                var fileData = new FormData();

                                // Looping over all files and add it to FormData object
                                for (var i = 0; i < files.length; i++) {
                                    fileData.append(files[i].name, files[i]);
                                }
                                gdata = fileData;

                                // Adding one more key to FormData object
                                fileData.append('SRID', document.getElementById("srid").value);
                                fileData.append('received', document.getElementById("received").value);

                                $.ajax({
                                    url: '/ServiceRequest/UploadFiles',
                                    type: "POST",
                                    contentType: false, // Not to set any content header
                                    processData: false, // Not to process data
                                    data: fileData,
                                    success: function (result) {
                                        alert(result); //Throw Success Modal 404
                                        alert('test')
                                        document.getElementById("btnPOST").click();
                                    },
                                    error: function (err) {
                                        alert(err.statusText);
                                    }
                                });
                            }
                            else {

                                alert("Please provide a file or select an existing report before submitting!")

                            }
                        }
                       
                } else {
                    alert("FormData is not supported.");
                }
            });
        });
    </script>
    @* DATETIMEPICKERS: *@
    <script name="DTPCallers" type="text/javascript">
        $(function receptionDTP() {
            $('#ReceptionDate').bootstrapMaterialDatePicker({
                format: 'D MMMM YYYY - HH:mm',
                year: true,
                date: true,
                time: true,
                clearButton: true,
                nowButton: true,
                nowText: "Now",
                switchOnClick: true,
                okText: "OK"
            });
        })
    </script>

}