@model DocuPath.DataLayer.CONTENT_TAG
@{ ViewBag.Title = "Details"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li>@Html.ActionLink("Content Tags", "All", "ContentTag") </li>
    <li class="active">@Html.ActionLink("View Content Tag", "Details") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-tag"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">VIEW CONTENT TAG</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-one">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/ContentTag/All" method="post" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-backprevious btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="BACK TO LIST"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* DETAILS OF SELECTED CONTENT TAG: *@
<div class="form-horizontal border-generic form-generic">
    <div class="panel panel-default" style="margin-bottom: 0px">
        <div class="panel-heading">
            <span class="mdl2icon mdl2-tag panel-mdl2icon"></span>
            <span>CONTENT TAG DETAILS</span>
        </div>
        <div class="panel-collapse collapse in">
            <div class="panel-body">
                <dl class="dl-horizontal-small">
                    <dt>
                        @Html.DisplayNameFor(model => model.TAG_CATEGORY.TagCategoryName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TAG_CATEGORY.TagCategoryName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TAG_SUBCATEGORY.TagSubCategoryName)
                    </dt>

                    <dd style="padding-left: 25px">
                        <span class="mdl2icon mdl2-right inline-mdl2icon" style="font-size: 80%; padding: 0px"></span> @Html.DisplayFor(model => model.TAG_SUBCATEGORY.TagSubCategoryName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TAG_CONDITION.TagConditionName)
                    </dt>

                    <dd style="padding-left: 40px">
                        <span class="mdl2icon mdl2-right inline-mdl2icon" style="font-size: 80%; padding: 0px"></span> @Html.DisplayFor(model => model.TAG_CONDITION.TagConditionName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ContentTagText) &amp; Code
                    </dt>

                    <dd style="padding-left: 55px; font-weight: bold">
                        <span class="mdl2icon mdl2-right inline-mdl2icon" style="font-size: 80%; padding: 0px"></span> @Html.DisplayFor(model => model.ContentTagText) <span class="mdl2icon mdl2-right inline-mdl2icon" style="font-size: 80%; padding: 0px"></span> <span class="large-identifier" style="font-size: 12pt">@Html.DisplayFor(model => model.ContentTagCode)</span>
                    </dd>

                    @*<dt style="padding-top: 5.2px">
                            @Html.DisplayName("Tag Code")
                        </dt>
                        <dd style="padding-left: 55px">
                            <span class="mdl2icon mdl2-right inline-mdl2icon" style="font-size: 80%; padding: 0px"></span> <span class="large-identifier" style="font-size: 12pt; padding-top: 5.2px">A00.1</span>
                        </dd>*@
                </dl>
            </div>
        </div>
    </div>
</div>

@*<div>
    <h4>CONTENT_TAG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContentTagID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentTagID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TagCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TagSubCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagSubCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TagConditionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagConditionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentTagCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentTagCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentTagText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentTagText)
        </dd>

    </dl>
</div>*@