@model  List<DocuPath.DataLayer.SESSION_USER>
@using DocuPath.Models
<style type="text/css" href="~/Content/calendar/calendar.css"></style>
@{ ViewBag.Title = "Personal Schedule"; ViewBag.GenericHAPTICLocator = "CalendarGeneric"; ViewBag.SpecificHAPTICLocator = "CalendarSpecific"; ViewBag.PageInfoLocator = "Calendar"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("Personal Schedule", "Calendar") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-datetime"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">PERSONAL SCHEDULE</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-three">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/Scheduling/Calendar" style="margin-top: 2px">
                    <button id="btnReload" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-reset btn-mdl2icon" type="submit" data-toggle="tooltip" title="REFRESH"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>

<div class="form-horizontal border-generic form-generic">
    <div class="panel panel-default" style="margin-bottom: 0px; min-height: 551px; transition: 1s all">
        <div class="panel-heading grid calendar-panel-heading-grid">
            <span class="mdl2icon mdl2-date panel-mdl2icon" grid-area="cal_hdr_ico"></span>
            <span id="title" grid-area="cal_hdr_txt" style="padding-left: 5px; text-align: left !important"></span>
            <div class="btn-group" grid-area="cal_hdr_nav">
                <button class="btn btn-default btn-paneltoolbar-mdl2icon mdl2icon mdl2-pagination-previous" data-calendar-nav="prev" style="width: 30px; margin-top: 3px" data-toggle="tooltip" title="PREVIOUS" data-placement="top"></button>
                <button class="btn btn-default btn-paneltoolbar-mdl2icon mdl2icon mdl2-today" data-calendar-nav="today" style="width: 30px; margin-top: 3px" data-toggle="tooltip" title="TODAY" data-placement="top"></button>
                <button class="btn btn-default btn-paneltoolbar-mdl2icon mdl2icon mdl2-pagination-next" data-calendar-nav="next" style="width: 30px; margin-right: 6.2px; margin-top: 3px" data-toggle="tooltip" title="NEXT" data-placement="top"></button>
            </div>
            <div grid-area="cal_hdr_sep"><img src="~/Content/Resources/SlantedDivider.png" style="height: 30px; margin-top: 3px" /></div>
            <div class="btn-group" grid-area="cal_hdr_view">
                <button class="btn btn-default btn-paneltoolbar" data-calendar-view="year" style="width: 80px; margin-top: 3px">Year</button>
                <button class="btn btn-default btn-paneltoolbar" data-calendar-view="month" style="width: 80px; margin-top: 3px">Month</button>
                <button class="btn btn-default btn-paneltoolbar" data-calendar-view="week" style="width: 80px; margin-top: 3px">Week</button>
                <button class="btn btn-default btn-paneltoolbar" data-calendar-view="day" style="width: 80px; margin-right: 6.2px; margin-top: 3px">Day</button>
            </div>
        </div>
        <div class="panel-body" style="padding: 5px; background-color: #fff">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="events-modal" aria-hidden="true" style="display: none">
    <div class="modal-dialog" style="width:700px!important;height:500px!important;min-height:600px!important">
        <div class="modal-content">
            <div class="modal-header">
                <div class="grid hdr-grid">
                    <div class="page-hdr">
                        <div class="page-header-subgrid">
                            <div class="icon-circle mdl2icon mdl2-date"></div>
                            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
                            <div class="page-header-text">VIEW EVENT DETAILS</div>
                        </div>
                    </div>
                    <div class="page-btns">
                        <div class="page-buttons-subgrid buttons-one">
                            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
                            <div></div>
                            <div grid-area="btn1">
                                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-cancel btn-mdl2icon" onclick="this.blur()" data-dismiss="modal" type="submit" data-toggle="tooltip" title="CLOSE" data-placement="right"></button>
                                </form>
                            </div>
                            <div></div>
                            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/calendar")

    <script>
        (function ($) {
            //"use strict";
            var options = {
                tmpl_path: "/Content/calendar/",
                first_day: 1,
                modal: "#events-modal",
                modal_type: "template",
                events_source: function () { return @Html.Raw(ViewBag.json); },
                view: 'month',
                tmpl_cache: false,
                //day: '2013-03-12',
                onAfterEventsLoad: function (events) {
                    if (!events) {
                        //alert('no events found');
                        return;
                    }

                    var list = $('#eventlist');
                    list.html('');

                    $.each(events, function (key, val) {
                        $(document.createElement('li'))
                            .html('<a href="javascript:void(0)" data-toggle="modal" data-target="' + val.url + '">' + val.title + '</a>')
                            .appendTo(list);
                    });
                },
                onAfterViewLoad: function (view) {
                    $('#title').text(this.getTitle());
                    $('.btn-group button').removeClass('panel-toolbar-btn-active');
                    $('button[data-calendar-view="' + view + '"]').addClass('panel-toolbar-btn-active');
                },
                //classes: {
                //    months: {
                //        general: 'label'
                //    }
                //}
            };

            var calendar = $('#calendar').calendar(options);

            $('.btn-group button[data-calendar-nav]').each(function () {
                var $this = $(this);
                $this.click(function () {
                    calendar.navigate($this.data('calendar-nav'));
                });
            });

            $('.btn-group button[data-calendar-view]').each(function () {
                var $this = $(this);
                $this.click(function () {
                    calendar.view($this.data('calendar-view'));
                });
            });
        }(jQuery));
    </script>
    <script>

        window.onhashchange(function () {
            var target = window.location.href;
            alert(target);
        });

    </script>
}
