@model DocuPath.DataLayer.SESSION_USER
@using DocuPath.Models

@{ ViewBag.Title = "Display Event"; }

@*@if (Request.IsAuthenticated)
{
    ViewBag.Neurons = VERTEBRAE.GetUnhandledNeurons();
    var currentUser = VERTEBRAE.getCurrentUser();
    if (currentUser.DarkUIPref == true)
    { @Styles.Render("~/Content/css") }
    else
    { @Styles.Render("~/Content/css") }
}
else
{ @Styles.Render("~/Content/css") }
@Scripts.Render("~/bundles/modernizr")*@

<div>
    <div class="panel panel-default" style="margin-bottom: 0px">
        <div class="panel-heading">
            <span class="mdl2icon mdl2-datetime panel-mdl2icon"></span>
            <span style="padding-left: 5px; text-align: left !important">ALLOCATION DETAILS</span>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal-small">
                <dt>
                    @Html.DisplayName("Date Created")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>

                <dt>
                    @Html.DisplayName("Last Status Change")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateStatusChanged)
                </dd>

                <dt>
                    @Html.DisplayName("Current Status")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ALLOCATION_STATUS.StatusValue)
                </dd>
            </dl>
        </div>
    </div>
    <div class="panel panel-default" style="margin-bottom: 0px">
        <div class="panel-heading">
            <span class="mdl2icon mdl2-event panel-mdl2icon"></span>
            <span style="padding-left: 5px; text-align: left !important">EVENT DETAILS</span>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal-small">
                <dt>
                    @Html.DisplayName("Title")
                </dt>

                <dd>
                    @Html.Display("On Duty (Session " + Model.SESSION.SLOT.Description + ")")
                </dd>

                <dt>
                    @Html.DisplayName("Start Time")
                </dt>

                <dd>
                    @Html.Display(Model.SESSION.SLOT.StartTime.ToString("HH:mm"))
                </dd>

                <dt>
                    @Html.DisplayName("End Time")
                </dt>

                <dd>
                    @Html.Display(Model.SESSION.SLOT.EndTime.ToString("HH:mm"))
                </dd>
            </dl>
        </div>
    </div>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
