@model IEnumerable<DocuPath.DataLayer.FORENSIC_CASE>
@using DocuPath.DataLayer
@{ DocuPathEntities db = new DocuPathEntities(); }
@using DocuPath.Models
@{ ViewBag.Title = "All"; ViewBag.GenericHAPTICLocator = "AllGeneric"; ViewBag.SpecificHAPTICLocator = "AllFCSpecific"; ViewBag.PageInfoLocator = "AllFC"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("Forensic Cases", "All") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-fc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">ALL FORENSIC CASES</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-five">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/ForensicCase/AddCoreData" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-add btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="ADD FORENSIC CASE"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnDensityToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-density btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="TOGGLE TABLE DENSITY"></button>
                </form>
            </div>
            <div grid-area="btn4">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn5">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* ASPTABLE WITH ALL FORENSIC CASES: *@
@*<a href="javascript:void(0)" id="example" rel="popover" data-content="" data-html="true" data-original-title=""></a>

<div style="height: 150px!important; width: 350px!important; border: 1px solid red">
    <div class="popoverbox">
        <div class="popoverbox-title-warning"><img class="popoverbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
        <div class="popoverbox-message-text">
            Are you sure you want to delete this item? This action cannot be reverted.
        </div>
        <div class="popoverbox-button-bar">
            <div class="col-md-12 popover-btn-col">
                <input type="submit" id="btnWarningYes" value="Yes" class="btn btn-modal-generic" />
                <input type="submit" id="btnWarningNo" value="No" class="btn btn-modal-generic" />
            </div>
        </div>
    </div>
</div>*@
        @* HELP/INFO *@
        @*<div class="panel-group" id="warninghelpaccordion">
                <div class="modal-help-panel">
                    <div class="panel-heading modalbox-help-panel-heading"  data-toggle="collapse" data-target="#warninghelpbody" data-parent="#warninghelpaccordion">
                    More Information <span class="mdl2icon mdl2-down" style="font-size: 80%"></span>
                    </div>
                    <div id="warninghelpbody" class="panel-collapse collapse modalbox-help-panel-text">
                        <p style="margin-bottom: 0px; font-weight: bold">Error Code: W001</p>
                        <hr class="modal-help-hr-warning" />
                        <p style="margin-bottom: 0px">Certain fields on this page require information to be provided before any operations can continue. Please ensure that all fields have been populated before retrying this action.</p>
                    </div>
                </div>
            </div>*@
<table id="allFC" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-id="identifier" data-column-id="FCID" data-visible="false" data-identifier="true" data-converter="numeric" class="colour-dpred">
                @Html.DisplayNameFor(model => model.ForensicCaseID)
            </th>
            <th data-column-id="addedBy" class="colour-dpred">
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th data-column-id="status" class="colour-dpred" data-converter="status">
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th data-column-id="FCDR" data-formatter="drnumbers" class="colour-dpred">
                @Html.DisplayNameFor(model => model.ForensicDRNumber)
            </th>
            <th data-column-id="briefDesc" class="colour-dpred">
                @Html.DisplayNameFor(model => model.FCBriefDescription)
            </th>
            <th data-column-id="dateAdded" data-converter="dpdate" data-order="desc" class="colour-dpred">
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th data-column-id="dateClosed" data-converter="dpdate" class="colour-dpred">
                @Html.DisplayNameFor(model => model.DateClosed)
            </th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false" class="colour-dpred">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.STATUS.StatusValue != "Archived")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ForensicCaseID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USER.FirstName) @Html.DisplayFor(modelItem => item.USER.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS.StatusValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ForensicDRNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCBriefDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    @if (Convert.ToDateTime(item.DateClosed).Year == 9999 || (Convert.ToDateTime(item.DateClosed).Year == 2001 && Convert.ToDateTime(item.DateClosed).Month == 1 && Convert.ToDateTime(item.DateClosed).Day == 1 && Convert.ToDateTime(item.DateClosed).Hour == 0 && Convert.ToDateTime(item.DateClosed).Minute == 0 && Convert.ToDateTime(item.DateClosed).Second == 0))
                    {
                        @Html.Raw("<td>Active Case</td>")
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.DateClosed)
                        </td>                            
                    }
                </tr>
            }
        }
    </tbody>
</table>
@* NOTIFICATION/WARNING MODALS: *@
@foreach (var fc in Model)
{
    if (fc.STATUS.StatusValue != "Pending" || fc.STATUS.StatusValue != "Locked")
    {
        <div id="del-modal-@fc.ForensicCaseID" class="modal-background hidden">
            <div class="modalbox">
                <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
                <div class="modalbox-message-text">
                    Are you sure you want to <idntwarn>DELETE</idntwarn> Forensic Case <idntwarn>@fc.ForensicDRNumber</idntwarn>?                
                </div>
                @* HELP/INFO *@
                <div class="panel-group" id="delete-modal-help-@fc.ForensicCaseID">
                        <div class="modal-help-panel">
                            <div class="panel-heading modalbox-help-panel-heading"  data-toggle="collapse" data-target="#delete-modal-helpbody-@fc.ForensicCaseID" data-parent="#delete-modal-help-@fc.ForensicCaseID">More Information</div>
                            <div id="delete-modal-helpbody-@fc.ForensicCaseID" class="panel-collapse collapse modalbox-help-panel-text">
                                <p style="margin-bottom: 0px; font-weight: bold">Code: W001</p>
                                <hr class="modal-help-hr-warning" />
                                <ul style="margin-bottom: 0">
                                    <li>This action cannot be reverted.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                @* BUTTONS *@
                <div class="modalbox-button-bar col-md-12 modal-btn-col">                
                    @*<div class="">*@
                    <form action="~/ForensicCase/Delete/@fc.ForensicCaseID" method="post">
                        <input type="submit" id="del-yes-@fc.ForensicCaseID" value="Yes" class="btn btn-modal-generic" />
                        <input type="button" id="del-no-@fc.ForensicCaseID" onclick="$('#del-modal-'+@fc.ForensicCaseID).addClass('hidden')" value="No" class="btn btn-modal-generic" />
                    </form>
                    @*</div>*@
                </div>
            </div>
        </div>
    }

    if (fc.STATUS.StatusValue == "Active")
    {
        <div id="lock-modal-@fc.ForensicCaseID" class="modal-background hidden">
            <div class="modalbox">
                <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
                <div class="modalbox-message-text">
                    Are you sure you want to <idntwarn>LOCK</idntwarn> Forensic Case <idntwarn>@fc.ForensicDRNumber</idntwarn>?
                </div>
                @* HELP/INFO *@
                @*<div class="panel-group" id="lock-modal-help-@fc.ForensicCaseID">
                    <div class="modal-help-panel">
                        <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#lock-modal-helpbody-@fc.ForensicCaseID" data-parent="#lock-modal-help-@fc.ForensicCaseID">More Information</div>
                        <div id="lock-modal-helpbody-@fc.ForensicCaseID" class="panel-collapse collapse modalbox-help-panel-text">
                            <p style="margin-bottom: 0px; font-weight: bold">Code: W003</p>
                            <hr class="modal-help-hr-warning" />
                            <ul style="margin-bottom: 0">
                                <li>This action will result in a status change of the Forensic Case on the system.</li>
                                <li>This action requires authorisation by a Superuser.</li>
                            </ul>
                        </div>
                    </div>
                </div>*@
                @* BUTTONS *@
                <div class="modalbox-button-bar col-md-12 modal-btn-col">
                    @*<div class="">*@
                    <form action="~/ForensicCase/RequestLock/@fc.ForensicCaseID" method="post">
                        <input type="submit" id="lock-yes-@fc.ForensicCaseID" value="Yes" class="btn btn-modal-generic" />
                        <input type="button" id="lock-no-@fc.ForensicCaseID" onclick="$('#lock-modal-'+@fc.ForensicCaseID).addClass('hidden')" value="No" class="btn btn-modal-generic" />
                    </form>
                    @*</div>*@
                </div>
            </div>
        </div>
    }

    if (fc.STATUS.StatusValue == "Locked")
    {
        <div id="unlock-modal-@fc.ForensicCaseID" class="modal-background hidden">
            <div class="modalbox">
                <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
                <div class="modalbox-message-text">
                    Are you sure you want to <idntwarn>UNLOCK</idntwarn> Forensic Case <idntwarn>@fc.ForensicDRNumber</idntwarn>?
                </div>
                @* HELP/INFO *@
                <div class="panel-group" id="unlock-modal-help-@fc.ForensicCaseID">
                        <div class="modal-help-panel">
                            <div class="panel-heading modalbox-help-panel-heading"  data-toggle="collapse" data-target="#unlock-modal-helpbody-@fc.ForensicCaseID" data-parent="#unlock-modal-help-@fc.ForensicCaseID">More Information</div>
                            <div id="unlock-modal-helpbody-@fc.ForensicCaseID" class="panel-collapse collapse modalbox-help-panel-text">
                                <p style="margin-bottom: 0px; font-weight: bold">Code: W002</p>
                                <hr class="modal-help-hr-warning" />
                                <ul style="margin-bottom: 0">
                                    <li>This action requires a motivation/reason.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                @* BUTTONS *@
                <div class="modalbox-button-bar col-md-12 modal-btn-col">
                    <input type="button" id="unlock-yes-@fc.ForensicCaseID" onclick="$('#unlock-yes-'+@fc.ForensicCaseID).addClass('hidden'); $('#unlock-no-'+@fc.ForensicCaseID).addClass('hidden'); $('#reason-'+@fc.ForensicCaseID).removeClass('hidden'); $('#finalize-'+@fc.ForensicCaseID).removeClass('hidden'); " value="Yes" class="btn btn-modal-generic" />
                    <input type="submit" id="unlock-no-@fc.ForensicCaseID" onclick="$('#unlock-modal-'+@fc.ForensicCaseID).addClass('hidden')" value="No" class="btn btn-modal-generic" />
                    <div class="input-group pull-right">
                        <input type="text" placeholder="Please provide a reason..." id="reason-@fc.ForensicCaseID" onfocus="this.select()" onmouseup="return false;" class="form-control hidden txt-motivation" />
                        <input type="button" id="finalize-@fc.ForensicCaseID" href="~/ForensicCase/Unlock/@fc.ForensicCaseID" value="Finalize" class="btn btn-modal-generic hidden" />
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts {
@Scripts.Render("~/bundles/bootgrid")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/materialdatetime")

<script id="loadBootgrid" type="text/javascript">
        var grid = $("#allFC").bootgrid({
            caseSensitive: false,
            converters: {
                dpdate: {
                    from: function (value) { return moment(value); },
                    to: function (value) { return value.format("ddd D MMM YYYY");
                    }
                },
                status: {
                    from: function (value) { return value; },
                    to: function (value) { return value.trim(); }
                }
            },
            formatters: {
                "commands": function (column, row) {
                    var checkStatus = row.status.trim().toUpperCase();
                    //return checkStatus.toUpperCase();

                    switch (checkStatus) {
                        case "LOCKED":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                        "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-unlock\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"UNLOCK\" data-placement=\"top\"><span class=\"mdl2icon mdl2-unlock\"></span></button>";
                        case "ACTIVE":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"EDIT\" data-placement=\"top\"><span class=\"mdl2icon mdl2-edit\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"DELETE\" data-placement=\"top\" data-target=\"#del-modal-" + row.FCID + "\"><span class=\"mdl2icon mdl2-delete\"></span></button> " +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-lock\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"LOCK\" data-placement=\"top\"><span class=\"mdl2icon mdl2-lock\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-migrate\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"MIGRATE\" data-placement=\"top\"><span class=\"mdl2icon mdl2-migrate\"></span></button>";
                        case "PENDING":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>";
                        default:
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"EDIT\" data-placement=\"top\"><span class=\"mdl2icon mdl2-edit\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"DELETE\" data-placement=\"top\" data-target=\"#del-modal-" + row.FCID + "\"><span class=\"mdl2icon mdl2-delete\"></span></button> " +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-lock\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"LOCK\" data-placement=\"top\"><span class=\"mdl2icon mdl2-lock\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-migrate\" data-row-id=\"" + row.FCID + "\" data-toggle=\"tooltip\" title=\"MIGRATE\" data-placement=\"top\"><span class=\"mdl2icon mdl2-migrate\"></span></button>";
                    }
                 },
                "drnumbers": function (column, row) { return "<span class=\"table-large-identifier\">"+ row.FCDR + "</span>"; }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".cmd-delete").on("click", function (e) { this.blur(); $('#del-modal-' + $(this).data("row-id")).removeClass('hidden'); }).tooltip().end()
                .find(".cmd-lock").on("click", function (e) { this.blur(); $('#lock-modal-' + $(this).data("row-id")).removeClass('hidden'); }).tooltip().end()
                .find(".cmd-unlock").on("click", function (e) { this.blur(); $('#unlock-modal-' + $(this).data("row-id")).removeClass('hidden'); }).tooltip().end()
                .find(".cmd-edit").on("click", function (e) { this.blur(); window.location = "/ForensicCase/ForensicCaseUpdateHub/" + $(this).data("row-id"); }).tooltip().end()
                .find(".cmd-view").on("click", function (e) { this.blur(); window.location = "/ForensicCase/Details/" + $(this).data("row-id"); }).tooltip().end()
                .find(".cmd-migrate").on("click", function (e) { this.blur(); window.location = "/ForensicCase/Migrate/" + $(this).data("row-id"); }).tooltip().end()
                .find(".pagination").tooltip().end()
                .find(".infos").tooltip().end()
        });
</script>

<script id="onDomReady" type="text/javascript">
    $('.btn-bootgrid').tooltip();
        // Toggle Table Density:
        $("#btnDensityToggle").click(function () {
            var $target = $("#allFC");
            var $condensed = "table-condensed";
            var $minimal = "table-minimal"
            if ($target.hasClass($condensed) === false && $target.hasClass($minimal) === false) { $target.addClass($condensed); }
            else if ($target.hasClass($condensed)) { $target.removeClass($condensed); $target.addClass($minimal); }
            else if ($target.hasClass($minimal)) { $target.removeClass($minimal); }
            $("#btnDensityToggle").blur()
        });
</script>

@*<script name="deletescript" type="text/javascript">
        $(document).ready(function () {
            $('delete-catcher').click(function (event) {
                event.preventDefault();
                $('#divDelete').removeClass("hidden");
                document.getElementById("targetItem").innerHTML = "someContent";
            });
            $('#btnDeleteYes').click(function (target) { $('#divDelete').addClass("hidden"); window.location.href = "@Url.Action("All", "ForensicCase")"; });
            $('#btnDeleteNo').click(function () { $('#divDelete').addClass("hidden"); });
        });
</script>*@
}