@model IEnumerable<DocuPath.DataLayer.FORENSIC_CASE>

@{
    ViewBag.Title = "All";
}

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("Forensic Cases", "All") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-fc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">ALL FORENSIC CASES</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-one">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div grid-area="btn1"></div>
            <form class="minimalform" action="#" method="post" style="margin-top: 2px"> @* TODO: Link form action to ADD FC *@
                <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-add btn-mdl2icon" type="submit" data-toggle="tooltip" title="ADD FORENSIC CASE"></button>
            </form>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>

<table id="allFC" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-id="identifier" data-column-id="FCID" data-visible="false" data-identifier="true" class="colour-dpred">
                @Html.DisplayNameFor(model => model.ForensicCaseID)
            </th>
            <th data-column-id="addedBy" class="colour-dpred">
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th data-column-id="status" class="colour-dpred">
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th data-column-id="FCDR" data-cssClass="table-large-identifier" data-formatter="drnumbers" class="colour-dpred">
                @Html.DisplayNameFor(model => model.ForensicDRNumber)
            </th>
            <th data-column-id="dateAdded" data-converter="dpdate" data-order="desc" class="colour-dpred">
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th data-column-id="dateClosed" data-converter="dpdate" class="colour-dpred">
                @Html.DisplayNameFor(model => model.DateClosed)
            </th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false" class="colour-dpred">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.STATUS.StatusValue != "Archived")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ForensicCaseID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USER.FirstName) @Html.DisplayFor(modelItem => item.USER.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS.StatusValue)
                    </td>
                    <td class="table-large-identifier">
                        @Html.DisplayFor(modelItem => item.ForensicDRNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateClosed)
                    </td>
                    @* DEPRECATED ACTION ICONS CODE RETAINED UNTIL FURTHER NOTICE: *@
                    @*<td>
                            @switch (item.STATUS.StatusValue)
                            {
                                case "Locked":
                                    @Html.ActionLink(" ", "Details", new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-view colour-dpblack", @datatoggle = "tooltip", @title = "View" })
                                    @Html.ActionLink(" ", null, new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-unlock colour-dpblack", @datatoggle = "tooltip", @title = "Unlock" })
                                    break;
                                case "Active":
                                    @Html.ActionLink(" ", "Details", new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-view colour-dpblack", @datatoggle = "tooltip", @title = "View" })
                                    @Html.ActionLink(" ", "Edit", new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-edit colour-dpblack", @datatoggle = "tooltip", @title = "Edit" })
                                    @Html.ActionLink(" ", "Delete", new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-delete colour-dpblack", @datatoggle = "tooltip", @title = "Delete" })
                                    @Html.ActionLink(" ", null, new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-lock colour-dpblack", @datatoggle = "tooltip", @title = "Lock" })
                                    @Html.ActionLink(" ", "Migrate", new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-migrate colour-dpblack", @datatoggle = "tooltip", @title = "Migrate" })
                                    break;
                                case "Pending":
                                    @Html.ActionLink(" ", "Details", new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-view colour-dpblack", @datatoggle = "tooltip", @title = "View" })
                                    break;
                                default:
                                    @Html.ActionLink(" ", "Details", new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-view colour-dpblack", @datatoggle = "tooltip", @title = "View" })
                                    @Html.ActionLink(" ", "Edit", new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-edit colour-dpblack", @datatoggle = "tooltip", @title = "Edit" })
                                    @Html.ActionLink(" ", "Delete", new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-delete colour-dpblack", @datatoggle = "tooltip", @title = "Delete" })
                                    @Html.ActionLink(" ", null, new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-lock colour-dpblack", @datatoggle = "tooltip", @title = "Lock" })
                                    @Html.ActionLink(" ", "Migrate", new { id = item.ForensicCaseID }, new { @class = "mdl2icon mdl2-migrate colour-dpblack", @datatoggle = "tooltip", @title = "Migrate" })
                                    break;
                            }
                        </td>*@
                </tr>}
        }
    </tbody>
</table>

@section Scripts {
@Scripts.Render("~/bundles/bootgrid")
@Scripts.Render("~/bundles/materialdatetime")

<script id="loadBootgrid" type="text/javascript">
        var grid = $("#allFC").bootgrid({
            caseSensitive: false,
            converters: {
                dpdate: {
                    from: function (value) { return moment(value); },
                    to: function (value) { return value.format("ddd D MMM YYYY"); }
                }
            },
            formatters: {
                // INSERTS APPROPRIATE ACTION BUTTONS FOR EACH LINE IN THE ASPTABLE:
                "commands": function (column, row) {
                    if (row.status.trim() === "Locked") { /* CHECK IF THE CASE IS LOCKED, IF TRUE, THEN SHOW 'VIEW' AND 'UNLOCK': */
                        return "<a class=\"mdl2icon colour-dpblack\" href=\"/ForensicCase/Details/" + row.FCID.trim() + "\"><i class=\"mdl2-view\" data-toggle=\"tooltip\" value=\"View\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Edit\" href=\"/ForensicCase/Unlock/" + row.FCID.trim() + "\"><i class=\"mdl2-unlock\" style=\"font-style: normal\"></i></a>";
                    } else if (row.status.trim() === "Active") { /* CHECK IF THE CASE IS ACTIVE, IF TRUE, THEN SHOW ALL ICONS: */
                        return "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"View\" href=\"/ForensicCase/Details/" + row.FCID.trim() + "\"><i class=\"mdl2-view\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Edit\" href=\"/ForensicCase/Edit/" + row.FCID.trim() + "\"><i class=\"mdl2-edit\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Delete\" href=\"/ForensicCase/Delete/" + row.FCID.trim() + "\"><i class=\"mdl2-delete\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Lock\" href=\"/ForensicCase/Lock/" + row.FCID.trim() + "\"><i class=\"mdl2-lock\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Migrate\" href=\"/ForensicCase/Migrate/" + row.FCID.trim() + "\"><i class=\"mdl2-migrate\" style=\"font-style: normal\"></i></a>";
                    } else if (row.status.trim() === "Pending") { /* CHECK IF THE CASE IS PENDING, IF TRUE, THEN SHOW ONLY 'VIEW': */
                        return "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"View\" href=\"/ForensicCase/Details/" + row.FCID.trim() + "\"><i class=\"mdl2-view\" style=\"font-style: normal\"></i></a>";
                    } else { /* IN ALL OTHER CASES, SHOW ALL ICONS (FALLBACK): */
                        return "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"View\" href=\"/ForensicCase/Details/" + row.FCID.trim() + "\"><i class=\"mdl2-view\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Edit\" href=\"/ForensicCase/Edit/" + row.FCID.trim() + "\"><i class=\"mdl2-edit\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Delete\" href=\"/ForensicCase/Delete/" + row.FCID.trim() + "\"><i class=\"mdl2-delete\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Lock\" href=\"/ForensicCase/Lock/" + row.FCID.trim() + "\"><i class=\"mdl2-lock\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Migrate\" href=\"/ForensicCase/Migrate/" + row.FCID.trim() + "\"><i class=\"mdl2-migrate\" style=\"font-style: normal\"></i></a>";
                    }
                 },
                "drnumbers": function (column, row) { /* APPLY LARGE IDENTIFIER CLASS TO ALL DR NUMBERS: */
                    return "<span class=\"table-large-identifier\">"+ row.FCDR + "</span>";
                }
            }
        });
</script>

<script id="onDomReady" type="text/javascript">
        $(document).ready(function () {
            // Enable tooltips:
            $('[data-toggle="tooltip"]').tooltip();

            // Handle hovering of search button for textbox clearing:
            $("#btnSearchClear").hover(function () {
                $(this)
                    .style.color = "rgba(174,31,31,1)"
                    .removeClass("mdl2-search")
                    .addClass("mdl2-cancel");
            }, function () {
                $(this)
                    .style.color = "initial"
                    .removeClass("mdl2-cancel")
                    .addClass("mdl2-search");
            });

            // Clear search textbox on click:
            $("#btnSearchClear").click(function () { document.getElementById("txtSearch").value = "" });


            //$(function () {
            //    $("#allFC").tooltip({
            //        selector: "[data-toggle='tooltip']"
            //    });
            //});
        });
</script>


    }