@model IEnumerable<DocuPath.DataLayer.FORENSIC_CASE>
@{ ViewBag.Title = "All"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("Forensic Cases", "All") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-fc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">ALL FORENSIC CASES</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-three">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/ForensicCase/Add" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-add btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="ADD FORENSIC CASE"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnDensityToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-density btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="TOGGLE TABLE DENSITY"></button>
                </form>
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" data-toggle="modal" data-target="#divHaptic" style="margin-top: 2px">
                    <button id="btnHelpToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* ASPTABLE WITH ALL FORENSIC CASES: *@
<table id="allFC" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-id="identifier" data-column-id="FCID" data-visible="false" data-identifier="true" class="colour-dpred">
                @Html.DisplayNameFor(model => model.ForensicCaseID)
            </th>
            <th data-column-id="addedBy" class="colour-dpred">
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th data-column-id="status" class="colour-dpred">
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th data-column-id="FCDR" data-formatter="drnumbers" class="colour-dpred">
                @Html.DisplayNameFor(model => model.ForensicDRNumber)
            </th>
            <th data-column-id="briefDesc" class="colour-dpred">
                @Html.DisplayNameFor(model => model.FCBriefDescription)
            </th>
            <th data-column-id="dateAdded" data-converter="dpdate" data-order="desc" class="colour-dpred">
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th data-column-id="dateClosed" data-converter="dpdate" class="colour-dpred">
                @Html.DisplayNameFor(model => model.DateClosed)
            </th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false" class="colour-dpred">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.STATUS.StatusValue != "Archived")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ForensicCaseID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USER.FirstName) @Html.DisplayFor(modelItem => item.USER.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS.StatusValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ForensicDRNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCBriefDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateClosed)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@* NOTIFICATION/WARNING MODALS: *@
<div id="divDelete" class="modal-background hidden">
    <div class="modalbox">
        <div id="targetItem" class="hidden"></div>
        @* TITLE *@
        <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
        @* MESSAGE *@
        <div class="modalbox-message-text">
            Are you sure you want to delete this item? This action cannot be reverted.
        </div>
        @* HELP/INFO *@
        @*<div class="panel-group" id="warninghelpaccordion">
                <div class="modal-help-panel">
                    <div class="panel-heading modalbox-help-panel-heading"  data-toggle="collapse" data-target="#warninghelpbody" data-parent="#warninghelpaccordion">
                    More Information <span class="mdl2icon mdl2-down" style="font-size: 80%"></span>
                    </div>
                    <div id="warninghelpbody" class="panel-collapse collapse modalbox-help-panel-text">
                        <p style="margin-bottom: 0px; font-weight: bold">Error Code: W001</p>
                        <hr class="modal-help-hr-warning" />
                        <p style="margin-bottom: 0px">Certain fields on this page require information to be provided before any operations can continue. Please ensure that all fields have been populated before retrying this action.</p>
                    </div>
                </div>
            </div>*@
        @* BUTTONS *@
        <div class="modalbox-button-bar">
            <div class="col-md-3 modal-btn-col">
            </div>
            <div class="col-md-3 modal-btn-col">
            </div>
            <div class="col-md-3 modal-btn-col">
            </div>
            <div class="col-md-3 modal-btn-col">
                <input type="submit" id="btnWarningYes" value="Yes" class="btn btn-modal-generic" />
                <input type="submit" id="btnWarningNo" value="No" class="btn btn-modal-generic" />
            </div>
        </div>
    </div>
</div>
@* HAPTIC CONTEXT-SENSITIVE HELP: *@
<div id="divHaptic" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 80%; min-width: 800px; max-width: 1200px; max-height: 800px">
        <div class="modal-content">
            <div class="modal-header apad5" style="padding-left: 15px">
                <button type="button" class="close" data-dismiss="modal" style="margin-top: 7.5px" onclick="this.blur()"><i class="mdl2icon inline-mdl2icon mdl2-cancel"></i></button>
                <h4 class="modal-title">HAPTIC HELP CENTRE <span style="color: gray">—</span> <span class="colour-dpred" style="font-weight: normal">ALL FORENSIC CASES</span></h4>
            </div>
            <div class="modal-body apad5" style="max-height: 800px; overflow-y: auto">
                <div class="panel-group" id="AllFCHapticAccordion">
                    @* ON THIS PAGE *@
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#AllFCHapticAccordion" href="#OnThisPage" style="cursor: pointer">
                            <span class="mdl2icon mdl2-info panel-mdl2icon"></span>
                            <span>ON THIS PAGE</span>
                        </div>
                        <div id="OnThisPage" class="panel-collapse collapse">
                            <div class="panel-body apad5">
                                <ul>
                                    <li>This page displays a table containing all Forensic Cases in the DocuPath system that you are eligible to access.</li>
                                    <li>Superusers will be able to see all Forensic Cases (regardless of author), whilst non-Superusers will only be able to see Forensic Cases that they have authored.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @* FREQUENTLY ASKED QUESTIONS *@
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#AllFCHapticAccordion" href="#FAQs" style="cursor: pointer">
                            <span class="mdl2icon mdl2-help panel-mdl2icon"></span>
                            <span>FREQUENTLY ASKED QUESTIONS</span>
                        </div>
                        <div id="FAQs" class="panel-collapse collapse in">
                            <div class="panel-body apad5">
                                <table id="AllFCFAQs" class="table table-striped table-hover">
                                    <tr>
                                        @*<th data-id="identifier" data-column-id="FAQID" data-visible="false" data-identifier="true">#</th>*@
                                        <th data-column-id="Q" class="colour-dpred">I Want To...</th>
                                        <th data-column-id="A" class="colour-dpred">Try This:</th>
                                    </tr>
                                    @*@foreach (var item in Model.serviceRequests.OrderByDescending(x => x.DateAdded))
                                    {*@
                                        <tr>
                                            @*<td>1</td>*@
                                            <td>Search for a Forensic Case using a specific keyword/phrase.</td>
                                            <td>
                                                <ol>
                                                    <li>Ensure the target column is visible using the column selector menu.</li>
                                                    <li>Click the '<kbd>Enter a keyword/phrase...</kbd>' textbox.</li>
                                                    <li>Type the desired keyword or phrase to search by (<kbd>minimum of 3 characters, filtering occurs automatically after 250ms delay</kbd>).</li>
                                                </ol>
                                            </td>
                                        </tr>
                                        <tr>
                                            @*<td>2</td>*@
                                            <td>Search for a Forensic Case using a specific keyword/phrase.</td>
                                            <td>
                                                <ol>
                                                    <li>Ensure the target column is visible using the column selector menu.</li>
                                                    <li>Click the '<kbd>Enter a keyword/phrase...</kbd>' textbox.</li>
                                                    <li>Type the desired keyword or phrase to search by (<kbd>minimum of 3 characters, filtering occurs automatically after 250ms delay</kbd>).</li>
                                                </ol>
                                            </td>
                                        </tr>
                                        <tr>
                                            @*<td>3</td>*@
                                            <td>Search for a Forensic Case using a specific keyword/phrase.</td>
                                            <td>
                                                <ol>
                                                    <li>Ensure the target column is visible using the column selector menu.</li>
                                                    <li>Click the '<kbd>Enter a keyword/phrase...</kbd>' textbox.</li>
                                                    <li>Type the desired keyword or phrase to search by (<kbd>minimum of 3 characters, filtering occurs automatically after 250ms delay</kbd>).</li>
                                                </ol>
                                            </td>
                                        </tr>
                                        <tr>
                                            @*<td>3</td>*@
                                            <td>Search for a Forensic Case using a specific keyword/phrase.</td>
                                            <td>
                                                <ol>
                                                    <li>Ensure the target column is visible using the column selector menu.</li>
                                                    <li>Click the '<kbd>Enter a keyword/phrase...</kbd>' textbox.</li>
                                                    <li>Type the desired keyword or phrase to search by (<kbd>minimum of 3 characters, filtering occurs automatically after 250ms delay</kbd>).</li>
                                                </ol>
                                            </td>
                                        </tr>
                                        <tr>
                                            @*<td>3</td>*@
                                            <td>Search for a Forensic Case using a specific keyword/phrase.</td>
                                            <td>
                                                <ol>
                                                    <li>Ensure the target column is visible using the column selector menu.</li>
                                                    <li>Click the '<kbd>Enter a keyword/phrase...</kbd>' textbox.</li>
                                                    <li>Type the desired keyword or phrase to search by (<kbd>minimum of 3 characters, filtering occurs automatically after 250ms delay</kbd>).</li>
                                                </ol>
                                            </td>
                                        </tr>
                                    @*}*@
                                </table>
                            </div>
                        </div>
                    </div>
                    @* SCREEN LAYOUT *@
                    <div class="panel panel-default" style="height: 100%">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#AllFCHapticAccordion" href="#Layout" style="cursor: pointer">
                            <span class="mdl2icon mdl2-layout panel-mdl2icon"></span>
                            <span>SCREEN LAYOUT</span>
                        </div>
                        <div id="Layout" class="panel-collapse collapse">
                            <div class="panel-body apad5">
                                <p>The layout of this screen is as follows:</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer apad5">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>

    </div>
</div>

@section Scripts {
@Scripts.Render("~/bundles/bootgrid")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/materialdatetime")


<script id="loadBootgrid" type="text/javascript">
        var grid = $("#allFC").bootgrid({
            caseSensitive: false,
            converters: {
                dpdate: {
                    from: function (value) { return moment(value); },
                    to: function (value) { return value.format("ddd D MMM YYYY"); }
                }
            },
            formatters: {
                // INSERTS APPROPRIATE ACTION BUTTONS FOR EACH LINE IN THE ASPTABLE:
                "commands": function (column, row) {
                    if (row.status.trim() === "Locked") { /* CHECK IF THE CASE IS LOCKED, IF TRUE, THEN SHOW 'VIEW' AND 'UNLOCK': */
                        return "<a class=\"mdl2icon colour-dpblack\" href=\"/ForensicCase/Details/" + row.FCID.trim() + "\"><i class=\"mdl2-view\" data-toggle=\"tooltip\" value=\"View\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Edit\" href=\"/ForensicCase/Unlock/" + row.FCID.trim() + "\"><i class=\"mdl2-unlock\" style=\"font-style: normal\"></i></a>";
                    } else if (row.status.trim() === "Active") { /* CHECK IF THE CASE IS ACTIVE, IF TRUE, THEN SHOW ALL ICONS: */
                        return "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"View\" href=\"/ForensicCase/Details/" + row.FCID.trim() + "\"><i class=\"mdl2-view\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Edit\" href=\"/ForensicCase/Edit/" + row.FCID.trim() + "\"><i class=\"mdl2-edit\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Delete\" href=\"/ForensicCase/Delete/" + row.FCID.trim() + "\"><i class=\"mdl2-delete\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Lock\" href=\"/ForensicCase/Lock/" + row.FCID.trim() + "\"><i class=\"mdl2-lock\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Migrate\" href=\"/ForensicCase/Migrate/" + row.FCID.trim() + "\"><i class=\"mdl2-migrate\" style=\"font-style: normal\"></i></a>";
                    } else if (row.status.trim() === "Pending") { /* CHECK IF THE CASE IS PENDING, IF TRUE, THEN SHOW ONLY 'VIEW': */
                        return "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"View\" href=\"/ForensicCase/Details/" + row.FCID.trim() + "\"><i class=\"mdl2-view\" style=\"font-style: normal\"></i></a>";
                    } else { /* IN ALL OTHER CASES, SHOW ALL ICONS (FALLBACK): */
                        return "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"View\" href=\"/ForensicCase/Details/" + row.FCID.trim() + "\"><i class=\"mdl2-view\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Edit\" href=\"/ForensicCase/Edit/" + row.FCID.trim() + "\"><i class=\"mdl2-edit\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Delete\" href=\"/ForensicCase/Delete/" + row.FCID.trim() + "\"><i class=\"mdl2-delete\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Lock\" href=\"/ForensicCase/Lock/" + row.FCID.trim() + "\"><i class=\"mdl2-lock\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Migrate\" href=\"/ForensicCase/Migrate/" + row.FCID.trim() + "\"><i class=\"mdl2-migrate\" style=\"font-style: normal\"></i></a>";
                    }
                 },
                "drnumbers": function (column, row) { /* APPLY LARGE IDENTIFIER CLASS TO ALL DR NUMBERS: */
                    return "<span class=\"table-large-identifier\">"+ row.FCDR + "</span>";
                }
            }
        });
</script>

@*<script>
    var gridHaptic = $("#AllFCFAQs").bootgrid({
        caseSensitive: false,
        //navigation: 1,
        columnSelection: false,
        rowCount: 1
    });
</script>*@

<script id="onDomReady" type="text/javascript">
        // Enable tooltips:
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // Toggle Table Density:
        $("#btnDensityToggle").click(function () {
            var $target = $("#allFC");
            var $condensed = "table-condensed";
            var $minimal = "table-minimal"
            if ($target.hasClass($condensed) === false && $target.hasClass($minimal) === false) { $target.addClass($condensed); }
            else if ($target.hasClass($condensed)) { $target.removeClass($condensed); $target.addClass($minimal); }
            else if ($target.hasClass($minimal)) { $target.removeClass($minimal); }
            $("#btnDensityToggle").blur()
        });
</script>

@*<script name="deletescript" type="text/javascript">
        $(document).ready(function () {
            $('delete-catcher').click(function (event) {
                event.preventDefault();
                $('#divDelete').removeClass("hidden");
                document.getElementById("targetItem").innerHTML = "someContent";
            });
            $('#btnDeleteYes').click(function (target) { $('#divDelete').addClass("hidden"); window.location.href = "@Url.Action("All", "ForensicCase")"; });
            $('#btnDeleteNo').click(function () { $('#divDelete').addClass("hidden"); });
        });
</script>*@
}