@model DocuPath.Models.DPViewModels.AdditionalEvidenceViewModel
@using DocuPath.Models;
@{ ViewBag.Title = "Add"; ViewBag.GenericHAPTICLocator = "AddGeneric"; ViewBag.SpecificHAPTICLocator = "AddFCSpecific"; ViewBag.PageInfoLocator = "AddFC"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li>@Html.ActionLink("Forensic Cases", "All", "ForensicCase") </li>
    @{
        if (ViewBag.Instruction == "UPDATE")
        {
            ViewBag.Title = "Update";
            <li class="active">@Html.ActionLink("Update Forensic Case (Additional Evidence)", "CaptureAdditionalEvidenceDetails") </li>
        }
        else
        {
            <li class="active">@Html.ActionLink("Add Forensic Case (Additional Evidence)", "CaptureAdditionalEvidenceDetails") </li>
        }
    }
    
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-fc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            @{
                if (ViewBag.Instruction == "UPDATE")
                {
                    ViewBag.Title = "Update";
                    <div class="page-header-text">ADD FORENSIC CASE <span style="color: #666">– </span><span style="color: #ae1f1f">ADDITIONAL EVIDENCE</span></div>
                }
                else
                {
                    <div class="page-header-text">ADD FORENSIC CASE <span style="color: #666">– </span><span style="color: #ae1f1f">ADDITIONAL EVIDENCE</span></div>
                }
            }
            
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-three">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="javascript:void(0)" method="post" style="margin-top: 2px">
                    <button id="btnNext" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-forwardnext btn-mdl2icon" type="submit" data-toggle="tooltip" title="NEXT SECTION"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* MODAL NOTIFICATIONS: *@
<div id="divCancelWarning" class="modal-background hidden">
    <div class="modalbox">
        @* TITLE *@
        <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
        @* MESSAGE *@
        <div class="modalbox-message-text">
            Are you sure you want to leave this page? Any unsaved changes will be lost.
        </div>
        @* HELP/INFO *@
        <div class="panel-group" id="warninghelpaccordion">
            <div class="modal-help-panel">
                <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#warninghelpbody" data-parent="#warninghelpaccordion">More Information</div>
                <div id="warninghelpbody" class="panel-collapse collapse modalbox-help-panel-text">
                    <p style="margin-bottom: 0px; font-weight: bold">Code: W001</p>
                    <hr class="modal-help-hr-warning" />
                    <ul class="haptic-ul">
                        <li>This page allows the user to manipulate information.</li>
                        <li>If any data has been added/changed/amended, navigating away from this page will result in a loss of modified data.</li>
                        <li class="colour-dpred">Please make sure that navigation away from this page is the desired action.</li>
                        <li>To prevent data loss and remain on the current page, click the <kbd>No</kbd> button.</li>
                        <li>To cancel changes and return to the previous page, click the <kbd>Yes</kbd> button.</li>
                    </ul>
                </div>
            </div>
        </div>
        @* BUTTONS *@
        <div class="modalbox-button-bar">
            <div class="col-md-3 modal-btn-col"></div><div class="col-md-3 modal-btn-col"></div>
            <div class="col-md-3 modal-btn-col"></div>
            <div class="col-md-3 modal-btn-col">
                <input type="button" id="btnCancelYes" value="Yes" class="btn btn-modal-generic" onclick="window.location.href(@Url.Action("All","ForensicCase"))" />
                <input type="button" id="btnCancelNo" value="No" class="btn btn-modal-generic" />
            </div>
        </div>
    </div>
</div>

@* PAGE CONTENT: *@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "validation-text text-danger" })
    <input id="btnPOST" type="submit" class="hidden"/>
    <div class="form-horizontal border-generic form-generic">
        <ul class="nav nav-tabs nav-justified" data-toggle="tooltip" title="CASE BUILDER FLOW" data-placement="left">
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)">Core Data</a></li>
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)" style="margin-left: 5px">Observations</a></li>
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)" style="margin-left: 5px">Service Requests</a></li>
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)" style="margin-left: 5px">Media Items</a></li>
            <li class="active"><a class="dynamic-tab-heading" href="javascript:void(0)" style="margin-left: 5px">Additional Evidence</a></li>
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)" style="margin-left: 5px">Cause of Death</a></li>
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)" style="margin-left: 5px">Statistics</a></li>
        </ul>

        <div class="grid fc-media-add-grid">
            @for (int i = 0; i < Model.additionalEvidence.Count; i++)
            {
                @Html.HiddenFor(m => m.additionalEvidence[i].AdditionalEvidenceID);
                //@Html.HiddenFor(m => m.mediaList[i].MediaPurposeID);
                @*@Html.HiddenFor(m => m.additionalEvidence[i].StatusID);*@
                @*@Html.HiddenFor(m => m.additionalEvidence[i].UserID);*@
                @Html.HiddenFor(m => m.additionalEvidence[i].AdditionalEvidenceLocation);
                //@Html.HiddenFor(m => m.mediaList[i].IsPubliclyAccessible);//*
                @Html.HiddenFor(m => m.additionalEvidence[i].ForensicCaseID);
                //@Html.HiddenFor(m => m.mediaList[i].DateAdded);

                <hr class="dp-separator-hr" />
                <div class="fc-media-add-subgrid">
                    <div class="panel panel-default" style="margin-bottom: 0px">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="mdl2icon mdl2-info panel-mdl2icon"></span>
                                    <span>EVIDENCE ITEM DETAILS</span>
                                </div>

                                <div class="col-md-8">
                                    <div class="col-md-11 text-right" style="padding-right: 0px"><span class="media-filename" data-toggle="tooltip" title="FILENAME" data-placement="bottom">@Path.GetFileName(Model.additionalEvidence[i].AdditionalEvidenceLocation)</span></div>
                                    <div class="col-md-1 text-center" style="padding: 0px"><span class="mdl2icon mdl2-namesurname panel-mdl2icon"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row" style="padding: 0 0 0 0">
                                <div class="col-md-12 col-nopad">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.additionalEvidence[i].EvidenceDescription, htmlAttributes: new { @class = "control-label col-md-2 label-nopad" })
                                        <div class="col-md-10 col-nopad">
                                            @Html.EditorFor(model => model.additionalEvidence[i].EvidenceDescription, new { htmlAttributes = new { @placeholder = "Description Of Evidence Item Goes Here", @class = "form-control", @style = "width: 100%" } })
                                            @Html.ValidationMessageFor(model => model.additionalEvidence[i].EvidenceDescription, "", new { @class = "validation-text text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 0px">
                                        @Html.Label("Serial Number", htmlAttributes: new { @class = "control-label label-nopad col-md-2" })
                                        <div class="col-md-5 col-nopad">
                                            @Html.EditorFor(model => model.additionalEvidence[i].EvidenceSerialNumber, new { htmlAttributes = new { @placeholder = "XXXXXXXXXXXXXXXXXXXXXXXXX", @class = "form-control large-identifier", @style = "width: 100%" } })
                                            @Html.ValidationMessageFor(model => model.additionalEvidence[i].EvidenceSerialNumber, "", new { @class = "validation-text text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.additionalEvidence[i].ContactPersonNameSurname, htmlAttributes: new { @class = "control-label col-md-2 label-nopad" })
                                        <div class="col-md-5 col-nopad">
                                            @Html.EditorFor(model => model.additionalEvidence[i].ContactPersonNameSurname, new { htmlAttributes = new { @placeholder = "John Doe", @class = "form-control", @style = "width: 100%; margin-bottom: 0" } })
                                            @Html.ValidationMessageFor(model => model.additionalEvidence[i].ContactPersonNameSurname, "", new { @class = "validation-text text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.additionalEvidence[i].ContactPersonContactNum, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-1 label-nopad" })
                                        <div class="col-md-2 col-nopad">
                                            @Html.EditorFor(model => model.additionalEvidence[i].ContactPersonContactNum, new { htmlAttributes = new { @placeholder = "(999) 999 9999", @class = "form-control", @style = "width: 100%; margin-bottom: 0" } })
                                            @Html.ValidationMessageFor(model => model.additionalEvidence[i].ContactPersonContactNum, "", new { @class = "validation-text text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            }
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#btnNext').click(function () {
            document.getElementById('btnPOST').click();
        })
</script>

    <script name="warningscript" type="text/javascript">
        // FORT:
        Fort.solid('#ae1f1f', '#fortContainerCoreData');
        // CANCEL WARNING:
        $(document).ready(function () {
            $('#btnCancel').click(function (event) { event.preventDefault(); $('#divCancelWarning').removeClass("hidden"); });
            $('#btnCancelYes').click(function (target) { window.location.href = "@Url.Action("All", "ForensicCase")"; });
            $('#btnCancelNo').click(function () { $('#divCancelWarning').addClass("hidden"); });
        });
    </script>
}