@model DocuPath.Models.DPViewModels.AdditionalEvidenceViewModel
@{ ViewBag.Title = "Add"; ViewBag.GenericHAPTICLocator = "AddGeneric"; ViewBag.SpecificHAPTICLocator = "AddFCSpecific"; ViewBag.PageInfoLocator = "AddFC"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li>@Html.ActionLink("Forensic Cases", "All", "ForensicCase") </li>
    @if (ViewBag.Instruction == "UPDATE")
            {
                ViewBag.Title = "Update";
        <li class="active">@Html.ActionLink("Update Forensic Case (Additional Evidence)", "SelectAdditionalEvidenceItems") </li>
    }
    else
    {
        ViewBag.Title = "Add";
        <li class="active">@Html.ActionLink("Add Forensic Case (Additional Evidence)", "SelectAdditionalEvidenceItems") </li>
    }    
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-fc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            @if (ViewBag.Instruction == "UPDATE")
            {                
                <div class="page-header-text">UPDATE FORENSIC CASE <span style="color: #666">– </span><span style="color: #ae1f1f">ADDITIONAL EVIDENCE</span></div>
            }
            else
            {                
                <div class="page-header-text">ADD FORENSIC CASE <span style="color: #666">– </span><span style="color: #ae1f1f">ADDITIONAL EVIDENCE</span></div>
            }  
            
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-four">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            @{
                if (ViewBag.Instruction != "UPDATE")
                {
                    
                    <div grid-area="btn1">
                        <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                            <button id="btnNext" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-upload btn-mdl2icon" type="submit" data-toggle="tooltip" title="UPLOAD"></button>
                        </form>
                    </div>
                }
            }
            <div grid-area="btn2">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnSkip" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-forwardnext btn-mdl2icon" type="submit" data-toggle="tooltip" title="NEXT SECTION"></button>
                </form>
            </div>
            <div grid-area="btn3">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn4">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div>
                <form class="minimalform" action="@Url.Action("CaptureAdditionalEvidenceDetails","ForensicCase",new { id=ViewBag.FCID})" method="get" style="margin-top: 2px">
                    <input id="btnPOST" type="submit" class="hidden" />
                </form>
            </div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* MODAL NOTIFICATIONS: *@
<div id="divCancelWarning" class="modal-background hidden">
    <div class="modalbox">
        @* TITLE *@
        <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
        @* MESSAGE *@
        <div class="modalbox-message-text">
            Are you sure you want to leave this page? Any unsaved changes will be lost.
        </div>
        @* HELP/INFO *@
        <div class="panel-group" id="warninghelpaccordion">
            <div class="modal-help-panel">
                <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#warninghelpbody" data-parent="#warninghelpaccordion">More Information</div>
                <div id="warninghelpbody" class="panel-collapse collapse modalbox-help-panel-text">
                    <p style="margin-bottom: 0px; font-weight: bold">Code: W001</p>
                    <hr class="modal-help-hr-warning" />
                    <ul class="haptic-ul">
                        <li>This page allows the user to manipulate information.</li>
                        <li>If any data has been added/changed/amended, navigating away from this page will result in a loss of modified data.</li>
                        <li class="colour-dpred">Please make sure that navigation away from this page is the desired action.</li>
                        <li>To prevent data loss and remain on the current page, click the <kbd>No</kbd> button.</li>
                        <li>To cancel changes and return to the previous page, click the <kbd>Yes</kbd> button.</li>
                    </ul>
                </div>
            </div>
        </div>
        @* BUTTONS *@
        <div class="modalbox-button-bar">
            <div class="col-md-3 modal-btn-col"></div><div class="col-md-3 modal-btn-col"></div>
            <div class="col-md-3 modal-btn-col"></div>
            <div class="col-md-3 modal-btn-col">
                <input type="button" id="btnCancelYes" value="Yes" class="btn btn-modal-generic" onclick="window.location.href(@Url.Action("All","ForensicCase"))" />
                <input type="button" id="btnCancelNo" value="No" class="btn btn-modal-generic" />
            </div>
        </div>
    </div>
</div>

@* PAGE CONTENT: *@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "validation-text text-danger" })

    <div class="form-horizontal border-generic form-generic">
        <ul class="nav nav-tabs nav-justified" data-toggle="tooltip" title="CASE BUILDER FLOW" data-placement="left">
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)">Core Data</a></li>
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)" style="margin-left: 5px">Observations</a></li>
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)" style="margin-left: 5px">Service Requests</a></li>
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)" style="margin-left: 5px">Media Items</a></li>
            <li class="active"><a class="dynamic-tab-heading" href="javascript:void(0)" style="margin-left: 5px">Additional Evidence</a></li>
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)" style="margin-left: 5px">Cause of Death</a></li>
            <li><a class="dynamic-tab-heading link-disabled" href="javascript:void(0)" style="margin-left: 5px">Statistics</a></li>
        </ul>

        <p class="alert-bar alert-bar-info fullwidth" style="margin: 7.5px 0 7.5px 0">Additional Evidence items are document-related or foreign-format evidence items that support a Forensic Case (e.g. official documentation or reports).</p>

        <form action="~/ForensicCase/UploadAdditionalEvidenceItems"><input id="btnPOST" class="hidden" type="submit" /></form>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
                <span>SELECT ADDITIONAL EVIDENCE ITEMS TO UPLOAD</span>
            </div>
            <div class="panel-body apad5">
                <div class="row">
                    @*@Html.Label("Upload Files", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })*@
                    <div class="col-md-12 file-input theme-fa file-input-ajax-new">
                        <input id="AEItems" name="AEItems" type="file" multiple @*class="file-loading"*@ />
                        @*<input id="input-fa" name="inputfa[]" type="file" multiple class="file-loading">*@
                        @*@Html.Editor("Upload", new { htmlAttributes = new { @type = "file", @class = "form-control", @multiple = "true", @id = "ofdLegacyCase", @style = "width: 100%" } })*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fileinput")

<script>
        $(document).ready(function () {
            //$('[title=""]').tooltip();


            $("#AEItems").fileinput({
                theme: "fa",
                uploadUrl: "/ForensicCase/UploadAdditionalEvidenceItems/",
                fileActionSettings: {
                    showUpload: false
                },
                previewZoomButtonIcons: {
                    close: ''
                },
                previewZoomButtonClasses: {
                    prev: 'btn btn-navigate',
                    next: 'btn btn-navigate',
                    toggleheader: 'btn btn-kv btn-default btn-outline-secondary hidden',
                    fullscreen: 'btn btn-kv btn-default btn-outline-secondary hidden',
                    borderless: 'btn btn-kv btn-default btn-outline-secondary hidden',
                    close: 'btn btn-default btn-generic btn-page-action mdl2icon mdl2-cancel btn-mdl2icon'
                },
                allowedFileExtensions: ['doc', 'dot', 'docx', 'dotx', 'xls', 'xlt', 'xlsx', 'xltx', 'ppt', 'pot', 'pptx', 'potx', 'pdf', 'txt'],
                maxFileCount: 10
            });

            //$('[title][title!=]').tooltip();

            $('#btnNext').click(function () {
                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {
                    var files = $("#AEItems").fileinput('getFileStack');

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    gdata = fileData;

                    // Adding one more key to FormData object
                    // none needed here
                    //fileData.append('LCDR', document.getElementById("drnum").value);

                    $.ajax({
                        url: '/ForensicCase/UploadAdditionalEvidenceItems/@Html.Raw(ViewBag.FCID)',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            alert(result); //Throw Success Modal 404
                            if (result == 'File(s) Uploaded Successfully!') {

                                document.getElementById("btnPOST").click();
                            }
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                            
                } else {
                    alert("FormData is not supported.");
                }
            });
        });
</script>
}