@{ ViewBag.Title = "Upload"; ViewBag.GenericHAPTICLocator = "UploadGeneric"; ViewBag.SpecificHAPTICLocator = "UploadMediaSpecific"; ViewBag.PageInfoLocator = "UploadMedia"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li>@Html.ActionLink("Media Repository", "All", "Media") </li>
    <li class="active">@Html.ActionLink("Upload Media Items", "Upload") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-upload"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">UPLOAD MEDIA ITEMS</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-two">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/Media/All" method="post" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-backprevious btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="BACK TO LIST"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnProceed" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-upload btn-mdl2icon" type="submit" data-toggle="tooltip" title="UPLOAD & PROCEED"></button>
                </form>
            </div>
            @*<div grid-area="btn2">
                    <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                        <button id="btnDensityToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-density btn-mdl2icon" data-toggle="tooltip" title="TOGGLE TABLE DENSITY"></button>
                    </form>
                </div>*@
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>

<div class="form-horizontal border-generic form-generic">
    <form action="~/Media/Add"><input id="btnPOST" class="hidden" type="submit" /></form>
    <div class="row" style="margin-left: 0px">
        <div class="col-md-12" style="padding-left: 5px; padding-right: 15px">
            <div class="panel panel-default" style="margin-bottom: 0px">
                <div class="panel-heading">
                    <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
                    <span>SELECT MEDIA ITEMS TO UPLOAD</span>
                </div>
                <div class="panel-body apad5">
                    <div class="row">
                        @*@Html.Label("Upload Files", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })*@
                        <div class="col-md-12 file-input theme-fa file-input-ajax-new">
                            <input id="MediaItems" name="MediaItems" type="file" multiple @*class="file-loading"*@ />
                            @*<input id="input-fa" name="inputfa[]" type="file" multiple class="file-loading">*@
                            @*@Html.Editor("Upload", new { htmlAttributes = new { @type = "file", @class = "form-control", @multiple = "true", @id = "ofdLegacyCase", @style = "width: 100%" } })*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fileinput")

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $("#MediaItems").fileinput({
                theme: "fa",
                uploadUrl: "/Media/Upload",
                fileActionSettings: {
                    showUpload: false
                },
            });

        $('#btnProceed').click(function () {
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {
                var files = $("#MediaItems").fileinput('getFileStack');

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                gdata = fileData;

                // Adding one more key to FormData object
                // none needed here
                //fileData.append('LCDR', document.getElementById("drnum").value);

                $.ajax({
                    url: '/Media/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert(result); //Throw Success Modal 404
                        document.getElementById("btnPOST").click();
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
        $('#btnProceed').blur();
    });
    </script>

    }