@model DocuPath.Models.DPViewModels.ReportingViewModel
<link rel="stylesheet" href="~/Content/bootstrap-material-datetimepicker.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
@{ ViewBag.Title = "INSIGHT"; ViewBag.GenericHAPTICLocator = "INSIGHTGeneric"; ViewBag.SpecificHAPTICLocator = "INSIGHTSpecific"; ViewBag.PageInfoLocator = "INSIGHT"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("INSIGHT Reporting", "Insight") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-reporting"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">INSIGHT REPORTING</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-one">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>        
            <div grid-area="btn1">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>

<div class="form-horizontal border-generic form-generic" style="padding-bottom: 0">
    @* ACCORDION START *@
    <div class="panel-group grid insight-grid" id="INSIGHTaccordion">
            <div class="panel panel-default" grid-area="selector">
                <div class="panel-heading" data-toggle="collapse" data-target="#reportselect" data-parent="#INSIGHTaccordion" style="cursor: pointer">
                    <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
                    <span>Report Selector</span>
                </div>
                <div id="reportselect" class="panel-collapse collapse in">
                    <div class="panel-body grid insight-subgrid apad5">
                        <div grid-area="controls">
                            @* REPORT SELECTOR CODE HERE *@
                            @Html.Label("Select an INSIGHT Report:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px; padding-top: 0" })
                                @Html.DropDownList("ddlReportSelector", new List<SelectListItem>
                            {
                                new SelectListItem{ Text="Select an INSIGHT Report...", Value = "0"},
                                new SelectListItem{ Text="Cause Of Death Report", Value = "1" },
                                new SelectListItem{ Text="Manner Of Death Report", Value = "2" },
                                new SelectListItem{ Text="Scene Of Injury Report", Value = "3" },
                                new SelectListItem{ Text="New Media Report", Value = "4" },
                                new SelectListItem{ Text="Outstanding Service Request Report", Value = "5" },
                                new SelectListItem{ Text="Superuser Override Report", Value = "6",},
                                new SelectListItem{ Text="Case Duration Report", Value = "7" },
                                new SelectListItem{ Text="User Activity Report", Value = "8" },
                            },
                            htmlAttributes: new { @class = "form-control", @style = "Width: 275px" })
                                @Html.ValidationMessage("Please select an INSIGHT Report.", new { onchange = "check()", @class = "text-danger" })
                        </div>
                        <div class="insight-guidance" grid-area="guidance">
                            <ul class="haptic-ol" style="padding-top: 0; padding-bottom: 0">
                                <li>Select one of the pre-defined <kbd>System Reports</kbd> to begin.</li>
                                <li>Remaining steps in the <kbd>Report Builder</kbd> will adjust based on your selection.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" grid-area="timeframe" id="pnlTimeframeParams">
                <div class="panel-heading" data-toggle="collapse" data-target="#timeframe" data-parent="#INSIGHTaccordion" style="cursor: pointer">
                    <span class="mdl2icon mdl2-datetime panel-mdl2icon"></span>
                    <span>Report Timeframe</span>
                </div>
                <div id="timeframe" class="panel-collapse collapse">
                    <div class="panel-body grid insight-subgrid apad5">
                        <div class="controls">
                            @* TIMEFRAME OPTIONS *@
                            @Html.Label("Select a Report Timeframe:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px; padding-top: 0" })
                            @Html.DropDownList("ddlTimeframe", new List<SelectListItem>
                                {
                                    new SelectListItem{ Text="Select a Timeframe...", Value = "0"},
                                    new SelectListItem{ Text="Today", Value = "1" },
                                    new SelectListItem{ Text="Yesterday", Value = "2" },
                                    new SelectListItem{ Text="This Week", Value = "3" },
                                    new SelectListItem{ Text="Last Week", Value = "4" },
                                    new SelectListItem{ Text="Custom Timeframe", Value = "5"},
                                },
                                htmlAttributes: new { @class = "form-control", @style = "Width: 275px" })
                            @Html.ValidationMessage("Please select a Timeframe.", new { onchange = "check()", @class = "text-danger" })

                            <div class="form-group" id="frmStartDate" style="margin-left: 0px; margin-right: 0px">
                                @* START DATE PARAMETER: - HIDE IF NOT CUSTOM TIMEFRAME *@
                                @Html.Label("Select a Start Date:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px" })
                                <div class="row" style="padding-left: 15px; padding-right: 15px">
                                    <div class='input-group date'>
                                        @Html.Editor("txtStartDate", new { htmlAttributes = new { @*@id = "DiscoveryDate",*@ @type = "date", @*@onclick = "discoveryDTP()",*@ @class = "form-control", @style = "width: 100%" } })
                                        @*<input type='text' class="form-control" id="StartDate" />*@
                                        <span class="input-group-addon" onclick="startDTP()">
                                            <span class="mdl2icon mdl2-date"></span>
                                        </span>
                                    </div>
                                </div>
                                @*<div class="row" style="padding-left: 15px; padding-right: 15px">
                                    @Html.Editor("StartDate", new { htmlAttributes = new { @Value = System.DateTime.Now.ToString("dd MMM yyyy"), @class = "form-control", @style = "Width: 275px" } })
                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                    </div>*@
                            </div>

                            <div class="form-group" id="frmEndDate" style="margin: 0">
                                @* END DATE PARAMETER: - HIDE IF NOT CUSTOM TIMEFRAME *@
                                @Html.Label("Select an End Date:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px" })
                                <div class="row" style="padding-left: 15px; padding-right: 15px">
                                    <div class="input-group date">
                                        @Html.Editor("txtEndDate", new
                                                           {
                                                               htmlAttributes = new
                                                               { @*@id = "DiscoveryDate",*@ @type = "date", @*@onclick = "discoveryDTP()",*@ @class = "form-control",
                                                                   @style = "width: 100%"
                                                               }
                                                           })
                                        @*<input type='text' class="form-control" id="EndDate" />*@
                                        <span class="input-group-addon" onclick="endDTP()">
                                            <span class="mdl2icon mdl2-date">
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                @*<div class="row" style="padding-left: 15px; padding-right: 15px">
                                    @Html.Editor("EndDate", new { htmlAttributes = new { @Value = System.DateTime.Now.ToString("dd MMM yyyy"), @class = "form-control", @style = "Width: 275px" } })
                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                    </div>*@
                            </div>
                        </div>
                        <div class="insight-guidance" grid-area="guidance">
                            <ul class="haptic-ol" style="padding-top: 0; padding-bottom: 0">
                                <li>Select one of the pre-defined <kbd>Report Timeframes</kbd> to begin.</li>
                                <li>Available timeframes are <kbd>Today</kbd>, <kbd>Yesterday</kbd>, <kbd>This Week</kbd>, <kbd>Last Week</kbd> and <kbd>Custom Timeframe</kbd>.</li>
                                <li>If <kbd>Custom Timeframe</kbd> is selected, proceed to specify a <kbd>Start Date</kbd> and <kbd>End Date</kbd>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" grid-area="parameters" id="pnlReportParams">
                <div class="panel-heading" data-toggle="collapse" data-target="#parameters" data-parent="#INSIGHTaccordion" style="cursor: pointer">
                    <span class="mdl2icon mdl2-params panel-mdl2icon"></span>
                    <span>Report Parameters</span>
                </div>
                <div id="parameters" class="panel-collapse collapse">
                    <div class="panel-body grid insight-subgrid apad5">
                        <div grid-area="controls">
                            @* SUPERUSER SELECTOR PARAMETER: *@
                            <div class="form-group" id="frmSuperuserSelect" style="margin: 0">
                                @Html.Label("Select a Superuser:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px; padding-top: 0" })
                                <div class="row" style="padding-left: 15px; padding-right: 15px">
                                    @Html.DropDownList("ddlSuperuser", (IEnumerable<SelectListItem>)ViewBag.Superusers, htmlAttributes: new { onchange = "check()", @class = "form-control", @style = "Width: 275px" })
                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                </div>
                            </div>

                            @* USER SELECTOR PARAMETER: *@
                            <div class="form-group" id="frmUserSelect" style="margin-left: 0px; margin-right: 0px">
                                @Html.Label("Select a User:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px; padding-top: 0" })
                                <div class="row" style="padding-left: 15px; padding-right: 15px">
                                    @Html.DropDownList("ddlUser", (IEnumerable<SelectListItem>)ViewBag.Users, htmlAttributes: new { onchange = "check()", @class = "form-control", @style = "Width: 275px" })
                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                </div>
                            </div>

                            @* ACTIVITY SELECTOR PARAMETER: *@
                            <div class="form-group" id="frmActivityTypeSelect" style="margin: 0">
                                @Html.Label("Select an Activity Type:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px; padding-top: 0" })
                                <div class="row" style="padding-left: 15px; padding-right: 15px">
                                    @Html.DropDownList("ddlActivityType", (IEnumerable<SelectListItem>)ViewBag.ActivityTypes, htmlAttributes: new { onchange = "check()", @class = "form-control", @style = "Width: 275px" })
                                    @Html.ValidationMessage("", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="insight-guidance" grid-area="guidance">
                            <ul class="haptic-ol" style="padding-top: 0; padding-bottom: 0">
                                <li>Select the appropriate value for the applicable <kbd>Parameter</kbd> or parameters.</li>
                                <li>Parameters assist with drilling down into larger datasets, for example by restricting report output to records involving a single user.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" grid-area="actions">
                <div class="panel-heading" data-toggle="collapse" data-target="#reportactions" data-parent="#INSIGHTaccordion" style="cursor: pointer">
                    <span class="mdl2icon mdl2-cog panel-mdl2icon"></span>
                    <span>Report Actions</span>
                </div>
                <div id="reportactions" class="panel-collapse collapse">
                    <div class="panel-body grid insight-subgrid apad5">
                        <div grid-area="controls">
                            @* REPORT ACTIONS CODE HERE *@
                            <div class="form-group" style="padding-left: 15px; padding-right: 15px;">
                                @*<button class="btn btn-default btn-generic" type="submit" style="width: 175px; margin-top: 5px;">
                                        <i class="mdl2icon mdl2-done"></i>
                                        Generate Report
                                    </button>*@
                                <form grid-area="generate" class="minimalform" action="javascript:void(0)" @*method="post"*@ style="margin-top: 2px"data-toggle="modal" data-target="#report_gen">
                                    <button id="toggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-done btn-mdl2icon" onclick="this.blur()" @*type="submit"*@ data-toggle="tooltip" title="GENERATE REPORT" data-placement="bottom"></button>
                                </form>
                                @*<form grid-area="download" class="minimalform" action="~/Insight/DownloadReport" method="post" style="margin-top: 2px">
                                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-download btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="DOWNLOAD REPORT" data-placement="bottom"></button>
                                </form>*@
                            </div>
                        </div>
                        <div class="insight-guidance" grid-area="guidance">
                            <ul class="haptic-ol" style="padding-top: 0; padding-bottom: 0">
                                <li>That's it! Click the <kbd>Generate Report</kbd> button to generate the report. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @* ACCORDION END *@

    <div class="modal fade" id="report_gen" role="dialog">
        <div class="modal-dialog" style="width:800px;height:auto;max-height:600px;min-height:450px">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="grid hdr-grid">
                        <div class="page-hdr">
                            <div class="page-header-subgrid">
                                <div class="icon-circle mdl2icon mdl2-reporting"></div>
                                <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
                                <div class="page-header-text">GENERATED REPORT PREVIEW</div>
                            </div>
                        </div>
                        <div class="page-btns">
                            <div class="page-buttons-subgrid buttons-two">
                                <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
                                <div></div>
                                <div grid-area="btn1">
                                    <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                                        <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-cancel btn-mdl2icon" onclick="this.blur()" data-dismiss="modal" type="submit" data-toggle="tooltip" title="CLOSE" data-placement="left"></button>
                                    </form>
                                </div>
                                <div grid-area="btn2">
                                    <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                                        <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-print btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="PRINT" data-placement="right"></button>
                                    </form>
                                </div>
                                <div></div>
                                <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form-generic nomarg">
                        <div id="reportPreview" class="grid reportcontainer">
                            <img class="dplogo" src="~/Content/Resources/DPHorizontalLogoWhiteBG.png" style="max-height: 50px; max-width: 150px" />
                            <img class="separator1" src="~/Content/Resources/SlantedDivider.png" style="max-height: 50px" />
                            <div class="grid report-timestamp">
                                <span class="stamp-icon insight-mdl2icon mdl2-action"></span>
                                <div class="stamp-label">TIMESTAMP</div>
                                <div class="stamp-value">@System.DateTime.Now.ToString("dd MMM yyyy HH:mm:ss")</div>
                                <div class="stamp-icon insight-mdl2icon mdl2-datetime"></div>
                                <div class="stamp-label">TIMEFRAME</div>
                                <div class="stamp-value">@System.DateTime.Now.Date.AddDays(-7).ToString("dd MMM yyyy") - @System.DateTime.Now.Date.ToString("dd MMM yyyy")</div>
                            </div>
                            <img class="separator2" src="~/Content/Resources/SlantedDivider.png" style="max-height: 50px" />
                            <div class="grid report-generator">
                                <div class="generator-label">GENERATED BY</div>
                                <span class="generator-icon insight-mdl2icon mdl2-individual"></span>
                                <div class="generator-value">John Doe</div>
                            </div>
                            <img class="insightlogo" src="~/Content/Resources/DP_INSIGHT_FINALLOGO_TRANSPARENTBG.png" style="max-height: 50px; max-width: 150px" />
                            <div class="report-title">USER ACTIVITY REPORT</div>
                            <div class="grid report-params-summary-container">
                                <div class="grid params-grid">
                                    <div class="params-icon insight-mdl2icon mdl2-count"></div>
                                    <div class="params-label">NUMBER OF ENTRIES</div>
                                    <div class="params-value">@Model.activityTransactions.Count</div>
                                    <div class="params-icon insight-mdl2icon mdl2-param"></div>
                                    <div class="params-label">SORTED BY</div>
                                    <div class="params-value">Timestamp</div>
                                    <div class="params-icon insight-mdl2icon mdl2-param"></div>
                                    <div class="params-label">GROUPED BY</div>
                                    <div class="params-value">None</div>
                                </div>
                                <div class="vsep"></div>
                                <div class="grid summary-grid">
                                    <div class="summary-icon insight-mdl2icon mdl2-info"></div>
                                    <div class="summary-label">REPORT SUMMARY</div>
                                    <div class="summary-value">This report contains user activity information for the selected user during the specified report timeframe.</div>
                                </div>
                            </div>
                            <div class="report-content">
                                <table id="allFC" class="table table-striped table-hover table-condensed table-insight">
                                    <thead>
                                        <tr>
                                            <th data-id="identifier" data-column-id="FCID" data-visible="false" data-identifier="true" class="colour-dpred">
                                                ID
                                            </th>
                                            <th data-column-id="addedBy" class="colour-dpred">
                                                Activity Type
                                            </th>
                                            <th data-column-id="status" class="colour-dpred">
                                                Datestamp
                                            </th>
                                            <th data-column-id="FCDR" data-cssClass="table-large-identifier-insight-insight" data-formatter="drnumbers" class="colour-dpred">
                                                Timestamp
                                            </th>
                                            <th data-column-id="dateAdded" data-converter="dpdate" data-order="desc" class="colour-dpred">
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.activityTransactions.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Model.activityTransactions[i].AuditLogTxID.ToString()
                                                </td>
                                                <td>
                                                    @Model.activityTransactions[i].AUDIT_TX_TYPE.TypeValue
                                                </td>
                                                <td>
                                                    @Model.activityTransactions[i].TxDateStamp.ToString("dd MMM yyyy")
                                                </td>
                                                <td>
                                                    @Model.activityTransactions[i].TxTimeStamp.ToString("HH:mm:ss")
                                                </td>
                                                <td>
                                                    @Model.activityTransactions[i].TxCriticalDataString
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="grid insight-chart-grid">
                                    <span class="chart-icon insight-mdl2icon mdl2-chart"></span>
                                    <div class="chart-title">USER ACTIVITY FREQUENCY GRAPH</div>
                                    <div class="chart-subtitle"></div>
                                    <canvas class="chart-area" id="myChart" width="500" height="400"></canvas>
                                </div>
                            </div>
                            <div class="grid report-footer footer-bg">
                                <div></div>
                                <div class="page-counter">PAGE 1<span class="page-counter-accent">OF 999</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div class="panel panel-default" style="margin-bottom: 5px">
        <div class="panel-heading">
            <span class="mdl2icon mdl2-view panel-mdl2icon"></span>
            <span>Report Output</span>
        </div>
        <div id="pnlBody" class="panel-body apad5">
            <img id="noPreview" src="~/Content/Resources/NoReportPreview.png" style="max-height: 650px; max-width: 824px; border-radius: 4px" />
            <div id="reportPreview" class="grid reportcontainer">
                <img class="dplogo" src="~/Content/Resources/DPHorizontalLogoWhiteBG.png" style="max-height: 50px; max-width: 150px" />
                <img class="separator1" src="~/Content/Resources/SlantedDivider.png" style="max-height: 50px" />
                <div class="grid report-timestamp">
                    <span class="stamp-icon insight-mdl2icon mdl2-action"></span>
                    <div class="stamp-label">TIMESTAMP</div>
                    <div class="stamp-value">@System.DateTime.Now.ToString("dd MMM yyyy HH:mm:ss")</div>
                    <div class="stamp-icon insight-mdl2icon mdl2-datetime"></div>
                    <div class="stamp-label">TIMEFRAME</div>
                    <div class="stamp-value">@System.DateTime.Now.Date.AddDays(-7).ToString("dd MMM yyyy") - @System.DateTime.Now.Date.ToString("dd MMM yyyy")</div>
                </div>
                <img class="separator2" src="~/Content/Resources/SlantedDivider.png" style="max-height: 50px" />
                <div class="grid report-generator">
                    <div class="generator-label">GENERATED BY</div>
                    <span class="generator-icon insight-mdl2icon mdl2-individual"></span>
                    <div class="generator-value">John Doe</div>
                </div>
                <img class="insightlogo" src="~/Content/Resources/DP_INSIGHT_FINALLOGO_TRANSPARENTBG.png" style="max-height: 50px; max-width: 150px" />
                <div class="report-title">USER ACTIVITY REPORT</div>
                <div class="grid report-params-summary-container">
                    <div class="grid params-grid">
                        <div class="params-icon insight-mdl2icon mdl2-count"></div>
                        <div class="params-label">NUMBER OF ENTRIES</div>
                        <div class="params-value">@Model.activityTransactions.Count</div>
                        <div class="params-icon insight-mdl2icon mdl2-param"></div>
                        <div class="params-label">SORTED BY</div>
                        <div class="params-value">Timestamp</div>
                        <div class="params-icon insight-mdl2icon mdl2-param"></div>
                        <div class="params-label">GROUPED BY</div>
                        <div class="params-value">None</div>
                    </div>
                    <div class="vsep"></div>
                    <div class="grid summary-grid">
                        <div class="summary-icon insight-mdl2icon mdl2-info"></div>
                        <div class="summary-label">REPORT SUMMARY</div>
                        <div class="summary-value">This report contains user activity information for the selected user during the specified report timeframe.</div>
                    </div>
                </div>
                <div class="report-content">
                    <table id="allFC" class="table table-striped table-hover table-condensed table-insight">
                        <thead>
                            <tr>
                                <th data-id="identifier" data-column-id="FCID" data-visible="false" data-identifier="true" class="colour-dpred">
                                    ID
                                </th>
                                <th data-column-id="addedBy" class="colour-dpred">
                                    Activity Type
                                </th>
                                <th data-column-id="status" class="colour-dpred">
                                    Datestamp
                                </th>
                                <th data-column-id="FCDR" data-cssClass="table-large-identifier-insight-insight" data-formatter="drnumbers" class="colour-dpred">
                                    Timestamp
                                </th>
                                <th data-column-id="dateAdded" data-converter="dpdate" data-order="desc" class="colour-dpred">
                                    Description
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.activityTransactions.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Model.activityTransactions[i].AuditLogTxID.ToString()
                                    </td>
                                    <td>
                                        @Model.activityTransactions[i].AUDIT_TX_TYPE.TypeValue
                                    </td>
                                    <td>
                                        @Model.activityTransactions[i].TxDateStamp.ToString("dd MMM yyyy")
                                    </td>
                                    <td>
                                        @Model.activityTransactions[i].TxTimeStamp.ToString("HH:mm:ss")
                                    </td>
                                    <td>
                                        @Model.activityTransactions[i].TxCriticalDataString
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="grid chart-grid">
                        <span class="chart-icon insight-mdl2icon mdl2-chart"></span>
                        <div class="chart-title">USER ACTIVITY FREQUENCY GRAPH</div>
                        <div class="chart-subtitle"></div>
                        <canvas class="chart-area" id="myChart" width="750" height="500"></canvas>
                    </div>
                </div>
                <div class="grid report-footer footer-bg">
                    <div></div>
                    <div class="page-counter">PAGE 1<span class="page-counter-accent">OF 999</span></div>
                </div>
            </div>
        </div>
    </div>*@
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toggle")
    @Scripts.Render("~/bundles/materialdatetime")

    @* DATETIMEPICKERS: *@
    <script name="DTPCallers" type="text/javascript">
        $(function startDTP() {
            $('#StartDate').bootstrapMaterialDatePicker({
                format: 'D MMMM YYYY',
                year: true,
                date: true,
                time: false,
                clearButton: true,
                nowButton: true,
                nowText: "Now",
                switchOnClick: true,
                okText: "OK"
            });
        });
        $(function endDTP() {
            $('#EndDate').bootstrapMaterialDatePicker({
                format: 'D MMMM YYYY',
                year: true,
                date: true,
                time: false,
                clearButton: true,
                nowButton: true,
                nowText: "Now",
                switchOnClick: true,
                okText: "OK"
            });
        });
    </script>

    @* FORM-GROUP VISIBILITY TOGGLING: *@
    <script type="text/javascript">
    $(document).ready(function () {
        $("#pnlBody").addClass("text-center"),
        $("#noPreview").show(),
        $("#frmStartDate").hide(),
        $("#frmEndDate").hide(),
        $("#frmSuperuserSelect").hide(),
        $("#frmUserSelect").hide(),
        $("#frmActivityTypeSelect").hide(),
        $("#pnlReportParams").hide(),
        $("#reportPreview").hide()
        $('[data-toggle="tooltip"]').tooltip();
        $("button").click(function () {
            var $target = this;
            this.blur()
        });

        $("#toggle").click(function () {
            $("#noPreview").hide(),
            $("#reportPreview").show(),
            $("#pnlBody").removeClass("text-center")
        });
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function check() {
        $("#ddlReportSelector").change(function () {
            if ($("#ddlReportSelector").val() == "6") { /* SU OVERRIDE */
                $("#pnlReportParams").show("slow"),
                $("#frmSuperuserSelect").show("slow"),
                $("#frmUserSelect").hide("slow"),
                $("#frmActivityTypeSelect").hide("slow"),
                $("#pnlTimeframeParams").show("slow"),
                $("#reportPreview").hide()
            } else if ($("#ddlReportSelector").val() == "8") { /* USER ACTIVITY*/
                $("#pnlReportParams").show("slow"),
                $("#frmSuperuserSelect").hide("slow"),
                $("#frmUserSelect").show("slow"),
                $("#frmActivityTypeSelect").show("slow"),
                $("#pnlTimeframeParams").show("slow")
            } else if ($("#ddlReportSelector").val() == "5") { /* OUTSTANDING SR */
                $("#pnlReportParams").hide("slow"),
                $("#frmSuperuserSelect").hide("slow"),
                $("#frmUserSelect").hide("slow"),
                $("#frmActivityTypeSelect").hide("slow"),
                $("#pnlTimeframeParams").hide("slow"),
                $("#reportPreview").hide()
            }
            else {
                $("#pnlReportParams").hide("slow"),
                $("#frmSuperuserSelect").hide("slow"),
                $("#frmUserSelect").hide("slow"),
                $("#frmActivityTypeSelect").hide("slow"),
                $("#pnlTimeframeParams").show("slow"),
                $("#reportPreview").hide()
            }
        });

        $("#ddlTimeframe").change(function () {
            if ($("#ddlTimeframe").val() == "5") {
                $("#frmStartDate").show("slow")
                $("#frmEndDate").show("slow")
            } else {
                $("#frmStartDate").hide("slow")
                $("#frmEndDate").hide("slow")
            }
        });

        $("#ddlUser").change(function () {
            if ($("#ddlTimeframe").val() == "5") {
                $("#frmStartDate").show("slow")
                $("#frmEndDate").show("slow")
            } else {
                $("#frmStartDate").hide("slow")
                $("#frmEndDate").hide("slow")
            }
        });

        $("#ddlActivityType").change(function () {
            if ($("#ddlTimeframe").val() == "5") {
                $("#frmStartDate").show("slow")
                $("#frmEndDate").show("slow")
            } else {
                $("#frmStartDate").hide("slow")
                $("#frmEndDate").hide("slow")
            }
        });
    })
    </script>

    <script type="text/javascript">
        //$(function () {
        //    $('#StartDate').datetimepicker({
        //        viewMode: 'years',
        //        format: 'D MMM YYYY HH:mm',
        //        icons: {
        //            time: "mdl2icon mdl2-time",
        //            date: "mdl2icon mdl2-date",
        //            up: "mdl2icon mdl2-up",
        //            down: "mdl2icon mdl2-down"
        //        }
        //    });
        //});
        //$(function () {
        //    $('#EndDate').datetimepicker({
        //        viewMode: 'years',
        //        format: 'D MMM YYYY HH:mm',
        //        icons: {
        //            time: "mdl2icon mdl2-time",
        //            date: "mdl2icon mdl2-date",
        //            up: "mdl2icon mdl2-up",
        //            down: "mdl2icon mdl2-down"
        //        }
        //    });
        //});

  @*$(function () {
    $('#StartDate').datetimepicker({
      defaultDate: '@System.DateTime.Today',
      format: 'D MMM YYYY',
      showClose: true,
      showClear: true,
      toolbarPlacement: 'top',
      //locale: 'en-gb'
    });
    $('#EndDate').datetimepicker({
      defaultDate: '@System.DateTime.Today',
      format: 'D MMM YYYY',
      showClose: true,
      showClear: true,
      toolbarPlacement: 'top',
      //locale: 'en-gb'
    });
    $('#AnnualMeetingStartTime').datetimepicker({
      defaultDate: '@System.DateTime.Now',
      format: 'LT',
      showClose: true,
      showClear: true,
      toolbarPlacement: 'top',
      stepping: 15
    });
  });*@
    </script>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
        datasets: [{
            label: 'Relative Frequency',
            data: [12, 19, 3, 5, 2, 26, 25],
            backgroundColor: [
                'rgba(174, 31, 31, 0.2)',
                'rgba(0, 0, 0, 0.2)',
                'rgba(128, 128, 128, 0.2)',
                'rgba(174, 31, 31, 0.2)',
                'rgba(0, 0, 0, 0.2)',
                'rgba(128, 128, 128, 0.2)',
            ],
            borderColor: [
                'rgba(174, 31, 31, 1)',
                'rgba(128, 128, 128, 1)',
                'rgba(180, 180, 180, 1)',
                'rgba(174, 31, 31, 1)',
                'rgba(128, 128, 128, 1)',
                'rgba(180, 180, 180, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
}