@model DocuPath.Models.DPViewModels.ReportingViewModel
<link rel="stylesheet" href="~/Content/bootstrap-material-datetimepicker.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
@{ ViewBag.Title = "INSIGHT"; ViewBag.GenericHAPTICLocator = "INSIGHTGeneric"; ViewBag.SpecificHAPTICLocator = "INSIGHTSpecific"; ViewBag.PageInfoLocator = "INSIGHT"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("INSIGHT Reporting", "Insight") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-reporting"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">INSIGHT REPORTING</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-one">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>

<div class="form-horizontal border-generic form-generic apad5">
    @* ACCORDION START *@
    <div class="panel-group grid insight-grid" id="INSIGHTaccordion">
        <div class="panel panel-default" grid-area="selector">
            <div class="panel-heading" data-toggle="collapse" data-target="#reportselect" data-parent="#INSIGHTaccordion" style="cursor: pointer">
                <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
                <span>Report Selector</span>
            </div>
            <div id="reportselect" class="panel-collapse collapse in">
                <div class="panel-body grid insight-subgrid apad5">
                    <div grid-area="controls">
                        @* REPORT SELECTOR CODE HERE *@
                        @Html.Label("Select an INSIGHT Report:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px; padding-top: 0" })
                        @Html.DropDownListFor(model => model.iq.reportToGenerate, new SelectList(Model.reports, "reportID", "reportPhrase"), "Select an INSIGHT Report...",
                            htmlAttributes: new { @class = "form-control", @style = "Width: 275px", @id = "ddlReportSelector", /*@onchange = "check()"*/ })
                        @Html.ValidationMessageFor(model => model.iq.reportToGenerate, "", htmlAttributes: new { @class = "validation-text text-danger" })
                    </div>
                    <div class="insight-guidance" grid-area="guidance">
                        <ul class="haptic-ol" style="padding-top: 0; padding-bottom: 0">
                            <li>Select one of the pre-defined <kbd>System Reports</kbd> to begin.</li>
                            <li>Remaining steps in the <kbd>Report Builder</kbd> will adjust based on your selection.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" grid-area="timeframe" id="pnlTimeframeParams" style="margin-top: 5px">
            <div class="panel-heading" data-toggle="collapse" data-target="#timeframe" data-parent="#INSIGHTaccordion" style="cursor: pointer">
                <span class="mdl2icon mdl2-datetime panel-mdl2icon"></span>
                <span>Report Timeframe</span>
            </div>
            <div id="timeframe" class="panel-collapse collapse in">
                <div class="panel-body grid insight-subgrid apad5">
                    <div class="controls">
                        @* TIMEFRAME OPTIONS *@
                        @Html.Label("Select a Report Timeframe:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px; padding-top: 0" })
                        @Html.DropDownListFor(model => model.iq.reportTimeframe, new SelectList(Model.timeframes, "tfId", "tfPhrase"), "Select a Timeframe...",
                                htmlAttributes: new { @class = "form-control", @style = "Width: 275px", @id = "ddlTimeframeSelector"/*, @onchange = "check()"*/ })
                        @Html.ValidationMessageFor(model => model.iq.reportTimeframe, "", new { @class = "validation-text text-danger" })

                        <div class="form-group" id="frmStartDate" style="margin-left: 0px; margin-right: 0px">
                            @* START DATE PARAMETER: - HIDE IF NOT CUSTOM TIMEFRAME *@
                            @Html.Label("Select a Start Date:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px" })
                            <div class="row" style="padding-left: 15px; padding-right: 15px">
                                <div class='input-group date'>
                                    @Html.EditorFor(model => model.iq.reportDateFrom, new
                               {
                                   htmlAttributes = new
                                   {
                                       @type = "date", @*@onchange = "check()",*@ @class = "form-control",
                                       @style = "width: 100%",
                                       @value = Model.iq.reportDateFrom,
                                       @id = "startDate"
                                   }
                               })
                                    <span class="input-group-addon" onclick="startDTP()">
                                        <span class="mdl2icon mdl2-date"></span>
                                    </span>
                                </div>
                            </div>
                            @*<div class="row" style="padding-left: 15px; padding-right: 15px">
                                @Html.Editor("StartDate", new { htmlAttributes = new { @Value = System.DateTime.Now.ToString("dd MMM yyyy"), @class = "form-control", @style = "Width: 275px" } })
                                @Html.ValidationMessage("", new { @class = "validation-text text-danger" })
                                </div>*@
                        </div>

                        <div class="form-group" id="frmEndDate" style="margin: 0">
                            @* END DATE PARAMETER: - HIDE IF NOT CUSTOM TIMEFRAME *@
                            @Html.Label("Select an End Date:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px" })
                            <div class="row" style="padding-left: 15px; padding-right: 15px">
                                <div class="input-group date">
                                    @Html.EditorFor(model => model.iq.reportDateTo, new
                               {
                                   htmlAttributes = new
                                   {
                                       @type = "date", @*@onchange = "check()",*@ @class = "form-control",
                                       @style = "width: 100%",
                                       @value = Model.iq.reportDateTo,
                                       @id = "endDate"
                                   }
                               })
                                    <span class="input-group-addon" onclick="endDTP()">
                                        <span class="mdl2icon mdl2-date">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            @*<div class="row" style="padding-left: 15px; padding-right: 15px">
                                @Html.Editor("EndDate", new { htmlAttributes = new { @Value = System.DateTime.Now.ToString("dd MMM yyyy"), @class = "form-control", @style = "Width: 275px" } })
                                @Html.ValidationMessage("", new { @class = "validation-text text-danger" })
                                </div>*@
                        </div>
                    </div>
                    <div class="insight-guidance" grid-area="guidance">
                        <ul class="haptic-ol" style="padding-top: 0; padding-bottom: 0">
                            <li>Select one of the pre-defined <kbd>Report Timeframes</kbd> to begin.</li>
                            <li>Available timeframes are <kbd>Today</kbd>, <kbd>Yesterday</kbd>, <kbd>This Week</kbd>, <kbd>Last Week</kbd> and <kbd>Custom Timeframe</kbd>.</li>
                            <li>If <kbd>Custom Timeframe</kbd> is selected, proceed to specify a <kbd>Start Date</kbd> and <kbd>End Date</kbd>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" grid-area="parameters" id="pnlReportParams" style="margin-top: 5px">
            <div class="panel-heading" data-toggle="collapse" data-target="#parameters" data-parent="#INSIGHTaccordion" style="cursor: pointer">
                <span class="mdl2icon mdl2-params panel-mdl2icon"></span>
                <span>Report Parameters</span>
            </div>
            <div id="parameters" class="panel-collapse collapse in">
                <div class="panel-body grid insight-subgrid apad5">
                    <div grid-area="controls">
                        @* SUPERUSER SELECTOR PARAMETER: *@
                        <div class="form-group" id="frmSuperuserSelect" style="margin: 0">
                            @Html.Label("Select a Superuser:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px; padding-top: 0" })
                            <div class="row" style="padding-left: 15px; padding-right: 15px">
                                @Html.DropDownListFor(model => model.iq.reportSuperuserSelector, new SelectList(Model.superusers, "uId", "uNameSurname"), "Select a Superuser...", htmlAttributes: new
                           { @*@onchange = "check()",*@ @class = "form-control",
                               @style = "Width: 275px",
                               @id = "ddlSuperuserSelector"
                           })
                                @Html.ValidationMessageFor(model => model.iq.reportSuperuserSelector, "", new { @class = "validation-text text-danger" })
                            </div>
                        </div>

                        @* USER SELECTOR PARAMETER: *@
                        <div class="form-group" id="frmUserSelect" style="margin-left: 0px; margin-right: 0px">
                            @Html.Label("Select a User:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px; padding-top: 0" })
                            <div class="row" style="padding-left: 15px; padding-right: 15px">
                                @Html.DropDownListFor(model => model.iq.reportUsersSelector, new SelectList(Model.users, "uId", "uNameSurname"), "Select a User...", htmlAttributes: new
                           { @*@onchange = "check()",*@ @class = "form-control",
                               @style = "Width: 275px",
                               @id = "ddlUserSelector"
                           })
                                @Html.ValidationMessageFor(model => model.iq.reportUsersSelector, "", new { @class = "validation-text text-danger" })
                            </div>
                        </div>

                        @* ACTIVITY SELECTOR PARAMETER: *@
                        <div class="form-group" id="frmActivityTypeSelect" style="margin: 0">
                            @Html.Label("Select an Activity Type:", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left; margin-left: -10px; padding-top: 0" })
                            <div class="row" style="padding-left: 15px; padding-right: 15px">
                                @Html.DropDownListFor(model => model.iq.reportActivitiesSelector, new SelectList(Model.activityTypes, "aId", "aDesc"), "Select an Activity Type...", htmlAttributes: new
                           { @*@onchange = "check()",*@ @class = "form-control",
                               @style = "Width: 275px",
                               @id = "ddlActivitySelector"
                           })
                                @Html.ValidationMessageFor(model => model.iq.reportActivitiesSelector, "", new { @class = "validation-text text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="insight-guidance" grid-area="guidance">
                        <ul class="haptic-ol" style="padding-top: 0; padding-bottom: 0">
                            <li>Select the appropriate value for the applicable <kbd>Parameter</kbd> or parameters.</li>
                            <li>Parameters assist with drilling down into larger datasets, for example by restricting report output to records involving a single user.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" grid-area="actions" style="margin-top: 5px">
            <div class="panel-heading" data-toggle="collapse" data-target="#reportactions" data-parent="#INSIGHTaccordion" style="cursor: pointer">
                <span class="mdl2icon mdl2-cog panel-mdl2icon"></span>
                <span>Report Summary & Actions</span>
            </div>
            <div id="reportactions" class="panel-collapse collapse in">
                <div class="panel-body grid insight-subgrid apad5">
                    <div grid-area="controls">
                        @* REPORT ACTIONS CODE HERE *@
                        <div class="form-group" style="padding-left: 15px; padding-right: 15px;">
                            @*<button class="btn btn-default btn-generic" type="submit" style="width: 175px; margin-top: 5px;">
                                    <i class="mdl2icon mdl2-done"></i>
                                    Generate Report
                                </button>*@
                            @*<span class="emph">Pending Report Summary:</span>*@
                            <p id="reportBuilderStatus" class="alert-bar alert-bar-success fullwidth" grid-area="alertbar">Ready to generate report. Review the information below.</p>
                            <hr class="details-hr" />
                            <dl id="params-dl" class="dl-horizontal-tiny">
                                <dt>Report Type</dt>
                                <dd><kbd id="summaryReportTitle">No INSIGHT Report Selected</kbd></dd>
                                <dt>Timeframe</dt>
                                <dd><kbd id="summaryReportTimeframe">No Report Timeframe Specified</kbd></dd>
                            </dl>
                            <hr class="details-hr" />
                            <div class="grid insight-actions-subgrid">
                                <form id="btnGenerate" grid-area="generate" class="minimalform hidden" action="javascript:void(0)" @*method="post"*@ style="margin-top: 2px" data-toggle="modal" data-target="#report_gen">
                                    <button id="toggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-done btn-mdl2icon pull-right" onclick="this.blur()" @*type="submit"*@ data-toggle="tooltip" title="GENERATE REPORT" data-placement="left"></button>
                                </form>
                                <form id="btnReset" grid-area="reset" class="minimalform pull-right" action="~/Reporting/Insight" style="margin-top: 2px">
                                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-reset btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="RESET REPORT BUILDER" data-placement="right"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="insight-guidance" grid-area="guidance">
                        <ul class="haptic-ol" style="padding-top: 0; padding-bottom: 0">
                            <li>That's it! Your report is ready to be generated.</li>
                            <li>Take a moment to review the information on the left and confirm its correctness.</li>
                            <li>If the summary is correct, click the <kbd>Generate Report</kbd> button to generate the report.</li>
                            <li>To start over, click the <kbd>Reset Report Builder</kbd> button.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ACCORDION END *@
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toggle")
    @Scripts.Render("~/bundles/materialdatetime")

    @* FORM-GROUP VISIBILITY TOGGLING: *@
    <script type="text/javascript">
        $(document).ready(function () {
            //$("#pnlBody").addClass("text-center"),
            //$("#noPreview").show(),
            $("#frmStartDate").hide(),
            $("#frmEndDate").hide(),
            $("#frmSuperuserSelect").hide(),
            $("#frmUserSelect").hide(),
            $("#frmActivityTypeSelect").hide(),
            $("#pnlReportParams").hide()
            //$("#reportPreview").hide()
            //$('[data-toggle="tooltip"]').tooltip();
            //$("button").click(function () {
            //    var $target = this;
            //    this.blur()
            //});

            //$("#toggle").click(function () {
            //    $("#noPreview").hide(),
            //    $("#reportPreview").show(),
            //    $("#pnlBody").removeClass("text-center")
            //});
        });
    </script>
    <script type="text/javascript">
        var reportSelected = false;
        var timeframeSelected = false;
        $(document).ready(function () {
            $("#ddlReportSelector").change(function () {
                if ($("#ddlReportSelector option:selected").text().toUpperCase() != "SELECT AN INSIGHT REPORT...")
                { reportSelected = true; } else { reportSelected = false }
                $("#summaryReportTitle").text($("#ddlReportSelector option:selected").text().substring(9))
                $("#summaryReportTitle").addClass('grn')

                if ($("#ddlReportSelector option:selected").text().toUpperCase() == "SELECT AN INSIGHT REPORT...") {
                    $("#summaryReportTitle").text("No INSIGHT Report Selected"),
                    $("#summaryReportTitle").removeClass("grn"),
                    $("#pnlReportParams").hide("slow"),
                    $("#frmSuperuserSelect").hide("slow"),
                    $("#frmUserSelect").hide("slow"),
                    $("#frmActivityTypeSelect").hide("slow"),
                    $("#pnlTimeframeParams").show("slow")
                } else if ($("#ddlReportSelector option:selected").text().toUpperCase() == "GENERATE SUPERUSER OVERRIDE REPORT") {
                    $("#pnlReportParams").show("slow"),
                    $("#frmSuperuserSelect").show("slow"),
                    $("#frmUserSelect").hide("slow"),
                    $("#frmActivityTypeSelect").hide("slow"),
                    $("#pnlTimeframeParams").show("slow")
                } else if ($("#ddlReportSelector option:selected").text().toUpperCase() == "GENERATE USER ACTIVITY REPORT") {
                    $("#pnlReportParams").show("slow"),
                    $("#frmSuperuserSelect").hide("slow"),
                    $("#frmUserSelect").show("slow"),
                    $("#frmActivityTypeSelect").show("slow"),
                    $("#pnlTimeframeParams").show("slow")
                } else if ($("#ddlReportSelector option:selected").text().toUpperCase() == "GENERATE OUTSTANDING SERVICE REQUEST REPORT") {
                    $("#pnlReportParams").hide("slow"),
                    $("#frmSuperuserSelect").hide("slow"),
                    $("#frmUserSelect").hide("slow"),
                    $("#frmActivityTypeSelect").hide("slow"),
                    $("#pnlTimeframeParams").hide("slow"),
                    $("#summaryReportTimeframe").text('All Time'),
                    $("#summaryReportTimeframe").addClass('grn')
                } else {
                    $("#pnlReportParams").hide("slow"),
                    $("#frmSuperuserSelect").hide("slow"),
                    $("#frmUserSelect").hide("slow"),
                    $("#frmActivityTypeSelect").hide("slow"),
                    $("#pnlTimeframeParams").show("slow"),
                    $("#summaryReportTimeframe").text('No Timeframe Selected'),
                    $("#summaryReportTimeframe").removeClass('grn')
                }
                checkReady();
            });

            $("#ddlTimeframeSelector").change(function () {
                if ($("#ddlTimeframeSelector option:selected").text().toUpperCase() != "SELECT A TIMEFRAME...")
                { timeframeSelected = true; } else {
                    timeframeSelected = false;
                    $("#summaryReportTimeframe").text("No Report Timeframe Specified")
                    $("#summaryReportTimeframe").removeClass('grn')
                }

                if ($("#ddlTimeframeSelector option:selected").text().toUpperCase() == "CUSTOM TIMEFRAME") {
                    $("#summaryReportTimeframe").text($("#startDate").val() + ' to ' + $("#endDate").val())
                    $("#summaryReportTimeframe").addClass('grn')
                    $("#frmStartDate").show("slow")
                    $("#frmEndDate").show("slow")
                } else if ($("#ddlTimeframeSelector option:selected").text().toUpperCase() == "SELECT A TIMEFRAME...") {
                    $("#summaryReportTimeframe").removeClass('grn')
                } else {
                    $("#summaryReportTimeframe").text($("#ddlTimeframeSelector option:selected").text())
                    $("#summaryReportTimeframe").addClass('grn')
                    $("#frmStartDate").hide("slow")
                    $("#frmEndDate").hide("slow")
                }
                checkReady();
            });

            function checkReady() {
                if (reportSelected && timeframeSelected) {
                    $('#btnGenerate').removeClass('hidden')
                    $('#btnReset button').removeClass('pull-right')
                } else if (!reportSelected && !timeframeSelected) {
                    $('#btnGenerate').addClass('hidden')
                    $('#btnReset button').addClass('pull-right')
                }
            }
        })
    </script>
}