@{ ViewBag.Title = "VISION"; ViewBag.GenericHAPTICLocator = "VisionGeneric"; ViewBag.SpecificHAPTICLocator = "VisionSpecific"; ViewBag.PageInfoLocator = "Vision"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("VISION Dashboard", "Vision") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-sysoverview"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">VISION DASHBOARD</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-three">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/Reporting/Vision" style="margin-top: 2px">
                    <button id="btnReload" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-reset btn-mdl2icon" type="submit" data-toggle="tooltip" title="REFRESH"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* DASHBOARD CONTENT: *@
<div class="form-horizontal border-generic form-generic grid vision-grid">
    @*<div>HEADING</div>*@
    <div class="metric-header">FORENSIC CASES</div>
    @foreach (var metric in ViewBag.VISIONMetrics)
    {
        if (metric.MetricGroupID == 1 && metric.IsMain) //Forensic Case
        {
            <div class="metric-container metric-main">
                <div class="grid metric-grid">
                    <div class="metric-name" grid-area="name">@metric.MetricName</div>
                    <div class="@metric.IconClass" grid-area="icon"></div>
                    <div class="metric-value" grid-area="value">@metric.MetricValue</div>
                    <div class="metric-unit" grid-area="unit">@metric.MetricUnit</div>
                    <div class="metric-summary" grid-area="summary">@metric.MetricSummary</div>
                    <div class="metric-refreshed" grid-area="refreshed">@metric.MetricLastRefreshed.ToString("HH:mm")</div>
                    <div class="metric-description" grid-area="description">@metric.MetricDescription</div>
                </div>
            </div>
        }
        else if (metric.MetricGroupID == 1 && !metric.IsMain)
        {
            <div class="metric-container metric-sub">
                <div class="grid metric-grid">
                    <div class="metric-name" grid-area="name">@metric.MetricName</div>
                    <div class="@metric.IconClass" grid-area="icon"></div>
                    <div class="metric-value" grid-area="value">@metric.MetricValue</div>
                    <div class="metric-unit" grid-area="unit">@metric.MetricUnit</div>
                    <div class="metric-summary" grid-area="summary">@metric.MetricSummary</div>
                    <div class="metric-refreshed" grid-area="refreshed">@metric.MetricLastRefreshed.ToString("HH:mm")</div>
                    <div class="metric-description" grid-area="description">@metric.MetricDescription</div>
                </div>
            </div>
        }
    }
    <div class="metric-more" data-toggle="tooltip" title="MORE" data-placement="bottom"><i class="mdl2icon mdl2-right text-center" style="color: #fff"></i></div>    
</div>

@section Scripts {

}