@model DocuPath.Models.ForgotPasswordViewModel
@{ ViewBag.Title = "Forgot Password"; ViewBag.GenericHAPTICLocator = "ForgotPasswordGeneric"; ViewBag.SpecificHAPTICLocator = "ForgotPasswordSpecific"; ViewBag.PageInfoLocator = "ForgotPassword"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li class="active">@Html.ActionLink("Forgot Password", "ForgotPassword") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-login"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">FORGOT PASSWORD</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-one">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">                
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="row" style="margin-bottom: 5px">
            @Html.Label("Provide your Email Address to get started:", new { @class = "col-md-4 col-md-offset-4 control-label", @style = "text-align: left" })
        </div>
        <div class="row" style="margin-bottom: 5px">
            <div class="col-md-4 col-md-offset-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @*<input type="submit" class="btn btn-generic fullwidth" value="Send Password Reset Link" />*@
                <button type="submit" class="btn btn-generic fullwidth" id="btnSend">Send Password Reset Link</button>
            </div>
        </div>
    </div>    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

  
}
