@using DocuPath.Models
@model LoginViewModel
@{ ViewBag.Title = "Log In"; }

<div class="grid login-grid">
    <div class="login-form" grid-area="form">
        <div class="grid login-form-grid">
            grid login-form-grid
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Url.Action(    ) }, FormMethod.Post, new { role = "form", @class = "grid fieldset", grid_area = "fieldset" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="login-title" grid-area="title">
                LOG IN
                @*<img class="pull-right" src="~/Content/Resources/SlantedDivider.png" style="max-height: 40px; padding: 0 10px 0 15px" />
                <i class="mdl2icon mdl2-login pull-right" style="font-size: 65%"></i>*@
            </div>
            <div grid-area="username">
                <div class="form-group">
                    @Html.Label("Username", new { @class = "col-md-3 control-label fullheight" })
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })*@
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "width: 100%" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger validation-text" })
                    </div>
                </div>
            </div>
            <div grid-area="password">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label fullheight" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "width: 100%"@*, @onmouseover = "this.Attr('type', 'text')", @onmouseout = "this.Attr('type', 'password')"*@ })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger validation-text" })
                    </div>
                </div>
            </div>
            <div class="col-md-12" grid-area="button" style="margin: 15px 0 15px 0">
                <button class="btn btn-default btn-generic fullwidth" type="submit" onclick="this.blur()">Log In</button>
            </div>
        }
            <div grid-area="links">
                <div class="col-md-12 text-center">
                    <form class="minimalform" action="~/Account/ForgotPassword">
                        <button class="btn btn-default" type="submit" onclick="this.blur()">Forgot your password? Reset Here!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="login-decor" grid-area="decor">
        <div class="dna-decor" style="width: 325px; padding: 0 12px 0 12px">
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")

<script>
    // Enable tooltips:
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
}