@using DocuPath.Models
@model LoginViewModel
@{ ViewBag.Title = "Log In"; }

<div class="grid login-grid">
    <div class="login-form" grid-area="form">
        <div class="grid login-form-grid">
            grid login-form-grid
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Url.Action("Index","Home") }, FormMethod.Post, new { role = "form", @class = "grid fieldset", grid_area = "fieldset" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="login-title" grid-area="title">LOG IN</div>
            <div grid-area="username">
                <div class="form-group">
                    @Html.Label("Username", new { @class = "col-md-3 control-label fullheight" })
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })*@
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "width: 100%" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger validation-text" })
                    </div>
                </div>
            </div>
            <div grid-area="password">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label fullheight" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "width: 100%" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger validation-text" })
                    </div>
                </div>
            </div>
            <div class="col-md-12" grid-area="button" style="margin: 15px 0 15px 0">
                <button class="btn btn-default btn-generic fullwidth" type="submit">
                    <i class="mdl2icon mdl2-login"></i>Log In
                </button>
            </div>
            <div grid-area="links">
                <div class="col-md-12 text-center">
                    <button class="btn btn-default" type="submit">Forgot your password? Reset Here!
                    </button>
                </div>
            </div>
        }
        </div>
    </div>
    <div class="login-decor" grid-area="decor">
        <div class="dna-decor" style="width: 325px; padding: 0 12px 0 12px">
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
            <div class="ele-decor"></div>
        </div>
    </div>
</div>



@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}