@model DocuPath.Models.ResetPasswordViewModel
@{ ViewBag.Title = "Reset Password"; ViewBag.GenericHAPTICLocator = "ResetPasswordGeneric"; ViewBag.SpecificHAPTICLocator = "ResetPasswordSpecific"; ViewBag.PageInfoLocator = "ResetPassword"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li class="active">@Html.ActionLink("Reset Password", "ResetPassword") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-login"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">RESET PASSWORD</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-one">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                @*<form class="minimalform" action="~/AccessLevel/All" method="post" style="margin-top: 2px">
                        <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-backprevious btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="BACK TO LIST"></button>
                    </form>*@
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary("", new { @class = "validation-text text-danger" })*@
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.Email)

    <div class="form-group">
        <div class="row" style="margin-bottom: 5px">
            @Html.Label("Enter New Password:", new { @class = "col-md-4 col-md-offset-4 control-label", @style = "text-align: left" })
        </div>
        <div class="row" style="margin-bottom: 5px">
            <div class="col-md-4 col-md-offset-4">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", @style = "width: 100%" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation-text text-danger" })
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px">
            @Html.Label("Confirm New Password:", new { @class = "col-md-4 col-md-offset-4 control-label", @style = "text-align: left" })
        </div>
        <div class="row" style="margin-bottom: 5px">
            <div class="col-md-4 col-md-offset-4">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", type = "password", @style = "width: 100%" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "validation-text text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <input type="submit" class="btn btn-generic fullwidth" value="Perform Password Reset" />
                @*<button type="button" class="btn btn-generic fullwidth" id="btnReset">Perform Password Reset</button>*@
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script>
        $('#btnReset').on('click', function () {
            window.location.href = "/Account/ResetPasswordConfirmation";
        });
    </script>*@
}
