@model DocuPath.Models.ResetPasswordViewModel
@{ ViewBag.Title = "Reset Password"; ViewBag.GenericHAPTICLocator = "ResetPasswordGeneric"; ViewBag.SpecificHAPTICLocator = "ResetPasswordSpecific"; ViewBag.PageInfoLocator = "ResetPassword"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li class="active">@Html.ActionLink("Reset Password", "ResetPassword") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-login"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">RESET PASSWORD</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-one">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                @*<form class="minimalform" action="~/AccessLevel/All" method="post" style="margin-top: 2px">
                        <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-backprevious btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="BACK TO LIST"></button>
                    </form>*@
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)

    <div class="form-horizontal border-generic apad5" style="margin-left: auto; margin-right: auto; width: 500px; margin-top: 40px">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="margin-bottom: 0px">
                    @Html.Label("Enter New Password", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", type = "password", @style = "width: 100%" } })
                        @Html.ValidationMessage("Please enter an appropriate password", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5px">
            <div class="col-md-12">
                <div class="form-group" style="margin-bottom: 0px">
                    @Html.Label("Confirm New Password", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", type = "password", @style = "width: 100%" } })
                        @Html.ValidationMessage("Please re-enter the same passwod as above", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
