@model DocuPath.DataLayer.LEGACY_CASE
@using DocuPath.DataLayer;
@{ ViewBag.Title = "Add"; ViewBag.GenericHAPTICLocator = "AddGeneric"; ViewBag.SpecificHAPTICLocator = "AddLCSpecific"; ViewBag.PageInfoLocator = "AddLC"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li>@Html.ActionLink("Legacy Cases", "All", "LegacyCase") </li>
    <li class="active">@Html.ActionLink("Add Legacy Case", "Add") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-lc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">ADD LEGACY CASE</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-two">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/LegacyCase/All" method="post" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-backprevious btn-mdl2icon" onclick="this.blur()" type="submit" data-toggle="tooltip" title="BACK TO LIST"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    @* TODO: Link form action to SAVE LC *@
                    <button id="btnSave" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-save btn-mdl2icon" type="submit" data-toggle="tooltip" title="SAVE & EXIT"></button>
                </form>
            </div>
            @*<div grid-area="btn2">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnDensityToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-density btn-mdl2icon" data-toggle="tooltip" title="TOGGLE TABLE DENSITY"></button>
                </form>
            </div>*@
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal border-generic form-generic">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input id="btnPOST" class="hidden" type="submit" />
        @*@Html.Hidden("btnPOST", new  { htmlAttributes = new { @type = "submit", @id = "btnPOST" } })*@
        <div class="row" style="margin-left: 0px">
            <div class="col-md-3" style="padding: 0px">
                <div class="panel panel-default" style="margin-bottom: 0px">
                    <div class="panel-heading">
                        <span class="mdl2icon mdl2-info panel-mdl2icon"></span>
                        <span>Legacy Case Details</span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.Label("Date Added", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DateAdded, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "width: 100%", @Value = System.DateTime.Now.ToString("dd MMM yyyy - HH:mm") } })
                                @Html.ValidationMessage("txtDateAdded", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Brief Description", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.LCBriefDescription, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   @style = "width: 100%"@*, @Value = "Fatal Aggravated Assault"*@ }
                           })
                                @Html.ValidationMessage("txtBriefDesc", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LegacyDRNumber, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.LegacyDRNumber, new
                           {
                               htmlAttributes = new
                               {
                                   @id = "drnum",
                                   @class = "form-control large-identifier",
                                   @style = "width: 100%"@*, @Value = "DR31625/1993"*@ }
                           })
                                @Html.ValidationMessageFor(model => model.LegacyDRNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.DateClosed, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DateClosed, new { htmlAttributes = new { @*@id = "DiscoveryDate",*@ @type = "date", @*@onclick = "discoveryDTP()",*@ @class = "form-control", @style = "width: 100%" } })

                            
                                @*@Html.EditorFor(model => model.DateClosed, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%", @id = "DateClosed" } })*@
                                @Html.ValidationMessageFor(model => model.DateClosed, "", new { @class = "text-danger" })
                                @*<span class="input-group-addon" onclick="dateClosedDTP()"><span class="mdl2icon mdl2-datetime"></span></span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="padding-left: 5px; padding-right: 15px">
                <div class="panel panel-default" style="margin-bottom: 0px">
                    <div class="panel-heading">
                        <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
                        <span>Legacy Case Documents</span>
                    </div>
                    <div class="panel-body apad5">
                        <div class="row">
                            @Html.Label("Upload Files", htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })
                            <div class="col-md-12 file-input theme-fa file-input-ajax-new">
                                <input id="LCDocs" name="LCDocs" type="file" multiple @*class="file-loading"*@/>
                                @*<input id="input-fa" name="inputfa[]" type="file" multiple class="file-loading">*@
                                @*@Html.Editor("Upload", new { htmlAttributes = new { @type = "file", @class = "form-control", @multiple = "true", @id = "ofdLegacyCase", @style = "width: 100%" } })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fileinput")
@Scripts.Render("~/bundles/materialdatetime")

<script>

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        
        $("#LCDocs").fileinput({
            theme: "fa",
            uploadUrl: "/LegacyCase/UploadFiles",
            fileActionSettings: {
                showUpload: false
            },
        });

        

        

    $('#btnSave').click(function () {            
        
        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {
            //var fileUpload = $("#LCDocs").fileinput({ theme: "fa", uploadUrl: "/LegacyCase/UploadFiles" });

            //var fileUpload = $("#LCDocs").get(0);
            //var files = fileUpload.files;
            var files = $("#LCDocs").fileinput('getFileStack');

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            gdata = fileData;

            // Adding one more key to FormData object
            fileData.append('LCDR', document.getElementById("drnum").value);

            $.ajax({
                url: '/LegacyCase/UploadFiles',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    alert(result); //Throw Success Modal 404
                    document.getElementById("btnPOST").click();
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
        });

    //$('#btnSave').click(function () {
    //    document.getElementById("btnPOST").click();
        
    //});

  

    
});
</script>  

    @*<script>
        $("#LCDocs").fileinput({
            theme: "fa",
            uploadUrl: "/LegacyCase/UploadFiles",
        });
    </script>*@
                                        
    @* DATETIMEPICKERS: *@
    <script name="DTPCallers" type="text/javascript">
        $("#DateClosed").click(function () {
            $('#DateClosed').bootstrapMaterialDatePicker({
                format: 'DD MMMM YYYY',
                year: true,
                date: true,
                time: false,
                clearButton: true,
                nowButton: true,
                nowText: "Now",
                switchOnClick: true,
                okText: "OK"
            });
        });

        $(function dateClosedDTP() {
            $('#DateClosed').bootstrapMaterialDatePicker({
                format: 'DD MMMM YYYY',
                year: true,
                date: true,
                time: false,
                clearButton: true,
                nowButton: true,
                nowText: "Now",
                switchOnClick: true,
                okText: "OK"
            });
        });
    </script>
}
