@model IEnumerable<DocuPath.DataLayer.LEGACY_CASE>
@{ ViewBag.Title = "All"; ViewBag.GenericHAPTICLocator = "AllGeneric"; ViewBag.SpecificHAPTICLocator = "AllLCSpecific"; ViewBag.PageInfoLocator = "AllLC"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("Legacy Cases", "All") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-lc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">ALL LEGACY CASES</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-five">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/LegacyCase/Add" style="margin-top: 2px">
                    @* TODO: Link form action to ADD LC *@
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-add btn-mdl2icon" type="submit" data-toggle="tooltip" title="ADD LEGACY CASE"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnDensityToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-density btn-mdl2icon" data-toggle="tooltip" title="TOGGLE TABLE DENSITY"></button>
                </form>
            </div>
            <div grid-area="btn4">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn5">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* ASPTABLE WITH ALL LEGACY CASES: *@
<table id="allLC" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-id="identifier" data-column-id="LCID" data-visible="false" data-identifier="true" data-converter="numeric" class="colour-dpred">
                @Html.DisplayNameFor(model => model.LegacyCaseID)
            </th>
            <th data-column-id="addedBy" class="colour-dpred">
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th data-column-id="status" class="colour-dpred">
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th data-column-id="LCDR" data-cssClass="table-large-identifier" data-formatter="drnumbers" class="colour-dpred">
                @Html.DisplayNameFor(model => model.LegacyDRNumber)
            </th>
            <th data-column-id="briefDesc" class="colour-dpred">
                @Html.DisplayNameFor(model => model.LCBriefDescription)
            </th>
            <th data-column-id="dateAdded" data-converter="dpdate" data-order="desc" class="colour-dpred">
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th data-column-id="dateClosed" data-converter="dpdate" class="colour-dpred">
                @Html.DisplayNameFor(model => model.DateClosed)
            </th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false" class="colour-dpred">Actions</th>
        </tr>
    </thead>
    @*<tbody>
        <tr>
            <td>TEST1</td>
            <td>TEST2</td>
            <td>TEST3</td>
            <td>TEST4</td>
            <td>TEST5</td>
            <td>TEST6</td>
        </tr>
    </tbody>*@
    <tbody>
        @foreach (var item in Model.Where(lc => lc.STATUS.StatusValue != "Archived"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LegacyCaseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USER.FirstName) @Html.DisplayFor(modelItem => item.USER.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATUS.StatusValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LegacyDRNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LCBriefDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                @if (item.DateClosed.Value.Year == 9999)
                {
                    <td>
                        Active Case
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DateClosed)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@foreach (var lc in Model)
{
    if (lc.STATUS.StatusValue != "Pending" || lc.STATUS.StatusValue != "Locked")
    {
        <div id="del-modal-@lc.LegacyCaseID" class="modal-background hidden">
            <div class="modalbox">
                <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
                <div class="modalbox-message-text">
                    Are you sure you want to <idntwarn>DELETE</idntwarn> Legacy Case <idntwarn>@lc.LegacyDRNumber</idntwarn>?
                </div>
                @* HELP/INFO *@
                <div class="panel-group" id="delete-modal-help-@lc.LegacyCaseID">
                    <div class="modal-help-panel">
                        <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#delete-modal-helpbody-@lc.LegacyCaseID" data-parent="#delete-modal-help-@lc.LegacyCaseID">More Information</div>
                        <div id="delete-modal-helpbody-@lc.LegacyCaseID" class="panel-collapse collapse modalbox-help-panel-text">
                            <p style="margin-bottom: 0px; font-weight: bold">Code: W001</p>
                            <hr class="modal-help-hr-warning" />
                            <ul style="margin-bottom: 0">
                                <li>This action cannot be reverted.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @* BUTTONS *@
                <div class="modalbox-button-bar col-md-12 modal-btn-col">
                    @*<div class="">*@
                    <input type="button" id="del-yes-@lc.LegacyCaseID" href="~/LegacyCase/Delete/@lc.LegacyCaseID" value="Yes" class="btn btn-modal-generic" />
                    <input type="submit" id="del-no-@lc.LegacyCaseID" onclick="$('#del-modal-'+@lc.LegacyCaseID).addClass('hidden')" value="No" class="btn btn-modal-generic btn-negate" />
                    @*</div>*@
                </div>
            </div>
        </div>
    }

    @*if (lc.STATUS.StatusValue == "Active")
    {
        <div id="lock-modal-@lc.LegacyCaseID" class="modal-background hidden">
            <div class="modalbox">
                <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
                <div class="modalbox-message-text">
                    Are you sure you want to <idntwarn>LOCK</idntwarn> Legacy Case <idntwarn>@lc.LegacyDRNumber</idntwarn>?
                </div>*@
                @* HELP/INFO *@
                @*<div class="panel-group" id="lock-modal-help-@fc.ForensicCaseID">
                        <div class="modal-help-panel">
                            <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#lock-modal-helpbody-@fc.ForensicCaseID" data-parent="#lock-modal-help-@fc.ForensicCaseID">More Information</div>
                            <div id="lock-modal-helpbody-@fc.ForensicCaseID" class="panel-collapse collapse modalbox-help-panel-text">
                                <p style="margin-bottom: 0px; font-weight: bold">Code: W003</p>
                                <hr class="modal-help-hr-warning" />
                                <ul style="margin-bottom: 0">
                                    <li>This action will result in a status change of the Forensic Case on the system.</li>
                                    <li>This action requires authorisation by a Superuser.</li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
                @* BUTTONS *@
                @*<div class="modalbox-button-bar col-md-12 modal-btn-col">
                    <input type="button" id="lock-yes-@lc.LegacyCaseID" href="~/LegacyCase/Lock/@lc.LegacyCaseID" value="Yes" class="btn btn-modal-generic" />
                    <input type="submit" id="lock-no-@lc.LegacyCaseID" onclick="$('#lock-modal-'+@lc.LegacyCaseID).addClass('hidden')" value="No" class="btn btn-modal-generic" />
                </div>
            </div>
        </div>
    }*@

    @*if (lc.STATUS.StatusValue == "Locked")
    {
        <div id="unlock-modal-@lc.LegacyCaseID" class="modal-background hidden">
            <div class="modalbox">
                <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
                <div class="modalbox-message-text">
                    Are you sure you want to <idntwarn>UNLOCK</idntwarn> Forensic Case <idntwarn>@lc.LegacyDRNumber</idntwarn>?
                </div>*@
                @* HELP/INFO *@
                @*<div class="panel-group" id="unlock-modal-help-@lc.LegacyCaseID">
                    <div class="modal-help-panel">
                        <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#unlock-modal-helpbody-@lc.LegacyCaseID" data-parent="#unlock-modal-help-@lc.LegacyCaseID">More Information</div>
                        <div id="unlock-modal-helpbody-@lc.LegacyCaseID" class="panel-collapse collapse modalbox-help-panel-text">
                            <p style="margin-bottom: 0px; font-weight: bold">Code: W002</p>
                            <hr class="modal-help-hr-warning" />
                            <ul style="margin-bottom: 0">
                                <li>This action requires a motivation/reason.</li>
                                <li>This action requires authorisation by a Superuser.</li>
                            </ul>
                        </div>
                    </div>
                </div>*@
                @* BUTTONS *@
                @*<div class="modalbox-button-bar col-md-12 modal-btn-col">
                    <input type="button" id="unlock-yes-@lc.LegacyCaseID" onclick="$('#unlock-yes-'+@lc.LegacyCaseID).addClass('hidden'); $('#unlock-no-'+@lc.LegacyCaseID).addClass('hidden'); $('#reason-'+@lc.LegacyCaseID).removeClass('hidden'); $('#finalize-'+@lc.LegacyCaseID).removeClass('hidden'); " value="Yes" class="btn btn-modal-generic" />
                    <input type="submit" id="unlock-no-@lc.LegacyCaseID" onclick="$('#unlock-modal-'+@lc.LegacyCaseID).addClass('hidden')" value="No" class="btn btn-modal-generic" />
                    <div class="input-group pull-right">
                        <input type="text" placeholder="Please provide a reason..." id="reason-@lc.LegacyCaseID" onfocus="this.select()" onmouseup="return false;" class="form-control hidden txt-motivation" />
                        <input type="button" id="finalize-@lc.LegacyCaseID" href="~/LegacyCase/Unlock/@lc.LegacyCaseID" value="Finalize" class="btn btn-modal-generic hidden" />
                    </div>
                </div>
            </div>
        </div>
    }*@
}


@section Scripts {
@Scripts.Render("~/bundles/bootgrid")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/materialdatetime")

<script id="loadBootgrid" type="text/javascript">
        var grid = $("#allLC").bootgrid({
            caseSensitive: false,
            converters: {
                dpdate: {
                    from: function (value) { return moment(value); },
                    to: function (value) { return value.format("ddd D MMM YYYY"); }
                }
            },
            formatters: {
                // INSERTS APPROPRIATE ACTION BUTTONS FOR EACH LINE IN THE ASPTABLE:
                "commands": function (column, row) {
                    var checkStatus = row.status.trim().toUpperCase();
                    //return checkStatus.toUpperCase();

                    switch (checkStatus) {
                        //case "LOCKED":
                        //    return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.LCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>";
                        case "ACTIVE":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.LCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.LCID + "\" data-toggle=\"tooltip\" title=\"EDIT\" data-placement=\"top\"><span class=\"mdl2icon mdl2-edit\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.LCID + "\" data-toggle=\"tooltip\" title=\"DELETE\" data-placement=\"top\" data-target=\"#del-modal-" + row.LCID + "\"><span class=\"mdl2icon mdl2-delete\"></span></button> ";
                        case "PENDING":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.LCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>";
                        default:
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.LCID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.LCID + "\" data-toggle=\"tooltip\" title=\"EDIT\" data-placement=\"top\"><span class=\"mdl2icon mdl2-edit\"></span></button>" +
                                "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.LCID + "\" data-toggle=\"tooltip\" title=\"DELETE\" data-placement=\"top\" data-target=\"#del-modal-" + row.LCID + "\"><span class=\"mdl2icon mdl2-delete\"></span></button> ";
                    }
                 },
                "drnumbers": function (column, row) { /* APPLY LARGE IDENTIFIER CLASS TO ALL DR NUMBERS: */
                    return "<span class=\"table-large-identifier\">"+ row.LCDR + "</span>";
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".cmd-delete").on("click", function (e) { this.blur(); $('#del-modal-' + $(this).data("row-id")).removeClass('hidden'); }).tooltip().end()
                .find(".cmd-edit").on("click", function (e) { this.blur(); window.location = "/LegacyCase/Edit/" + $(this).data("row-id"); }).tooltip().end()
                .find(".cmd-view").on("click", function (e) { this.blur(); window.location = "/LegacyCase/Details/" + $(this).data("row-id"); }).tooltip().end()
                //.find(".pagination").tooltip().end()
                //.find(".infos").tooltip().end()
        });
</script>

<script id="onDomReady" type="text/javascript">
        // Enable tooltips:
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // Toggle Table Density:
        $("#btnDensityToggle").click(function () {
            var $target = $("#allLC");
            var $condensed = "table-condensed";
            var $minimal = "table-minimal"
            if ($target.hasClass($condensed) === false && $target.hasClass($minimal) === false) { $target.addClass($condensed); }
            else if ($target.hasClass($condensed)) { $target.removeClass($condensed); $target.addClass($minimal); }
            else if ($target.hasClass($minimal)) { $target.removeClass($minimal); }
            $("#btnDensityToggle").blur()
        });
</script>
}