@model DocuPath.Models.DPViewModels.UpdateLegacyCaseViewModel
@using DocuPath.Models;
@{ ViewBag.Title = "Details"; ViewBag.GenericHAPTICLocator = "ViewGeneric"; ViewBag.SpecificHAPTICLocator = "ViewLCSpecific"; ViewBag.PageInfoLocator = "ViewLC"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li>@Html.ActionLink("Legacy Cases", "All", "LegacyCase") </li>
    <li class="active">@Html.ActionLink("View Legacy Case", "Details") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-lc"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">VIEW LEGACY CASE</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-seven">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/LegacyCase/All" method="post" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-backprevious btn-mdl2icon" type="submit" data-toggle="tooltip" title="BACK TO LIST"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnExpandCollapse" accordion-id="#LCDetailsAccordion" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-view btn-mdl2icon toggle-accordion active" data-toggle="tooltip" title="TOGGLE PANEL EXPAND/COLLAPSE"></button>
                </form>
            </div>
            <div grid-area="btn4">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnDensityToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-density btn-mdl2icon" data-toggle="tooltip" title="TOGGLE TABLE DENSITY"></button>
                </form>
            </div>
            <div grid-area="btn5">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnSave" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-save btn-mdl2icon" data-toggle="tooltip" title="SAVE & EXIT"></button>
                </form>
            </div>
            <div grid-area="btn6">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn7">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <input type="submit" id="btnPOST" class="hidden" />
    @* DETAILS OF SELECTED LEGACY CASE: *@
    <div class="form-horizontal border-generic form-generic">
        <div class="panel-group" id="LCDetailsAccordion">
            <div class="row" style="margin-left: 0px">
                <div class="col-md-12" style="padding-left: 0px; padding-right: 15px">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#LCDetailsAccordion" href="#LCDetailsPanel" style="cursor: pointer">
                            <span class="mdl2icon mdl2-lc panel-mdl2icon"></span>
                            <span>Legacy Case Details</span>
                        </div>
                        <div id="LCDetailsPanel" class="panel-collapse collapse in">
                            @Html.HiddenFor(m => m.legacyCase.LegacyCaseID)
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    @*<dt>
                                            @Html.DisplayNameFor(model => model.legacyCase.LegacyCaseID)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.legacyCase.LegacyCaseID)
                                        </dd>*@

                                    <dt style="padding-top: 5.2px">
                                        @Html.DisplayNameFor(model => model.legacyCase.LegacyDRNumber)
                                    </dt>

                                    <dd class="large-identifier">
                                        @Html.EditorFor(model => model.legacyCase.LegacyDRNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.legacyCase.LCBriefDescription)
                                    </dt>

                                    <dd>
                                        @Html.EditorFor(model => model.legacyCase.LCBriefDescription, new { htmlAttributes = new { @class = "form-control" } })
                                    </dd>
                                    <hr class="details-hr" />
                                    <dt>
                                        @Html.DisplayNameFor(model => model.legacyCase.UserID)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.legacyCase.USER.FirstName) @Html.DisplayFor(model => model.legacyCase.USER.LastName)
                                    </dd>

                                    @*<dt>
                                            @Html.DisplayNameFor(model => model.legacyCase.STATUS.StatusValue)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.legacyCase.STATUS.StatusValue)
                                        </dd>*@

                                    <dt>
                                        @Html.DisplayNameFor(model => model.legacyCase.DateAdded)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.legacyCase.DateAdded, new { @class = "form-control" })
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.legacyCase.DateClosed)
                                    </dt>

                                    <dd>
                                        @Html.EditorFor(model => model.legacyCase.DateClosed, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                    </dd>
                                </dl>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-left: 0px; padding-right: 15px; margin-top: 5px">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#LCDetailsAccordion" href="#LCDocsPanel" style="cursor: pointer">
                            <span class="mdl2icon mdl2-file panel-mdl2icon"></span>
                            <span>Legacy Case Documents</span>
                        </div>
                        <div id="LCDocsPanel" class="panel-collapse collapse in">
                            <div class="panel-body apad5" style="padding: 25px">
                                <table id="tblLegacyDocs" class="table table-striped">
                                    <tr>
                                        <th class="colour-dpred">Filename</th>
                                        @*<th class="colour-dpred">Location</th>*@
                                        <th class="colour-dpred" style="width: 75px">Actions</th>
                                    </tr>
                                    @foreach (var item in Model.legacyDocs)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.LegacyDocumentTitle)</td>
                                            @*<td>@Html.DisplayFor(modelItem => item.LegacyDocumentLocation)</td>*@
                                            @* <td>@Html.ActionLink(" ", "ViewDoc", "LegacyCase", new { id = item.LegacyDocumentID }, new { @class = "mdl2icon mdl2-view colour-dpblack", @datatoggle = "tooltip", @title = "View"  })</td>*@
                                            @*<td><a href="~/@VERTEBRAE.GetUrl(item.LegacyDocumentLocation)" class = "mdl2icon mdl2-view colour-dpblack" datatoggle = "tooltip" title = "View"></a></td>*@
                                            @*<td><a href="~/Content/DocuPathRepositories/LC_REPO/LENNY/30542017_015403_0.pdf" class="mdl2icon mdl2-view colour-dpblack" datatoggle="tooltip" title="View"></a></td>*@
                                            <td>
                                                <a href="" class="mdl2icon mdl2-view colour-dpblack" data-toggle="modal" datatoggle="tooltip" title="View" data-target="#@item.LegacyDocumentID">
                                                </a>
                                                <a href="#" class="mdl2icon mdl2-delete colour-dpblack" datatoggle="tooltip" title="Delete"></a>
                                                <!-- Modal -->
                                                <div class="modal fade" id="@item.LegacyDocumentID" role="dialog">
                                                    <div class="modal-dialog" style="width:1200px;height:auto;max-height:600px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <div class="grid hdr-grid">
                                                                    <div class="page-hdr">
                                                                        <div class="page-header-subgrid">
                                                                            <div class="icon-circle mdl2icon mdl2-lc"></div>
                                                                            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
                                                                            <div class="page-header-text">VIEW LEGACY DOCUMENT</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="page-btns">
                                                                        <div class="page-buttons-subgrid buttons-one">
                                                                            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
                                                                            <div></div>
                                                                            <div grid-area="btn1">
                                                                                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                                                                                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-cancel btn-mdl2icon" onclick="this.blur()" data-dismiss="modal" type="submit" data-toggle="tooltip" title="CLOSE" data-placement="right"></button>
                                                                                </form>
                                                                            </div>
                                                                            <div></div>
                                                                            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="modal-body">
                                                                @*      <h4 class="modal-title">@item.LegacyDocumentTitle</h4>*@
                                                                @*<embed src="~/@VERTEBRAE.GetUrl(item.LegacyDocumentLocation)" type="application/pdf" style="width: 100%; height: 100%; min-height: 480px;"/>*@
                                                                <iframe class="frame1" src="~/@VERTEBRAE.GetUrl(item.LegacyDocumentLocation)" style="width: 100%; height: 100%; min-height: 480px;"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<style>
    .frame1 {
        width: 100%;
        height: 600px;
        min-height: 600px;
        /*border: 0;
        -ms-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -o-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;*/
    }
</style>
@section Scripts
{
    @* EXPAND/COLLAPSE ALL *@
    <script>
        $("#btnSave").click(function () {
            document.getElementById("btnPOST").click()
        })
    </script>
    <script>
        $(document).ready(function () {

            $(".toggle-accordion").on("click", function () {
                var accordionId = $(this).attr("accordion-id"),
                    numPanelOpen = $(accordionId + ' .collapse.in').length;

                $(this).toggleClass("active");

                if (numPanelOpen == 0) {
                    openAllPanels(accordionId);
                } else {
                    closeAllPanels(accordionId);
                }
                $("#btnExpandCollapse").blur();
            })

            openAllPanels = function (aId) {
                console.log("setAllPanelOpen");
                $(aId + ' .panel-collapse:not(".in")').collapse('show');
            }
            closeAllPanels = function (aId) {
                console.log("setAllPanelclose");
                $(aId + ' .panel-collapse.in').collapse('hide');
            }

        });
    </script>

    <script id="onDomReady" type="text/javascript">
        // Enable tooltips:
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // Toggle Table Density:
        $("#btnDensityToggle").click(function () {
            var $target = $("#tblLegacyDocs");
            var $condensed = "table-condensed";
            var $minimal = "table-minimal"
            if ($target.hasClass($condensed) === false && $target.hasClass($minimal) === false) { $target.addClass($condensed); }
            else if ($target.hasClass($condensed)) { $target.removeClass($condensed); $target.addClass($minimal); }
            else if ($target.hasClass($minimal)) { $target.removeClass($minimal); }
            $("#btnDensityToggle").blur()
        });
    </script>
}