@model IEnumerable<DocuPath.DataLayer.ACCESS_LEVEL>
@{ ViewBag.Title = "All"; ViewBag.GenericHAPTICLocator = "AllGeneric"; ViewBag.SpecificHAPTICLocator = "AllUALpecific"; ViewBag.PageInfoLocator = "AllUAL"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("Access Levels", "All") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-login"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">ALL ACCESS LEVELS</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-five">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="~/AccessLevel/Add" style="margin-top: 2px">
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-add btn-mdl2icon" type="submit" data-toggle="tooltip" title="ADD ACCESS LEVEL"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn3">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnDensityToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-density btn-mdl2icon" data-toggle="tooltip" title="TOGGLE TABLE DENSITY"></button>
                </form>
            </div>
            <div grid-area="btn4">
                <img src="~/Content/Resources/SlantedDivider.png" style="height: 45px; margin-top: 3px" />
            </div>
            <div grid-area="btn5">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnHapticToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-help btn-mdl2icon" onclick="this.blur()" data-toggle="tooltip" title="HELP"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@foreach (var ual in Model)
{
    <div id="del-modal-@ual.AccessLevelID" class="modal-background hidden">
        <div class="modalbox">
            <div class="modalbox-title-warning"><img class="modalbox-title-mdl2icon" src="~/Content/Resources/icoWarn.png" />WARNING</div>
            <div class="modalbox-message-text">
                Are you sure you want to <idntwarn>TOGGLE THE STATUS</idntwarn> of User Access Level <idntwarn>@ual.LevelName</idntwarn>?
            </div>
            @* HELP/INFO *@
            <div class="panel-group" id="delete-modal-help-@ual.AccessLevelID">
                <div class="modal-help-panel">
                    <div class="panel-heading modalbox-help-panel-heading" data-toggle="collapse" data-target="#delete-modal-helpbody-@ual.AccessLevelID" data-parent="#delete-modal-help-@ual.AccessLevelID">More Information</div>
                    <div id="delete-modal-helpbody-@ual.AccessLevelID" class="panel-collapse collapse modalbox-help-panel-text">
                        <p style="margin-bottom: 0px; font-weight: bold">Code: W006</p>
                        <hr class="modal-help-hr-warning" />
                        <ul style="margin-bottom: 0">
                            <li>This action toggles the status of the selected User Access Level between <kbd>Activated</kbd> and <kbd>Deactivated</kbd>.</li>
                            <li>Once a User Access Level has been <kbd>Deactivated</kbd>, all system Users that are assigned that User Access Level are unable to log into the system until it is <kbd>Activated</kbd>.</li>
                        </ul>
                    </div>
                </div>
            </div>
            @* BUTTONS *@
            <div class="modalbox-button-bar col-md-12 modal-btn-col">
                @*<div class="">*@
                <input type="button" id="del-yes-@ual.AccessLevelID" href="~/AccessLevel/ToggleStatus/@ual.AccessLevelID" value="Yes" class="btn btn-modal-generic" />
                <input type="submit" id="del-no-@ual.AccessLevelID" onclick="$('#del-modal-'+@ual.AccessLevelID).addClass('hidden')" value="No" class="btn btn-modal-generic" />
                @*</div>*@
            </div>
        </div>
    </div>
}

@* ASPTABLE WITH ALL ACCESS LEVELS: *@
<table id="allUAL" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-id="identifier" data-column-id="UALID" data-visible="false" data-identifier="true" data-converter="numeric" class="colour-dpred">
                @Html.DisplayNameFor(model => model.AccessLevelID)
            </th>
            <th data-column-id="levelName" class="colour-dpred">
                @Html.DisplayNameFor(model => model.LevelName)
            </th>
            <th data-column-id="status" class="colour-dpred">
                @Html.DisplayNameFor(model => model.IsDeactivated)
            </th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false" class="colour-dpred">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessLevelID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LevelName)
                </td>
                @if (item.IsDeactivated == true)
                {
                    <td>Deactivated</td>
                }
                else
                {
                    <td>Active</td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/bootgrid")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/materialdatetime")

    <script id="loadBootgrid" type="text/javascript">
        var grid = $("#allUAL").bootgrid({
            caseSensitive: false,
            formatters: {
                // INSERTS APPROPRIATE ACTION BUTTONS FOR EACH LINE IN THE ASPTABLE:
                "commands": function (column, row) {
                    var checkStatus = row.status.trim().toUpperCase();
                    //return checkStatus.toUpperCase();

                    switch (checkStatus) {
                        case "ACTIVE":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.UALID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                            "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.UALID + "\" data-toggle=\"tooltip\" title=\"EDIT\" data-placement=\"top\"><span class=\"mdl2icon mdl2-edit\"></span></button>" +
                            "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.UALID + "\" data-toggle=\"tooltip\" title=\"TOGGLE STATUS\" data-placement=\"top\"><span class=\"mdl2icon mdl2-powerbtn\"></span></button>";
                        case "DEACTIVATED":
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.UALID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                            "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.UALID + "\" data-toggle=\"tooltip\" title=\"EDIT\" data-placement=\"top\"><span class=\"mdl2icon mdl2-edit\"></span></button>" +
                            "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.UALID + "\" data-toggle=\"tooltip\" title=\"TOGGLE STATUS\" data-placement=\"top\"><span class=\"mdl2icon mdl2-powerbtn\"></span></button>";
                        default:
                            return "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-view\" data-row-id=\"" + row.UALID + "\" data-toggle=\"tooltip\" title=\"VIEW\" data-placement=\"top\"><span class=\"mdl2icon mdl2-view\"></span></button>" +
                            "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-edit\" data-row-id=\"" + row.UALID + "\" data-toggle=\"tooltip\" title=\"EDIT\" data-placement=\"top\"><span class=\"mdl2icon mdl2-edit\"></span></button>" +
                            "<button type=\"button\" class=\"btn btn-xs btn-bootgrid cmd-delete\" data-row-id=\"" + row.UALID + "\" data-toggle=\"tooltip\" title=\"TOGGLE STATUS\" data-placement=\"top\"><span class=\"mdl2icon mdl2-powerbtn\"></span></button>";
                    }
                 }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".cmd-delete").on("click", function (e) { this.blur(); $('#del-modal-' + $(this).data("row-id")).removeClass('hidden'); }).tooltip().end()
                .find(".cmd-edit").on("click", function (e) { this.blur(); window.location = "/AccessLevel/Edit/" + $(this).data("row-id"); }).tooltip().end()
                .find(".cmd-view").on("click", function (e) { this.blur(); window.location = "/AccessLevel/Details/" + $(this).data("row-id"); }).tooltip().end()
                .find(".pagination").tooltip().end()
                .find(".infos").tooltip().end()
        });
    </script>

    <script id="onDomReady" type="text/javascript">
        // Enable tooltips:
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // Toggle Table Density:
        $("#btnDensityToggle").click(function () {
            var $target = $("#allUAL");
            var $condensed = "table-condensed";
            var $minimal = "table-minimal"
            if ($target.hasClass($condensed) === false && $target.hasClass($minimal) === false) { $target.addClass($condensed); }
            else if ($target.hasClass($condensed)) { $target.removeClass($condensed); $target.addClass($minimal); }
            else if ($target.hasClass($minimal)) { $target.removeClass($minimal); }
            $("#btnDensityToggle").blur()
        });
    </script>
}