@model IEnumerable<DocuPath.DataLayer.ACCESS_LEVEL>
@{ ViewBag.Title = "All"; }

@* BREADCRUMB NAVIGATION: *@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") </li>
    <li class="active">@Html.ActionLink("Access Levels", "All") </li>
</ol>
@* PAGE HEADER & ACTION BUTTONS: *@
<div class="grid hdr-grid">
    <div class="page-hdr">
        <div class="page-header-subgrid">
            <div class="icon-circle mdl2icon mdl2-login"></div>
            <div class="circular-motif-left"><img src="~/Content/Resources/CircularMotifLeft.png" style="max-height: 45px" /></div>
            <div class="page-header-text">ALL ACCESS LEVELS</div>
        </div>
    </div>
    <div class="page-btns">
        <div class="page-buttons-subgrid buttons-two">
            <div grid-area="left"><img src="~/Content/Resources/CircuitryMotifLeft.png" class="circuitry-left-motif" /></div>
            <div></div>
            <div grid-area="btn1">
                <form class="minimalform" action="javascript:void(0)" method="post" style="margin-top: 2px">
                    @* TODO: Link form action to ADD UAL *@
                    <button class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-add btn-mdl2icon" type="submit" data-toggle="tooltip" title="ADD ACCESS LEVEL"></button>
                </form>
            </div>
            <div grid-area="btn2">
                <form class="minimalform" action="javascript:void(0)" style="margin-top: 2px">
                    <button id="btnDensityToggle" class="btn btn-default btn-generic btn-page-action mdl2icon mdl2-density btn-mdl2icon" data-toggle="tooltip" title="TOGGLE TABLE DENSITY"></button>
                </form>
            </div>
            <div></div>
            <div class="right-motif" grid-area="right"><img src="~/Content/Resources/CircuitryMotifRight.png" class="circuitry-right-motif" /></div>
        </div>
    </div>
</div>
@* ASPTABLE WITH ALL ACCESS LEVELS: *@
<table id="allUAL" class="table table-striped table-hover">
    <thead>
        <tr>
            <th data-id="identifier" data-column-id="UALID" data-visible="false" data-identifier="true" class="colour-dpred">
                @Html.DisplayNameFor(model => model.AccessLevelID)
            </th>
            <th data-column-id="levelName" class="colour-dpred">
                @Html.DisplayNameFor(model => model.LevelName)
            </th>
            <th data-column-id="status" class="colour-dpred">
                @Html.DisplayNameFor(model => model.IsDeactivated)
            </th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false" class="colour-dpred">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessLevelID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LevelName)
                </td>
                @if (item.IsDeactivated == 1)
                {
                    <td>
                        @Html.Display("Deactivated")
                    </td>
                }
                else
                {
                    <td>
                        @Html.Display("Active")
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/bootgrid")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/materialdatetime")

    <script id="loadBootgrid" type="text/javascript">
        var grid = $("#allUAL").bootgrid({
            caseSensitive: false,
            formatters: {
                // INSERTS APPROPRIATE ACTION BUTTONS FOR EACH LINE IN THE ASPTABLE:
                "commands": function (column, row) {
                    if (row.status.trim() == "Active") { /* CHECK IF THE ACCESS LEVEL IS ACTIVE, IF TRUE, THEN SHOW 'VIEW', 'EDIT', 'TOGGLE ACTIVATION' and 'DELETE': */
                        return "<a class=\"mdl2icon colour-dpblack\" href=\"/AccessLevel/Details/" + row.UALID.trim() + "\"><i class=\"mdl2-view\" data-toggle=\"tooltip\" value=\"View\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Edit\" href=\"/AccessLevel/Edit/" + row.UALID.trim() + "\"><i class=\"mdl2-edit\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Toggle Activation\" href=\"/AccessLevel/ToggleActivation/" + row.UALID.trim() + "\"><i class=\"mdl2-powerbtn\" style=\"font-style: normal\"></i></a>";
                    } else if (row.status.trim() == "Deactivated") { /* CHECK IF THE ACCESS LEVEL IS DEACTIVATED, IF TRUE, THEN SHOW 'VIEW' and 'TOGGLE ACTIVATION': */
                        return "<a class=\"mdl2icon colour-dpblack\" href=\"/AccessLevel/Details/" + row.UALID.trim() + "\"><i class=\"mdl2-view\" data-toggle=\"tooltip\" value=\"View\" style=\"font-style: normal\"></i></a>" +
                    "<a class=\"mdl2icon colour-dpblack\" data-toggle=\"tooltip\" value=\"Toggle Activation\" href=\"/AccessLevel/ToggleActivation/" + row.UALID.trim() + "\"><i class=\"mdl2-powerbtn\" style=\"font-style: normal\"></i></a>";
                    }
                 }
            }
        });
    </script>

    <script id="onDomReady" type="text/javascript">
        // Enable tooltips:
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // Toggle Table Density:
        $("#btnDensityToggle").click(function () {
            var $target = $("#allUAL");
            var $condensed = "table-condensed";
            var $minimal = "table-minimal"
            if ($target.hasClass($condensed) === false && $target.hasClass($minimal) === false) { $target.addClass($condensed); }
            else if ($target.hasClass($condensed)) { $target.removeClass($condensed); $target.addClass($minimal); }
            else if ($target.hasClass($minimal)) { $target.removeClass($minimal); }
            $("#btnDensityToggle").blur()
        });
    </script>
}